@use '../abstracts/' as *;

table.basic {
    font-family: var(--ff-serif);
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.05);

    @include mq(large) {
        width: 60%;
    }

    &.wider {
        @include mq(large) {
            width: 100%;
        }
    }

    tr:nth-child(2n-1) {
        background-color: rgba(0, 0, 0, 0.05);
        margin-bottom: 0.25em;
    }

    td {
        padding: 0.2em 0.5em;

        @include mqmax(small) {
            font-size: var(--fs-350);
        }
    }

    td:not(:first-child) {
        width: 35%;
    }
}