@use '../abstracts/' as *;

.button {
    display: inline-block;
    width: fit-content;
    min-width: 12vw;

    &.length-fit-content {
        min-width: fit-content;
    }

    @include mqmax(small) {
        min-width: 40vw;
    }

    height: 42px;
    padding: 3px 2em;
    border-radius: 10px;
    border: 1px solid #ccc;
    position: relative;

    &.slim {
        height: 35px;
        padding: 3px 1.7em;
    }

    /* Label */
    font-family: var(--ff-sans);
    font-size: var(--fs-300);
    font-weight: var(--fw-light);
    color: hsl(var(--clr-neutral-200));
    text-shadow: rgba(10, 10, 10, 0.2) 1px 2px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &.inline-button {
        display: inline-flex;
    }

    // mobile only
    @include mqmax(small) {
        font-weight: var(--fw-normal);
    }
}

.button.stretch {
    width: 100%;
}

.button.center {
    margin-left: auto;
    margin-right: auto;
}

.button .glare {
    position: absolute;
    top: 0;
    border-radius: 5px 5px 0 0;
    height: 3px;
    width: 97%;
    padding: 8px 0;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.12);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 95%, from(rgba(255, 255, 255, 0.65)), to(rgba(255, 255, 255, 0)));
    /* for FF 3.6 */
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.65) 0%, rgba(255, 255, 255, 0) 95%);
}

.button:hover {
    cursor: pointer;
}

.button.inactive:hover {
    cursor: not-allowed;
}