@use '../abstracts/' as *;

.zoom-in {
    opacity: 0;
    transform: scale(0.75);
    transition: transform 700ms ease-in-out, opacity 700ms ease-in-out
}

.zoom-in.appear {
    opacity: 1;
    transform: scale(1);
}
