// primary: mud red
// secondary: bright red
// accent: salmon
// --------
// primary-450: primary-bg (Sanity: Brick Red)
// primary-900: logo
// --------
// secondary-450: tagline bg
// secondary-500: nav item in the top menu
// secondary-525: footer bg (Sanity: NG Red)
// secondary-550: h1, h2, h3, active nav item, underline nav item, red body text
// --------
// accent-200: salmon (Sanity: Salmon Pink)

$colours: (
	neutral: (100: 0 0% 100%,
		200: 0 0% 90%,
		225: 0 0% 88%,
		250: 0 0% 80%,
		275: 0 0% 75%,
		300: 0 0% 70%,
		400: 0 0% 60%,
		500: 0 0% 50%,
		600: 0 0% 40%,
		700: 0 0% 30%,
		750: 0 0% 22%,
		775: 0 0% 15%,
		800: 0 0% 10%,
		850: 0 0% 5%,
		900: 0 0% 0%,
	),
	primary: (100: 0 86% 44%,
		200: 0 86% 42%,
		300: 0 86% 40%,
		400: 0 86% 38%,
		450: 0 86% 36%,
		500: 0 86% 34%,
		550: 0 86% 32%,
		575: 0 86% 30%,
		860: 0 86% 28%,
		700: 0 86% 26%,
		800: 0 86% 22%,
		900: 0 100% 37.3%,
	),
	secondary: (100: 357 75% 90%,
		200: 357 75% 80%,
		300: 357 75% 70%,
		400: 357 75% 60%,
		450: 357 75% 55%,
		500: 357 75% 50%,
		525: 357 75% 48%,
		550: 357 75% 45%,
		600: 357 75% 40%,
		700: 357 75% 30%,
		800: 357 75% 20%,
		900: 357 75% 10%,
	),
	accent: (100: 0 75% 100%,
		200: 0 75% 97%,
		300: 0 75% 95%,
		400: 0 75% 92%,
		500: 0 75% 90%,
		600: 0 75% 88%,
		700: 0 75% 85%,
		800: 0 75% 82%,
		900: 0 75% 80%,
	),

);