$logo-height: 5.1em;
// $logo-height-mob: 3.5em;
$logo-height-mob: 10vh;
$logo-height-sticking: 3.5em;
// $logo-height-sticking-mob: 2.5em;
$logo-height-sticking-mob: 7vh;
$icon-height: 1.75em;
$icon-height-vvsml: 0.7em;
$icon-height-vsml: 1.1em;
$icon-height-sml: 1.4em;
$icon-height-med: 1.55em;
$icon-height-mob: 1em;
$primary-header-topbot-padding: 0.65rem;