$fw-bold: "bold";
$fw-bolder: "bolder";
$fw-light: "light";

// $fw-serif-light: 300;
$fw-serif-normal: 400;
$fw-serif-medium: 500;
$fw-serif-semibold: 600;

$fw-sans-normal: 400;
$fw-sans-light: 300;