$font-sizes: (
	small (90: 0.625rem,
		100: 0.625rem,
		150: 0.7rem,
		200: 0.7625rem,
		250: 0.825rem,
		300: 0.8975rem,
		350: 1rem,
		375: 1.08rem,
		400: 1.125rem,
		450: 1.22rem,
		475: 1.23rem,
		500: 1.25rem,
		510: 1.3rem,
		525: 1.4rem,
		530: 1.45rem,
		550: 1.5rem,
		575: 1.6rem,
		600: 1.75rem,
		650: 2rem,
		700: 2.25rem,
		750: 2.5rem,
		800: 2.75rem,
		850: 3rem,
		900: 3.25rem,
		950: 3.5rem,
		1000: 3.75rem,
	),
	medium (90: 0.65rem,
		100: 0.725rem,
		150: 0.8rem,
		200: 0.875rem,
		250: 0.88rem,
		300: 1rem,
		350: 1.05rem,
		375: 1.08rem,
		400: 1.125rem,
		450: 1.22rem,
		475: 1.275rem,
		500: 1.325rem,
		525: 1.4rem,
		530: 1.5rem,
		550: 1.66rem,
		575: 1.75rem,
		600: 2rem,
		650: 2.35rem,
		700: 2.75rem,
		750: 3rem,
		800: 3.25rem,
		850: 3.55rem,
		900: 4rem,
		950: 4.5rem,
		1000: 4.8rem,
	),
	large (90: 0.6rem,
		100: 0.725rem,
		150: 0.8rem,
		200: 0.875rem,
		250: 0.925rem,
		300: 1rem,
		350: 1.05rem,
		375: 1.08rem,
		400: 1.125rem,
		450: 1.22rem,
		475: 1.275rem,
		500: 1.325rem,
		525: 1.42rem,
		530: 1.5rem,
		550: 1.66rem,
		575: 1.95rem,
		600: 2rem,
		650: 2.35rem,
		700: 2.75rem,
		750: 3rem,
		800: 3.5rem,
		850: 4.25rem,
		900: 5rem,
		950: 5.5rem,
		1000: 6.25rem,
	)
);