$spacer: 1em;
// $flow-spacer: 1rem;
// $flow-spacer: 0.75rem;
$flow-spacer: 0.7em;
$flow-spacer-close: 0.7rem;
// $flow-spacer-top: 2.8em;
$flow-spacer-top: 1.4em;
// $flow-spacer-bottom: 4em;
$flow-spacer-bottom: 1.75em;
// $flow-spacer-extra: 2.2rem;
$flow-spacer-extra: 1.2em;
// $flow-spacer-h1: 2.4em;
$flow-spacer-p: 0.85em;
$flow-spacer-h1: 0.68em;
$flow-spacer-h1-top-pad: 0.4em;
// $flow-spacer-large: 2.6em;
// $flow-spacer-large: 1.3em;
$flow-spacer-large: 0.7em;
$flow-spacer-nontitletext: 0.6em;
// $column-gap: 1.15em;
$column-gap: 0.7em;
$narrow-column-gap: 0.6em;
$wide-column-gap: 2.75em;
$gap-from-bottom: 2vh;