$spacer: 1em;
$flow-spacer: 1rem;
$flow-spacer-close: 0.7rem;
$flow-spacer-top: 2.8em;
$flow-spacer-bottom: 4em;
$flow-spacer-extra: 2.2rem;
$flow-spacer-h1: 2.4em;
$flow-spacer-h1-top-pad: 0.4em;
$flow-spacer-large: 2.6em;
$flow-spacer-nontitletext: 0.6em;
$column-gap: 1.15em;
$narrow-column-gap: 0.6em;
$wide-column-gap: 2.75em;
$gap-from-bottom: 2vh;