<div class="nav-deck">
    <ul class="nav-list">
        <li data-dropdown>
            <div class="nav-item"
                 data-dropdown-link>
                {% if parentMenuItem and parentMenuItem == "About" %}
                    <label class="nav-item-name active item-chevron"
                       for="item-A1">About</label>
                {% else %}
                    <label class="nav-item-name item-chevron"
                       for="item-A1">About</label>
                {% endif %}
                <input type="checkbox"
                       id="item-A1"
                       name="item-A1"
                       class="m-menu-checkbox" />
                <ul class="nav-sublist">
                    <li>
                        {% if '/about' in page.url %}
                            <a href="/about"
                           class="sublist-item-active">About Us</a>
                        {% else %}
                            <a href="/about">About Us</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if '/history' in page.url %}
                            <a href="/history"
                           class="sublist-item-active">History</a>
                        {% else %}
                            <a href="/history">History</a>
                        {% endif %}
                    </li>
                    <li data-dropdown-lvl2>
                        <div class="nav-item-lvl2"
                             data-dropdown-link>
                            <div class="nav-item-name-lvl2">
                                {% if '/space' in page.url %}
                                    <a href="/space"
                                   class="sublist-item-active">Space</a>
                                {% else %}
                                    <a href="/space">Space</a>
                                {% endif %}
                            </div>
                            <ul class="nav-sublist-lvl2">
                                <li>
                                    <a href="/space/#temple">Temple</a>
                                </li>
                                <li>
                                    <a href="/space/#yoga">Yoga Centre</a>
                                </li>
                                <li>
                                    <a href="/space/#odissi">Odissi Gurukul</a>
                                </li>
                                <li>
                                    <a href="/space/#dining">Dining Hall</a>
                                </li>
                                <li>
                                    <a href="/space/#cottages">Cottages</a>
                                </li>
                                <li>
                                    <a href="/space/#kula">Kula</a>
                                </li>
                                <li>
                                    <a href="/space/#amphitheatre">Amphitheatre</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li data-dropdown-lvl2>
                        <div class="nav-item-lvl2"
                             data-dropdown-link>
                            <div class="nav-item-name-lvl2">
                                {% if '/future' in page.url %}
                                    <a href="/future"
                                   class="sublist-item-active">Future</a>
                                {% else %}
                                    <a href="/future">Future</a>
                                {% endif %}
                            </div>
                            <ul class="nav-sublist-lvl2">
                                <li>
                                    <a href="/future/#arts-centre">Performing Arts Centre</a>
                                </li>
                                <li>
                                    <a href="/future/#resource-centre">Nrityagyān Resource Centre</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        {% if '/board' in page.url %}
                            <a href="/board"
                           class="sublist-item-active">Board of Trustees</a>
                        {% else %}
                            <a href="/board">Board of Trustees</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </li>
        <li data-dropdown>
            <div class="nav-item"
                 data-dropdown-link>
                {% if parentMenuItem and parentMenuItem == "Visit" %}
                    <label class="nav-item-name active item-chevron"
                       for="item-A2">Visit</label>
                {% else %}
                    <label class="nav-item-name item-chevron"
                       for="item-A2">Visit</label>
                {% endif %}
                <input type="checkbox"
                       id="item-A2"
                       name="item-A2"
                       class="m-menu-checkbox" />
                <ul class="nav-sublist">
                    <li>
                        {% if '/visit' in page.url %}
                            <a href="/visit"
                           class="sublist-item-active">Visit Us</a>
                        {% else %}
                            <a href="/visit">Visit Us</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if '/findyourway' in page.url %}
                            <a href="/findyourway"
                           class="sublist-item-active">Find Your Way</a>
                        {% else %}
                            <a href="/findyourway">Find Your Way</a>
                        {% endif %}
                    </li>
                    <li>
                        <a href="https://www.google.co.in/maps/@13.1615025,77.4593968,3a,60y,90t/data=!3m6!1e1!3m4!1s-9UefyZY73ob-pFS-YGTlA!2e0!7i13312!8i6656"
                           target="_blank">Virtual Tour</a>
                    </li>
                </ul>
            </div>
        </li>
        <li data-dropdown>
            <div class="nav-item"
                 data-dropdown-link>
                {% if parentMenuItem and parentMenuItem == "Support" %}
                    <label class="nav-item-name active large-font item-chevron"
                       for="item-A3">Support
                </label>
                {% else %}
                    <label class="nav-item-name large-font item-chevron"
                       for="item-A3">Support
                </label>
                {% endif %}
                <input type="checkbox"
                       id="item-A3"
                       name="item-A3"
                       class="m-menu-checkbox" />
                <ul class="nav-sublist">
                    <li>
                        {% if '/support' in page.url %}
                            <a href="/support"
                           class="sublist-item-active">Support Us</a>
                        {% else %}
                            <a href="/support">Support Us</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if '/donate' in page.url %}
                            <a href="/donate"
                           class="sublist-item-active">Donate</a>
                        {% else %}
                            <a href="/donate">Donate</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if '/corpusfund' in page.url %}
                            <a href="/corpusfund"
                           class="sublist-item-active">Support the Corpus Fund</a>
                        {% else %}
                            <a href="/corpusfund">Support the Corpus Fund</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if '/otherwaystogive' in page.url %}
                            <a href="/otherwaystogive"
                           class="sublist-item-active">Other Ways to Give</a>
                        {% else %}
                            <a href="/otherwaystogive">Other Ways to Give</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if '/sponsorship' in page.url %}
                            <a href="/sponsorship"
                           class="sublist-item-active">Sponsorship</a>
                        {% else %}
                            <a href="/sponsorship">Sponsorship</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="nav-item">
                {% if parentMenuItem and parentMenuItem == "Press" %}
                    <span class="nav-item-name active">
                        <a href="/press">Press</a>
                    </span>
                {% else %}
                    <span class="nav-item-name">
                        <a href="/press">Press</a>
                    </span>
                {% endif %}
            </div>
        </li>
        {# TODO: Unable to scroll the mobile menu to access more items #}
    </ul>
    <ul class="nav-list">

        <li data-dropdown>
            <div class="nav-item"
                 data-dropdown-link>
                {% if parentMenuItem and parentMenuItem == "Ensemble" %}
                    <label class="nav-item-name active item-chevron"
                       for="item-B1">Ensemble</label>
                {% else %}
                    <label class="nav-item-name item-chevron"
                       for="item-B1">Ensemble</label>
                {% endif %}
                <input type="checkbox"
                       id="item-B1"
                       name="item-B1"
                       class="m-menu-checkbox" />
                <ul class="nav-sublist">
                    <li>
                        {% if '/ensemble' in page.url %}
                            <a href="/ensemble"
                           class="sublist-item-active">Nrityagram Ensemble</a>
                        {% else %}
                            <a href="/ensemble">Nrityagram Ensemble</a>
                        {% endif %}
                    </li>
                    <li data-dropdown-lvl2>
                        <div class="nav-item-lvl2"
                             data-dropdown-link>
                            <div class="nav-item-name-lvl2">
                                {% if '/repertoire' in page.url %}
                                    <a href="/repertoire"
                                   class="sublist-item-active">Répertoire</a>
                                {% else %}
                                    <a href="/repertoire">Répertoire</a>
                                {% endif %}
                            </div>
                            <ul class="nav-sublist-lvl2">
                                <li>
                                    <a href="/repertoire/#sri">Śrī: In Search of the Goddess</a>
                                </li>
                                <li>
                                    <a href="/repertoire/#ansh">Ansh</a>
                                </li>
                                <li>
                                    <a href="/repertoire/#sspace">Sacred Space</a>
                                </li>
                                <li>
                                    <a href="/repertoire/#pratima">Pratimā: Reflection</a>
                                </li>
                                <li>
                                    <a href="/repertoire/#sriyah">Śriyaḥ</a>
                                </li>
                                <li>
                                    <a href="/repertoire/#samhara">Saṃhāra</a>
                                </li>
                                <li>
                                    <a href="/repertoire/#samyoga">Saṃyoga</a>
                                </li>
                                <li>
                                    <a href="/repertoire/#lovelong">Songs of Love and Longing</a>
                                </li>
                                <li>
                                    <a href="/repertoire/#yadu">Yadunandana</a>
                                </li>
                                <li>
                                    <a href="/repertoire/#ahuti">Āhuti</a>
                                </li>
                                <li>
                                    <a href="/repertoire/#vinati">Vinati: Songs from the Gita Govinda</a>
                                </li>
                                <li>
                                    <a href="/repertoire/#ahutireimagined">Āhuti Reimagined</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        {% if '/performancemap' in page.url %}
                            <a href="/performancemap"
                           class="sublist-item-active">Performances</a>
                        {% else %}
                            <a href="/performancemap">Performances</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </li>
        <li data-dropdown>
            <div class="nav-item"
                 data-dropdown-link>
                {% if parentMenuItem and parentMenuItem == "School" %}
                    <label class="nav-item-name active item-chevron"
                       for="item-B2">School</label>
                {% else %}
                    <label class="nav-item-name item-chevron"
                       for="item-B2">School</label>
                {% endif %}
                <input type="checkbox"
                       id="item-B2"
                       name="item-B2"
                       class="m-menu-checkbox" />
                <ul class="nav-sublist">
                    <li>
                        {% if '/gurukula' in page.url %}
                            <a href="/gurukula"
                           class="sublist-item-active">Nrityagram Gurukula</a>
                        {% else %}
                            <a href="/gurukula">Nrityagram Gurukula</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if '/danceprofessional' in page.url %}
                            <a href="/danceprofessional"
                           class="sublist-item-active">Dance Professionals</a>
                        {% else %}
                            <a href="/danceprofessional">Dance Professionals</a>
                        {% endif %}
                    </li>
                    <li data-dropdown-lvl2>
                        <div class="nav-item-lvl2"
                             data-dropdown-link>
                            <div class="nav-item-name-lvl2">
                                {% if '/danceunlimited' in page.url %}
                                    <a href="/danceunlimited"
                                   class="sublist-item-active">Dance Unlimited</a>
                                {% else %}
                                    <a href="/danceunlimited">Dance Unlimited</a>
                                {% endif %}
                            </div>
                            <ul class="nav-sublist-lvl2">
                                <li>
                                    <a href="/danceunlimited/#residential">Residential Workshops</a>
                                </li>
                                <li>
                                    <a href="/danceunlimited/#parttime">Non-Residential Training</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li data-dropdown>
            <div class="nav-item"
                 data-dropdown-link>
                {% if parentMenuItem and parentMenuItem == "Community" %}
                    <label class="nav-item-name active item-chevron"
                       for="item-B3">Community</label>
                {% else %}
                    <label class="nav-item-name item-chevron"
                       for="item-B3">Community</label>
                {% endif %}
                <input type="checkbox"
                       id="item-B3"
                       name="item-B3"
                       class="m-menu-checkbox" />
                <ul class="nav-sublist">
                    <li>
                        {% if '/community' in page.url %}
                            <a href="/community"
                           class="sublist-item-active">Nrityagram Community</a>
                        {% else %}
                            <a href="/community">Nrityagram Community</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if '/village-outreach' in page.url %}
                            <a href="/village-outreach"
                           class="sublist-item-active">Village Outreach</a>
                        {% else %}
                            <a href="/village-outreach">Village Outreach</a>
                        {% endif %}
                    </li>
                    <li data-dropdown-lvl2>
                        <div class="nav-item-lvl2"
                             data-dropdown-link>
                            <div class="nav-item-name-lvl2">
                                {% if '/popularising-the-arts' in page.url %}
                                    <a href="/popularising-the-arts"
                                class="sublist-item-active">Popularising the Arts</a>
                                {% else %}
                                    <a href="/popularising-the-arts">Popularising the Arts</a>
                                {% endif %}
                            </div>
                            <ul class="nav-sublist-lvl2">
                                <li>
                                    <a href="/popularising-the-arts/#danceaware">Dance Awareness</a>
                                </li>
                                <li>
                                    <a href="/popularising-the-arts/#informance">Informance</a>
                                </li>
                                <li>
                                    <a href="/popularising-the-arts/#ajji">Ajji Kathegalu</a>
                                </li>
                                <li>
                                    <a href="/popularising-the-arts/#vasantahabba">Vasantahabba</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        {% if '/kula-the-artiste-residence' in page.url %}
                            <a href="/kula-artistes-residence"
                           class="sublist-item-active">Kula: Artistes’ Residence</a>
                        {% else %}
                            <a href="/kula-artistes-residence">Kula: Artistes’ Residence</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if '/building-a-dance-community' in page.url %}
                            <a href="/building-a-dance-community"
                           class="sublist-item-active">Building a Dance Community</a>
                        {% else %}
                            <a href="/building-a-dance-community">Building a Dance Community</a>
                        {% endif %}
                    </li>
                    <!-- <li data-dropdown-lvl2 >
                        <div class="nav-item-lvl2" data-dropdown-link>
                            <div class="nav-item-name-lvl2">
                                {% if '/community' in page.url %}
                                    <a href="/community" class="sublist-item-active">Nrityagram Community</a>
                                {% else %}
                                    <a href="/community">Nrityagram Community</a>
                                {% endif %}
                            </div>
                            <ul class="nav-sublist-lvl2">
                                <li>
                                    <a href="/community/#villageoutreach">Village Outreach</a>
                                </li>
                                <li>
                                    <a href="/community/#popularisingarts">Popularising the Arts</a>
                                </li>
                                <li>
                                    <a href="/community/#supportingartists">Supporting Artistes</a>
                                </li>
                                <li>
                                    <a href="/community/#danceaware">Dance Awareness</a>
                                </li>
                                <li>
                                    <a href="/community/#quietspace">Quiet Space</a>
                                </li>
                                <li>
                                    <a href="/community/#dancecommons">Dance Commons</a>
                                </li>
                            </ul>
                        </div>
                    </li> -->
                </ul>
            </div>
        </li>
        <li data-dropdown>
            <div class="nav-item"
                 data-dropdown-link>
                {% if parentMenuItem and parentMenuItem == "People" %}
                    <label class="nav-item-name active item-chevron"
                       for="item-B4">People</label>
                {% else %}
                    <label class="nav-item-name item-chevron"
                       for="item-B4">People</label>
                {% endif %}
                <input type="checkbox"
                       id="item-B4"
                       name="item-B4"
                       class="m-menu-checkbox" />
                <ul class="nav-sublist">
                    <li>
                        {% if '/protima' in page.url %}
                            <a href="/protima"
                           class="sublist-item-active">Protima Gauri</a>
                        {% else %}
                            <a href="/protima">Protima Gauri</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if '/surupa' in page.url %}
                            <a href="/surupa"
                           class="sublist-item-active">Surupa Sen</a>
                        {% else %}
                            <a href="/surupa">Surupa Sen</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if '/pavithra' in page.url %}
                            <a href="/pavithra"
                           class="sublist-item-active">Pavithra Reddy</a>
                        {% else %}
                            <a href="/pavithra">Pavithra Reddy</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if '/lynne' in page.url %}
                            <a href="/lynne"
                           class="sublist-item-active">Lynne Fernandez</a>
                        {% else %}
                            <a href="/lynne">Lynne Fernandez</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <div class="sticky-bottom-nav">
        <a href="tel:+918028466312">
            <img src="/img/phone-red.svg"
                 class="icon med-sml"
                 alt="Phone Icon">
        </a>
        <a href="mailto:info@nrityagram.org">
            <img src="/img/email-red.svg"
                 class="icon med-sml"
                 alt="Email Icon">
        </a>
        <a href="https://www.facebook.com/nrityagram">
            <img src="/img/fb-red.svg"
                 class="icon med-sml"
                 alt="Facebook Icon">
        </a>
        <a href="https://www.instagram.com/nrityagram/">
            <img src="/img/insta-red.svg"
                 class="icon med-sml"
                 alt="Instagram Icon">
        </a>
        <a href="https://www.youtube.com/@Nrityagram">
            <img src="/img/youtube-red.svg"
                 class="icon med-sml"
                 alt="Youtube Icon">
        </a>
    </div>

</div>