@use '../abstracts/' as *;

ul {
    font-family: var(--ff-serif);
    // bullets flush to the left
    list-style: disc outside;
    margin-left: -1em;

    &.basic {
        margin-top: 0.25em;
    }

    &.extra-margin {
        margin-top: 0.25em;

        >li:not(:first-child) {
            margin-top: 0.5em;
        }
    }

    &.no-bullets {
        list-style-type: none;
        margin-left: -2em;
    }
}

ol.basic {
    font-family: var(--ff-serif);
    list-style-position: outside;
    margin-left: -1em;
    margin-block: 0;

    li:not(:first-child) {
        margin-top: 0.5em;
    }
}