@use '../abstracts/' as *;

.cta-desk {
    cursor: pointer;
    height: 15vh;
    width: fit-content;
    overflow: hidden;
    position: absolute;
    bottom: 5.7vh;
    right: 3vw;

    background-color: rgba(0, 0, 0, 0.6);
    border: 0.08rem solid hsl(var(--clr-neutral-300));
    // border-radius: 12px;
    color: hsl(var(--clr-neutral-100));

    font-family: var(--ff-serif);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
        height: 100%;
        width: auto;
        border-right: 0.08rem solid hsl(var(--clr-neutral-775));
    }

    opacity: 0;
    // Animation -- fade-in + ease-out
    animation: simpleFadeIn ease-out 3s forwards;
    animation-delay: 1000ms;

    .cta-textbox {
        min-width: 15vw;
    }

    .cta-line-lrg {
        padding-top: 0.5rem;
        padding-bottom: 0;
        padding-inline: 0.8rem;
        font-size: var(--fs-530);
    }

    .cta-line-sml {
        padding-top: 0.2rem;
        padding-bottom: 0;
        padding-inline: 0.8rem;
        font-size: var(--fs-300);

        &:last-child {
            padding-bottom: 0.5rem;
        }
    }

    // For tablet and below
    // @include mqmax(large) {
    // @media (orientation: landscape) {
    //     display: flex;
    //     bottom: 20vh;
    //     left: 50%;
    //     transform: translateX(-50%);
    // }

    // For ipad and below, hide it
    // @include mqmax(medium) {
    @media (orientation: portrait) {
        display: none;
    }

}

@keyframes simpleFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

// On mobile and tablet,
// 1. hide CTA image
// 2. Display CTA text on a red band at the bottom of the masthead
// 3. Banner tagline+credit will always sit above the red band CTA
.cta-mobile {
    display: none;

    // @include mqmax(medium) {
    @media (orientation: portrait) {
        display: block;
        color: hsl(var(--clr-neutral-100));
        text-align: center;

        img {
            display: none;
        }

        border-radius: 0;
        border: none;
        background-color: hsl(var(--clr-secondary-525));
        height: fit-content;
        // height: 17.5vh;
        width: 100vw;
        // Remove fade-in animation
        opacity: 1;
        animation: none;

        .cta-line-lrg {
            padding-top: 0.08rem;
            font-size: var(--fs-500);
            font-weight: var(--fw-serif-medium);
        }

        .cta-line-sml {
            padding-top: 0;
            font-family: var(--ff-sans);
            font-size: var(--fs-300);
            font-weight: var(--fw-sans-normal);

            &:last-child {
                padding-bottom: 0.4rem;
            }
        }

    }
}