@use '../abstracts/' as *;
@use '../utilities/chevron' as *;

#banner-container {
    container-type: inline-size;
}

#banner-container .banner-image {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    width: 100%;

    img {
        width: 100%;
        height: 101vh;
        object-fit: cover;
    }

    img.raisemast {
        width: 100%;
        height: calc(100vh - var(--flow-spacer));
        object-fit: cover;
    }

    opacity: 0;
    // Animation -- fade-in + ease-out
    animation: simpleFadeIn ease-out 3s forwards;
}

.banner-image-credit {
    position: absolute;
    writing-mode: vertical-rl;
    z-index: 50;
    font-size: var(--fs-200);
    font-family: var(--ff-sans);
    letter-spacing: var(--ls-wide);
    color: hsl(var(--clr-neutral-200));
    text-shadow: 1px 1.5px 1.5px hsl(var(--clr-neutral-700));

    right: 2px;
    bottom: calc(var(--gap-from-bottom) * 4.5);

    @include mq(small) {
        bottom: calc(var(--gap-from-bottom) * 3);
    }

    @include mq(large) {
        bottom: var(--gap-from-bottom);
        right: 15px;
        color: hsl(var(--clr-neutral-300));
        font-weight: var(--fw-light);
        // letter-spacing: var(--ls-normal);
    }

    // On mobile, >>>>>>>> COMMENT OUT WHEN CTA ABSENT
    // 1. raise the banner image credit above the CTA red band
    // @include mqmax(small) {
    //     bottom: 20vh;
    // }

    opacity: 0;
    // Fade-in the credit after the banner image loads
    animation: fadeIn linear 25ms forwards;
    animation-delay: 750ms;
}

.banner-image-credit::after {
    content: 'Photo: ' attr(data-image-credit-mob);

    @include mq(medium) {
        content: 'Photo: ' attr(data-image-credit-tab);
    }

    @include mq(large) {
        content: 'Photo: ' attr(data-image-credit-desk);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.banner-tagline {
    position: absolute;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    bottom: 0;

    // background-color: rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));

    padding: 1.5em 0.15em 9vh;

    font-size: var(--fs-500);
    font-family: var(--ff-serif);
    line-height: 1.3;
    color: hsl(var(--clr-neutral-100));
    text-shadow: 0 1px 1px hsl(var(--clr-neutral-800));
    text-align: center;

    @include mq(medium) {
        padding-left: 10vw;
        padding-right: 10vw;
        padding-bottom: 8vh;
        font-size: var(--fs-550);
        letter-spacing: var(--ls-semi-wide);
        line-height: 1.2;
    }

    @include mq(large) {
        padding-bottom: 5.7vh;
        // background-color: transparent;
        // background-image: linear-gradient(to bottom, 
        // rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.3));
        font-size: var(--fs-525);
    }

    // On mobile, >>>>>>>> COMMENT OUT WHEN CTA ABSENT
    // 1. raise the tagline + credit above the CTA red band
    // @include mqmax(small) {
    //     bottom: 10vh;
    // }
}

.banner-tagline--text {
    max-width: 90vw;

    @include mq(large) {
        max-width: 42vw;
    }
}

.banner-tagline--credit {
    font-size: var(--fs-300);

    @include mq(medium) {
        font-size: var(--fs-500);
        line-height: 1.2;
    }

    @include mq(large) {
        font-size: var(--fs-525);
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-8px);
    }

    60% {
        transform: translateY(-4px);
    }
}

.banner-scroll-arrow {
    @extend .chevron-down;
    width: 100%;
    position: absolute;
    bottom: 9vh;
    display: flex;
    justify-content: center;

    @include mq(medium) {
        bottom: 6vh;
    }

    @include mq(large) {
        bottom: 1.5vh;
    }

    animation: bounce 4s infinite;
}

.banner-title {
    position: absolute;
    right: 7vw;
    bottom: 13vh;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    text-align: right;

    // To display line breaks from text area in Sanity 
    white-space: pre-line;

    font-size: var(--fs-1000);
    line-height: 1.1em;
    font-family: var(--ff-serif);
    font-weight: var(--fw-light);
    color: hsl(var(--clr-neutral-100));
    text-shadow: 0 2px 3px hsl(var(--clr-neutral-800));

    @include mq(medium) {
        right: 5vw;
        bottom: 11vh;
    }

    opacity: 0;
    // Animation -- fade-in + translateY + ease-out
    animation: fadeInBannerTitle ease-out 2s forwards;
    animation-delay: 1500ms;
}

@keyframes fadeInBannerTitle {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.banner-subtitle {
    font-size: var(--fs-550);
    line-height: 0.75;
}

.banner-tagline-cta-combo {
    @include mqmax(medium) {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        bottom: 0;
        justify-content: center;
        align-items: center;

        .banner-tagline {
            position: static;
        }
    }
}


// Animated Scroll Arrow (red circle with white arrow inside)
// https://codepen.io/achanda007/pen/wvbrgKY
$circle-w: 25px;
$circle-bg: #B31921;
// $circle-bg: rgba(179, 25, 33, 0.8);
$arrow-bg: #fff;
// $arrow-bg: rgba(255, 255, 255, 0.8);
$body-bg: #000;
$bezier: cubic-bezier(0.77, 0, 0.175, 1);
$bezier-bounce: cubic-bezier(0.87, -0.41, 0.19, 1.44);
$anim-timing: 3s;

.red-circle-scroll-arrow {
    text-align: center;
    width: $circle-w;
    height: $circle-w;
    position: absolute;
    // bottom: 5.75vh;
    left: 46.5%;
    scroll-behavior: smooth; // doesn't work
    // hide for portrait orientation
    display: none;

    &:hover {
        cursor: pointer;
    }

    @media (orientation: landscape) {
        display: block;
        bottom: 5vh;
        left: 49%;

        @include mq(large) {
            bottom: 2vh;
        }
    }


    opacity: 0;
    // Animation -- fade-in + ease-out
    animation: simpleFadeIn ease-out 3s forwards;
    animation-delay: 3500ms;

    .circle {
        background: $circle-bg;
        // border: 2px solid $circle-bg;
        border-radius: 50%;
        display: inline-block;
        height: $circle-w;
        width: $circle-w;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        transform-origin: 0%;
    }

    .st-arrow {
        fill: $arrow-bg;
        animation: scrolly $anim-timing $bezier forwards infinite;
        perspective: 9000px;
        transform: translateZ(0);
        transform-origin: bottom;
    }
}

.scroll-arrow-svg {
    z-index: 9;
    position: relative;
}

@keyframes simpleFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scrolly {
    0% {
        transform: translate3d(0, -150%, 0) rotateX(90deg) scale(0.5) skewX(3deg);
    }

    30% {
        transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
    }

    70% {
        transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
    }

    90% {
        transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
    }

    100% {
        transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
    }
}