@use '../abstracts/' as *;

.image-plus {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    // width: fit-content;
    width: 100%;
    height: auto;
    // zero margin top and bottom
    margin: 0 auto;

    &.top-flow {
        // margin top slighter larger than flow-spacer
        margin-top: var(--flow-spacer-extra, var(--spacer));
        margin-bottom: 0;
    }

    &.top-flow-reduce {
        // smaller margin top
        margin-top: var(--flow-spacer, var(--spacer)) !important;
    }

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    &.shrink-desk {
        @include mq(medium) {
            width: 75%;
            margin: 0 auto;
            border-radius: 12px;
        }
    }

    &.shrink-mob {
        @include mqmax(small) {
            width: 75%;
            margin: 0 auto;
            border-radius: 12px;
        }
    }


    // mobile
    @include mqmax(medium) {
        //make the image stretch edge-to-edge 
        margin-left: var(--full-bleed-margin-ultra);
        width: 100vw;
        height: auto;
        border-radius: 0;

        img {
            width: 100%;
            height: auto;
        }
    }

    &.link {

        &:hover,
        &:active {
            cursor: pointer;
        }

        // mobile
        @include mqmax(medium) {
            margin: 0 auto;
            width: 100%;
            border-radius: 12px;
        }
    }

    .credit {
        position: absolute;
        writing-mode: vertical-rl;
        font-size: var(--fs-100);
        font-family: var(--ff-sans);
        color: hsl(var(--clr-neutral-225));
        text-shadow: 0 1px 1.5px hsl(var(--clr-neutral-500));

        right: 2px;
        bottom: 15px;

        z-index: 2;

        @include mq(medium) {
            font-size: var(--fs-100);
        }

        @include mq(large) {
            font-weight: var(--fw-light);
        }
    }

    .credit::after {
        content: 'Photo: ' attr(data-image-credit);
    }

    .caption {
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        bottom: 1rem;
        padding-left: 1rem;

        font-size: var(--fs-200);
        font-family: var(--ff-serif);
        font-weight: var(--fw-light);
        color: hsl(var(--clr-neutral-100));
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        text-align: center;

        &.left-align {
            text-align: left;
        }
    }

    &.sharp-left {
        // make the left edge straight
        border-radius: 0 12px 12px 0;
    }

    &.sharp-right {
        // make the right edge straight
        border-radius: 12px 0 0 12px;
    }

    &.sharp-top {
        // make the top edge straight
        border-radius: 0 0 12px 12px;
    }

    &.sharp-bottom {
        // make the bottom edge straight
        border-radius: 12px 12px 0 0;
    }

    &.sharp {
        border-radius: 0;
    }

    &.card {
        font-family: var(--ff-serif);
        box-shadow: 0 5px 12px 3px hsl(0deg 0% 0% / 0.5);

        img {
            aspect-ratio: 1.56;
            transform: scale(1);
            transition: transform 1200ms ease-in-out;
        }

        &:hover,
        &:active {
            cursor: pointer;

            img {
                transform: scale(1.05);
            }
        }

        // mobile
        @include mqmax(medium) {
            margin: 0 auto;
            width: 100%;
            border-radius: 12px;
        }

        .card-title {
            position: absolute;
            bottom: 0;
            left: 0;
            padding-left: 15px;
            padding-bottom: 15px;
            width: 100%;
            font-size: var(--fs-750);
            color: hsl(var(--clr-neutral-100));
            text-shadow: 0 2px 3px hsl(var(--clr-neutral-800));
            background-image: linear-gradient(to bottom,
                    rgba(0, 0, 0, 0) 0%,
                    rgba(0, 0, 0, 0.3) 80%,
                    rgba(0, 0, 0, 0.45) 100%);
            line-height: 1.1;

            .sub-title {
                font-size: var(--fs-500);
                text-shadow: 0 1px 2px hsl(var(--clr-neutral-800));
                line-height: 1;
            }
        }

        &.size-md {
            box-shadow: 0 4px 8px 2px hsl(0deg 0% 0% / 0.5);

            .card-title {
                font-size: var(--fs-600);


                .sub-title {
                    font-size: var(--fs-450);
                }
            }
        }
    }
}