---
layout: layouts/page.njk
date: Last Modified
eleventyExcludeFromCollections: true
title: "Confirmation of Newsletter Subscription"
nobanner: true
---
<div class="container">
  <div class="wrapper flow">
    <h3 class="center">Your subscription has been successful!</h3>
    <div class="image-plus shrink-desk">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1729499213/imac-confirm_v8sjyo.png",
      "Newsletter Subscription Successful",
      ["560", "768", "1046"] %}
    </div>
    <p class="center">
      You will shortly start receiving emails with updates on our artistic work,<br />
      behind-the-scenes glimpses of our dancers' training,<br />
      and opportunities to engage with us.
    </p>
    <p class="center">Please check your inbox and spam folder to ensure our email hasn't been filtered out.</p>
  </div>
</div>