---
layout: layouts/page.njk
eleventyNavigation:
key: page
order: 1
tags: page
date: Last Modified
parentMenuItem: "Support"
title: "Donate"
description: "Any amount you donate will make it possible for us to strengthen our institution. Nrityagram is a
one-of-a-kind collective of artistes, where dance is a way of life."
OGImage: "https://res.cloudinary.com/nrityagram/image/upload/v1588613881/donate_iwpz5s.jpg"
---
<div id="banner-container">
  <div class="banner-image">
    {% pictures 
      {"desk":"https://res.cloudinary.com/nrityagram/image/upload/v1588613881/donate_iwpz5s.jpg", 
      "tab":"https://res.cloudinary.com/nrityagram/image/upload/v1589077339/ipad/Donate_y5gy2s.jpg", 
      "mob":"https://res.cloudinary.com/nrityagram/image/upload/v1588613847/mobile/donate-mob_mezskh.jpg"}, 
      "Make a Donation", 
      {"mob": ["425"], "tab": ["768"], "desk":["1600"]}, {"desk":"65em", "tab":"50em", "mob":"35em"}, 
      "eager", "high" %}
  </div>
  <div class="banner-image-credit"
       data-image-credit-desk="Guillermo Consejo"
       data-image-credit-tab="Guillermo Consejo"
       data-image-credit-mob="Guillermo Consejo"></div>
  <div class="banner-title">
    Donate
  </div>
</div>
<div class="container">
  <div class="wrapper flow">
    <p>
      Your support is vital to Nrityagram.
    </p>
    <p>
      A Donation of any amount - even ₹500 or $10 - will make it possible for us to strengthen our institution, so that
      our artists can continue creation, performance and engagement programmes, and teachers can continue to offer dance
      outreach activities for children who are poorly served in this area.
    </p>
    <p>Thank you for making a Donation to Nrityagram today!</p>
    <br />
    <div class="open-modal modal-button">
      <div class="button red-plastic center">
        <div class="glare"></div>
        Make a Donation
      </div>
    </div>

    <!-- <p class="infotext center">
      We are happy to work with you on additional ideas that appeal to your funding interests and giving priorities.
      <br />
      Write to us at <a href="mailto:lynne@nrityagram.org" target="_blank" class="bodylink">lynne@nrityagram.org</a>
    </p> -->
  </div>
</div>
<div class="container accent-bg">
  <div class="wrapper ultra-wide flow flow-flushbottom">
    <div class="even-columns">
      <div class="left-column">
        <div class="image-plus card" onclick="location.href='/support';">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1570033128/support-us-banner_ejya2i.jpg",
          "Support Us Card",
          ["560", "768"] %}
          <div class="credit" data-image-credit="Uma Dhanwatey" ></div>
          <div class="card-title">Support Us</div>
        </div>
      </div>
      <div class="right-column">
        <div class="image-plus card" onclick="location.href='/corpusfund';">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1591009076/support-the-corpus-fund_gho51g.jpg",
          "Support the Corpus Fund Card",
          ["560", "768"] %}
          <div class="credit" data-image-credit="Shalini Jain" ></div>
          <div class="card-title">Support the<br />Corpus Fund</div>
        </div>
      </div>
    </div>
    <div class="even-columns">
      <div class="left-column">
        <div class="image-plus card" onclick="location.href='/otherwaystogive';">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1570033127/infrastructure-development_egkkk1.jpg",
          "Other Ways to Give Card",
          ["560", "768"] %}
          <div class="credit" data-image-credit="Sreedhar Vaidya" ></div>
          <div class="card-title">Other Ways<br />to Give</div>
        </div>
      </div>
      <div class="right-column">
        <div class="image-plus card" onclick="location.href='/sponsorship';">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1570033127/festivals-and-events_ec7zal.jpg",
          "Sponsorship Card",
          ["560", "768"] %}
          <div class="credit" data-image-credit="Shalini Jain" ></div>
          <div class="card-title">Sponsorship</div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper ultra-wide flow">
    <p class="infotext center">
      We are happy to work with you on additional ideas that appeal to your funding interests and giving priorities.<br />Write to us at
			<a href="mailto:lynne@nrityagram.org" target="_blank" class="bodylink">lynne@nrityagram.org</a>
    </p>
  </div>
</div>

<dialog id="donate-options"
        class="modal">
  <div class="wrapper flow flow-flushtop flow-flushbottom">
    <div class="modal-header">
      <h4>Select one</h4>
      <div class="close-button"
           aria-label="close">&#215;</div>
    </div>
    <div class="modal-content flow-inbetween">
      <div>
        <label for="india"
               class="radio">
          <input type="radio"
                 value="india"
                 name="nationality"
                 class="citizen-type"
                 id="india" />
          Citizen of India (Tax Deductible)
        </label>
      </div>
      <div>
        <label for="nri"
               class="radio">
          <input type="radio"
                 value="nri"
                 name="nationality"
                 class="citizen-type"
                 id="nri" />
          Non-Resident Indian (Tax Deductible)
        </label>
      </div>
      <div>
        <label for="usa"
               class="radio">
          <input type="radio"
                 value="usa"
                 name="nationality"
                 class="citizen-type"
                 id="usa" />
          Citizen of USA (Tax Deductible)
        </label>
      </div>
      <div>
        <label for="othercountry"
               class="radio">
          <input type="radio"
                 value="othercountry"
                 name="nationality"
                 class="citizen-type"
                 id="othercountry" />
          Citizen of another country
        </label>
      </div>
    </div>
  </div>
</dialog>

<script type="text/javascript">
  const modal = document.querySelector('#donate-options');
  const openModal = document.querySelector('.open-modal');
  const closeModal = document.querySelector('.close-button');

  function clearOptions() {
    // Clear any previous selection
    const allOptions = document.querySelectorAll('.citizen-type');
    allOptions.forEach((option) => {
      option.checked = false;
    });
  }

  openModal.addEventListener('click', () => {
    clearOptions();
    modal.showModal();
  });

  closeModal.addEventListener('click', () => {
    modal.close();
  });

  const allCitizenOptions = document.querySelectorAll('.citizen-type');
  allCitizenOptions.forEach((targetOption) => {
    targetOption.addEventListener('click', () => {
      // Load appropriate donation page based
      // on the citizenship choice made
      switch (targetOption.id) {
        case 'india':
          location.href = "/makeadonation";
          break;
        case 'nri':
          location.href = "/makeadonation";
          break;
        case 'usa':
          location.href = "/makeadonation-usa";
          break;
        case 'othercountry':
          location.href = "/makeadonation-other";
          break;
        default:
          break;
      }
    });
  });
</script>