---
layout: layouts/page.njk
eleventyNavigation:
key: page
order: 1
tags: page
date: Last Modified
parentMenuItem: "About"
title: "History"
scrollToTop: true
description: "The history of Nrityagram - Nrityagram is a one-of-a-kind collective of artistes, where dance is a way of
life."
OGImage: "https://res.cloudinary.com/nrityagram/image/upload/v1572106197/history_kaf95n.jpg"
---
<div id="banner-container">
  <div class="banner-image">
    {% pictures {
      "desk" : "https://res.cloudinary.com/nrityagram/image/upload/v1572106197/history_kaf95n.jpg",
      "tab" : "https://res.cloudinary.com/nrityagram/image/upload/v1589047081/ipad/history_zbgxkl.jpg",
      "mob" : "https://res.cloudinary.com/nrityagram/image/upload/v1581411931/mobile/history_exnolt.jpg"
    },
    "Historical Timeline of Nrityagram", {
      "mob": ["425"],
      "tab": ["768"],
      "desk": ["1600"]
    }, {
      "desk": "65em",
      "tab": "50em",
      "mob": "35em"
    },
    "eager",
    "high" %}
  </div>
  <div class="banner-image-credit"
       data-image-credit-desk="Avinash Pasricha"
       data-image-credit-tab="Avinash Pasricha"
       data-image-credit-mob="Avinash Pasricha"></div>
  <div class="banner-title">
    History
  </div>
</div>
<div class="container">
  <div class="wrapper flow">
    <div class="timeline--wrapper">
      <div class="timelinebar"></div>
      <ul class="timeline">
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>9 May 1979</time>
            <p>
              Protima Gauri (Gaurima) registers The Odissi Dance Centre Trust
            </p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1717245594/9_may_1979_gaurima_p5svi9.jpg",
            "9 May 1979 Odissi Dance Centre Trust is incorporated. Picture of Protima Gauri.",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>November 1987</time>
            <p>
              Shri Ramakrishna Hegde approves Lease of Government Land in Kodihalli Village, Bangalore Rural to Odissi
              Dance Centre
            </p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1726638455/nov-1987-land-lease_r52t4i.jpg",
            "November 1987, Shri Ramakrishna Hegde approves Lease of Government Land in Kodihalli Village to Odissi Dance Centre",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>April 1989</time>
            <p>Gaurima starts building Nrityagram</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1572106355/3_-1989_pquz0n.jpg",
            "1989 Protima Gauri starts building Nrityagram",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>February 1990</time>
            <p>Pavithra Reddy joins the Village Outreach programme</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1572106281/6_-June-1990_a5lgm9.jpg",
            "February 1990 Pavithra Reddy joins the Village Outreach programme",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>1990</time>
            <p>Odissi Gurukul is completed</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1589098328/4_-1990-2_zaildi.jpg",
            "1990 Odissi Gurukul is completed",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>11 May 1990</time>
            <p>Nrityagram is inaugurated by the Prime Minister of India</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1572106355/2_-11-May-1990_cps47k.jpg",
            "11 May 1990 Nrityagram is inaugurated by the Prime Minister of India",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>20 June 1990</time>
            <p>Surupa Sen joins as a residential student</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1718080434/20_june_1990_Surupa_Sen_jr6aln.jpg",
            "20 June 1990 Surupa Sen joins as a residential student",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>February 1991</time>
            <p>Vasantahabba, an all-night Spring Festival is launched</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1572106355/7_-Feb-1991_z5eit4.jpg",
            "February 1991 Vasantahabba, an all-night Spring Festival is launched",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>1992</time>
            <p>Mohiniattam Gurukul is completed</p>
            <p>Discontinued in 1997</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1572106280/8_-1992_axvr7p.jpg",
            "1992 Mohiniattam Gurukul is completed. Discontinued in 1997.",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>1993</time>
            <p>The Nrityagram Dance Ensemble is formed</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1572106280/9_-1993_rslvn0.jpg",
            "1993 The Nrityagram Dance Ensemble is formed.",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>July 1993</time>
            <p>Bijayini Satpathy joins the Ensemble</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1572106235/10_-1993-2_oimuu2.jpg",
            "1993 Bijayini Satpathy joins the Ensemble.",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>August 1993</time>
            <p>Lynne Fernandez joins as Technical Director</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1580730965/11_-1993-3_xup2qf.jpg",
            "1993 Lynne Fernandez joins as Technical Director.",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>September 1993</time>
            <p>Nrityagram’s first International tour as Protima Bedi and Party</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1716998712/12_September-1993-sq_alvrpq.png",
            "September 1993 Nrityagram’s first International tour as Protima Bedi and Party.",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>24 September 1994</time>
            <p>The Nrityagram Dance Ensemble makes its National debut in Delhi</p>
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>1995</time>
            <p>Kathak Gurukul is completed</p>
            <p>Discontinued in 1997</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1572106235/14_-1995_mjfnxc.jpg",
            "1995 Kathak Gurukul is completed. Discontinued in 1997.",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>22 March 1996</time>
            <p>Surupa’s solo debut</p>
            <p>First student of Nrityagram to graduate</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1718080110/22_march_1996_Surupa_Debut_heckcf.jpg",
            "22 March 1996 Surupa’s solo debut.",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>18 June 1996</time>
            <p>New York debut of the Nrityagram Dance Ensemble</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1599566231/16_-18-June-1996_du4y4y.jpg",
            "18 June 1996 New York debut of the Nrityagram Dance Ensemble.",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>5 March 1997</time>
            <p>Bijayini’s solo debut</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1572106197/17_-April-1997_dirfje.jpg",
            "5 March 1997 Bijayini’s solo debut.",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>14 June 1997</time>
            <p>Protima officially hands over Nrityagram to Lynne</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1580719653/18_-14-June-1997_gdavjt.jpg",
            "14 June 1997 Protima officially hands over Nrityagram to Lynne.",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>July 1997</time>
            <p>Surupa appointed Artistic Director, Nrityagram<br />Bijayini appointed Director, Odissi Gurukul</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1580719653/19_-July-1997_wm9pes.jpg",
            "July 1997 Surupa appointed Artistic Director, Nrityagram. Bijayini appointed Director of the Odissi Gurukul.",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>18 August 1998</time>
            <p>
              Gaurima dies in a landslide, while on a pilgrimage to Kailash Mansarovar<br />Surupa and Bijayini’s first
              group of students join Nrityagram
            </p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1580719653/20_-18-August-1998_xtrr2m.jpg",
            "18 August 1998 Gaurima dies in a landslide, while on a pilgrimage to Kailash Mansarovar. Surupa and Bijayini’s first group of students join Nrityagram.",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>July 1999</time>
            <p>
              Nrityagram receives a National Dance Project Production Grant to make Śrī: In Search of the Goddess
              <br />
              Full-Time Musicians come to stay and work
            </p>
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>December 1999</time>
            <p>
              Surupa works for the first time with Pt. Raghunath Panigrahi<br />
              A very successful collaboration lasting until Panditji’s passing in 2013
            </p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1580719653/21_-December-1999_x8cljn.jpg",
            "December 1999 Surupa works for the first time with Pt. Raghunath Panigrahi.",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>June 2000</time>
            <p>
              Surupa receives an Asian Cultural Council grant to attend the International Choreographers Residency at
              the American Dance Festival
            </p>
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>3 May 2001</time>
            <p>Premiere of Śrī: In Search of the Goddess</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1599568035/22_-May-2001_gryw8f.jpg",
            "3 May 2001 Premiere of Śrī: In Search of the Goddess.",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>2003</time>
            <p>Bharatnatyam Gurukul is started<br />Discontinued in 2006</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1600053010/23_-2003_itodoo.jpg",
            "2003 Bharatnatyam Gurukul is started. Discontinued in 2006.",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>27 December 2003</time>
            <p>Pavithra’s solo debut</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1580719654/24_-December_2003_lvkx4n.jpg",
            "27 December 2003 Pavithra’s solo debut.",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>2 January 2005</time>
            <p>Premiere of Ansh</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1599568119/25_-January_2005_kg1cvf.jpg",
            "2 January 2005 Premiere of Ansh.",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>12-17 April 2005</time>
            <p>Nrityagram’s debut season at The Joyce Theater, New York</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656336175/12-17_April_2005_eozvfo.jpg",
            "12-17 April 2005 Nrityagram’s debut season at The Joyce Theater, New York.",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>July 2005</time>
            <p>Nrityagram receives a National Dance Project Production Grant to make Sacred Space</p>
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>19 December 2005</time>
            <p>Premiere of Sacred Space</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1599568401/26_-January_2006_vbmocj.jpg",
            "19 December 2005 Premiere of Sacred Space.",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>January 2006</time>
            <p>Surupa receives the Raza Foundation award</p>
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>19-23 July 2006</time>
            <p>Nrityagram’s debut Season at Jacobs Pillow Dance Festival</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656336601/19-23_July_2006_aqpjne.jpg",
            "19-23 July 2006 Nrityagram’s debut Season at Jacobs Pillow Dance Festival.",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>23 March 2007</time>
            <p>Bijayini is awarded Sangeet Natak Akademi’s Ustad Bismillah Khan Yuva Puraskar</p>
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>May 2007</time>
            <p>
              The Joyce Theater, NY commissions 25 choreographers to create work for its twenty-fifth Anniversary -
              Surupa commissioned to make Pratimā: Reflection
            </p>
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>19 February 2008</time>
            <p>Premiere of Pratimā: Reflection</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1599568727/27_-2008_sbkedk.jpg",
            "19 February 2008 Premiere of Pratimā: Reflection.",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>6 July 2008</time>
            <p>
              Surupa and Bijayini receive the Yagnaraman award for Excellence in Dance from Sri Krishna Gana Sabha,
              Chennai
            </p>
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>5 November 2010</time>
            <p>Kula - Residence for Artistes is completed</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1599566841/28_-November_2010_qatnk4.jpg",
            "5 November 2010 Kula - Residence for Artistes is completed.",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>11 November 2010</time>
            <p>Premiere of Śriyaḥ</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1599568876/29_-March_2011_dcnbyx.jpg",
            "11 November 2010 Premiere of Śriyaḥ.",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>9 December 2011</time>
            <p>Surupa and Bijayini receive the Nritya Choodamani from Sri Krishna Gana Sabha, Chennai</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1717056918/9-dec-2011_nrityachoodamani_rs7jm8.jpg",
            "9 December 2011 Surupa and Bijayini receive the Nritya Choodamani",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>24 February 2012</time>
            <p>Premiere of Saṃhāra</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1599569157/30_-February_2012_ju5vpi.jpg",
            "24 February 2012 Premiere of Saṃhāra.",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>25 August 2012</time>
            <p>Premiere of Saṃyoga</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1599569251/31_-August_2012_dpataw.jpg",
            "25 August 2012 Premiere of Saṃyoga.",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>18 August 2013</time>
            <p>First NrityaUtsarga, our Annual School Show</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656335411/Invite-AUG_18_wewlde.jpg",
            "18 August 2013 First NrityaUtsarga, our Annual School Show.",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>22 November 2013</time>
            <p>Premiere of Songs of Love and Longing</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1599569396/33_-November_2013_ffxy9n.jpg",
            "22 November 2013 Premiere of Songs of Love and Longing.",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>11 January 2015</time>
            <p>Saṃyoga at Temple of Dendur, MET Museum, New York</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1600053160/11-Jan-2015_oi42pm.jpg",
            "11 Jan 2015 Saṃyoga at Temple of Dendur, MET Museum, New York NY.",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>11 May 2015</time>
            <p>Nrityagram turns 25!</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1580719809/35_-11_May_2015_fpd819.jpg",
            "11 May 2015 Nrityagram turns 25!.",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>March 2016</time>
            <p>Surupa is Resident Artist at Baryshnikov Arts Center, New York</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1588778671/36_-March_2016_p7hzbx.jpg",
            "March 2016 Surupa is Resident Artist at Baryshnikov Arts Center, New York.",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>13 September 2016</time>
            <p>Australia debut of the Nrityagram Dance Ensemble</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1588778685/37_-September_2016_cmlibx.jpg",
            "13 September 2016 Australia debut of the Nrityagram Dance Ensemble.",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>19 May 2017</time>
            <p>Saṃhāra Revisited</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1600053260/19-May-2017_rkhcmz.jpg",
            "19 May 2017 Saṃhāra Revisited.",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>27 August 2017</time>
            <p>Premiere of Yadunandana</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1599569987/38_-August_2017_kbrsm3.jpg",
            "27 August 2017 Premiere of Yadunandana.",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>27 October 2018</time>
            <p>Saṃhāra at the MET Museum, New York</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1588778649/39_-October_2018_hrqluj.jpg",
            "27 October 2018 Saṃhāra at the MET Museum, New York.",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>March 2019</time>
            <p>Food Foresting begins at Nrityagram</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1599552009/40_-March_2019_ar2im0.jpg",
            "March 2019 Food Foresting begins at Nrityagram.",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>May 2019</time>
            <p>Pavithra creates the NG101 programme</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656337863/NG101_zjxakv.jpg",
            "May 2019 Pavithra creates the NG101 programme.",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>20 September 2019</time>
            <p>Premiere of Āhuti</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1589097765/41_-September_2019_op54rz.jpg",
            "20 September 2019 Premiere of Āhuti.",
            ["573", "400"] %}
          </div>
        </li>

        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>9 March 2020</time>
            <p>Nrityagram goes into Lockdown</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1717053249/8-march-2020-lockdown_ukszgq.jpg",
            "8 March 2020 Nrityagram goes into Lockdown",
            ["573", "400"] %}
          </div>
        </li>

        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>15 April 2020</time>
            <p>Classes go online</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1588778649/42_-April_2020_nqpyxn.jpg",
            "15 April 2020 Classes go online.",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>1 May 2020</time>
            <p>Nrityagram Live: From our Studio to your Home</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1600053371/1-May-2020_ghpwj3.jpg",
            "1 May 2020 Nrityagram Live: From our Studio to your Home.",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>11 May 2020</time>
            <p>Nrityagram is 30!</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656342626/NGat30-2_kcxlux.png",
            "11 May 2020 Nrityagram is 30!",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>18 August 2020</time>
            <p>NrityaUtsarga.<span class="redtext">Digital</span></p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656339487/Aug_18_2020_nritya_utsarga_xukhor.jpg",
            "18 August 2020 NrityaUtsarga.Digital",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>7 January 2021</time>
            <p>APAP Showcase<span class="redtext">.Digital</span></p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656339858/apap_vujk5s.png",
            "7 January 2021 APAP Showcase Online",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>January 2021</time>
            <p>VR Film on Nrityagram</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656340337/VR_Film02_p8adcl.png",
            "January 2021 VR Film on Nrityagram",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>17 February 2021</time>
            <p>Āhuti<span class="redtext">.Digital</span><br>NYU Abu Dhabi</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1717003009/17_feb_2021_cwwiet.jpg",
            "17 February 2021 Āhuti Online NYU Abu Dhabi",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>23 May 2021</time>
            <p>Vinati<span class="redtext">.Digital</span><br>World Music Institute, New York</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656341744/WMI_DTG_2021_digital_flier_ww3pjt.jpg",
            "23 May 2021 Vinati Online World Music Institute, New York",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>12 June 2021</time>
            <p>Upadāna<span class="redtext">.Digital</span><br>Jacobs Pillow Dance Festival</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656342587/upadaana_zkwkcf.jpg",
            "12 June 2021 Upadāna Online Jacobs Pillow Dance Festival",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>18 August 2021</time>
            <p>NrityaUtsarga<span class="redtext">.Digital</span></p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1717047165/nrityautsarga2021_ujaing.jpg",
            "18 August 2021 NrityaUtsarga.Digital",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>13 October 2021</time>
            <p>Lalita Lavanga<span class="redtext">.Digital</span><br>Fall for Dance North Signature Series</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656343183/FFDN_Still_01_nvzd5s.jpg",
            "13 October 2021 Lalita Lavanga Online Fall for Dance North Signature Series",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>4 December 2021</time>
            <p>Premiere of Vinati: Songs from the Gita Govinda</p>
            <p>First Live Performance after February 2020</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1717070435/4_dec_2021_Vinati_Poster_premiere_kd4yr7.png",
            "4 December 2021 Premiere of Vinati: songs from the Gita Govinda",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>11 January 2022</time>
            <p>APAP Showcase<span class="redtext">.Digital</span></p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656343404/APAP_2022_01_j9asmz.png",
            "11 January 2022 APAP Showcase Online",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>9 April 2022</time>
            <p>Surupa recieves the Sangeet Natak Akademi Award for Odissi Dance</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1716999631/sangeet-natak-award_cachmw.jpg",
            "9 April 2022 Surupa Sen recieves the Sangeet Natak Akademi Award",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>20 May 2022</time>
            <p>First International Performance since 2019</p>
            <p>Surupa at Korzo, The Hague, Netherlands</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1717046605/20_may_2022_klaaar.png",
            "20 May 2022 Surupa Sen at Korzo, The Hague, Netherlands",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>18 August 2022</time>
            <p>NrityaUtsarga is Live again</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1717000199/18_aug_2022_t6oek1.jpg",
            "18 August 2022 NrityaUtsarga is Live again",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>25 September 2022</time>
            <p>Premiere of Āhuti Reimagined</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1717000358/25_sept_2022_hk6faw.jpg",
            "25 September 2022 Premiere of Āhuti Reimagined",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>1 October 2022</time>
            <p>First US Performance since 2019</p>
            <p>Poornāratī from Āhuti at Fall for Dance, New York</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1717067473/fall-for-dance-2022_zhpg4o.jpg",
            "1 October 2022 Poornāratī from Āhuti at Fall for Dance",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>22 January 2023</time>
            <p>Āhuti at Amber Fort</p>
            <p>Jaipur Literature Festival</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1717217443/22_Jan_2023_JLF_thaji_nekmi6.jpg",
            "22 January 2023 Āhuti at Amber Fort Jaipur Literature Festival",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>9 - 14 May 2023</time>
            <p>Āhuti at the Joyce Theater, New York</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1717067473/joyce-may-2023_p9sc0e.jpg",
            "9 - 14 May 2023 Āhuti at the Joyce Theater",
            ["573", "400"] %}
          </div>
        </li>
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>19 - 20 August 2023</time>
            <p>Dance Commons: The First Dialogue</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1717046441/dance_commons_logo_hjet8r.png",
            "19 - 20 August 2023 Dance Commons",
            ["573", "400"] %}
          </div>
        </li>
        <!-- <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>9 January 2024</time>
            <p>Premiere of Khaṅkhaṇā</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1718216693/9_jan_2024_karthik_KHAN%CC%87KHAN%CC%A3A%CC%84_thumbnail_2024_f47xdi.png",
            "9 January 2024 Premiere of Khaṅkhaṇā",
            ["573", "400"] %}
          </div>
        </li> -->
        <!-- <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>8 March 2024</time>
            <p>North America Premiere of Khaṅkhaṇā</p>
            <p>Victoria, BC Canada</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1717243155/8_march_2024_na_premiere_of_khankhana_rhx0y9.png",
            "8 March 2024 North America Premiere of Khaṅkhaṇā",
            ["573", "400"] %}
          </div>
        </li> -->
        <li class="timeline--item">
          <div>
            <div class="tooltip-shadow"></div>
            <div class="tooltip"></div>
            <div class="dot"></div>
            <time>March - April 2024</time>
            <p>Āhuti: The Final Tour</p>
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1718081061/ahuti_final_tour_timeline_pic2_ia6qit.jpg",
            "March - April 2024 Āhuti: The Final Tour",
            ["573", "400"] %}
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container accent-bg">
  <div class="wrapper ultra-wide flow">
    <div class="even-columns">
      <div class="left-column">
        <div class="image-plus card"
             onclick="location.href='/about';">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1580623152/1_w9kze2.jpg",
          "About Us Card",
          ["560", "768"] %}
          <div class="credit"
               data-image-credit="Darial Sneed"></div>
          <div class="card-title">About Us</div>
        </div>
      </div>
      <div class="right-column">
        <div class="image-plus card"
             onclick="location.href='/space';">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1647179355/Space-cat2-desk_rix0hl.jpg",
					"Space Card",
					["560", "768"] %}
          <div class="credit"
               data-image-credit="Surupa Sen"></div>
          <div class="card-title">Space</div>
        </div>
      </div>
    </div>
    <div class="even-columns">
      <div class="left-column">
        <div class="image-plus card"
             onclick="location.href='/future';">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1718198365/future-masthead-desk_pcffe4.png",
          "Future Card",
          ["560", "768"] %}
          <div class="credit"
               data-image-credit="Karthik Venkatraman"></div>
          <div class="card-title">Future</div>
        </div>
      </div>
      <div class="right-column">
        <div class="image-plus card"
             onclick="location.href='/board';">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1569995939/board-of-trustees-banner_srxmvn.jpg",
					"Board of Trustees Card",
					["560", "768"] %}
          <div class="credit"
               data-image-credit="Karthik Venkatraman"></div>
          <div class="card-title">Board of Trustees</div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{{ '/utils/history-timeline.js' | url }}"></script>