---
layout: layouts/page.njk
eleventyNavigation:
  key: page
  order: 1
tags: page
date: Last Modified
title: "Informance"
description: "Fun and interesting activities to do in Nrityagram - guided tours and lecture-demonstrations."
OGImage: "https://res.cloudinary.com/nrityagram/image/upload/v1731612592/nov2024-informance-opengraph_fmkoo1.png"
---
<div id="banner-container">
  <div class="banner-image">
    {% pictures {
      "desk" : "https://res.cloudinary.com/nrityagram/image/upload/v1731612495/nov2024-informance-desk_yy24de.png",
      "tab" : "https://res.cloudinary.com/nrityagram/image/upload/v1731609677/nov2024-informance-tablet_dmg41e.png",
      "mob" : "https://res.cloudinary.com/nrityagram/image/upload/v1731609676/nov2024-informance-mobile_eyrlvb.png"
    },
    "Iformance 2024", {
      "mob": ["425"],
      "tab": ["768"],
      "desk": ["1600"]
    }, {
      "desk": "65em",
      "tab": "50em",
      "mob": "35em"
    },
    "eager",
    "high" %}
  </div>
  <div class="banner-image-credit"
    data-image-credit-desk="Surupa Sen" 
    data-image-credit-tab="Surupa Sen" 
    data-image-credit-mob="Surupa Sen"
    ></div>
  <div class="banner-title">
        Informance
  </div>
</div>
<div class="container">
  <div class="wrapper flow">
    <h1 class="center">
      Dance Informance at Nrityagram
    </h1>
    <h4 class="center">INFORMAL | INFORMATIVE | PERFORMANCE</h4>
    <br />
    <p class="center">
        Come by yourself or in a group<br />
        Take a Guided Tour of our beautiful campus<br />
        Watch a Lecture-Demonstration by our renowned performers<br />
        Discover the richness of our dance heritage<br />
        Have a Nrityagram Experience! 
    </p>
    <br />
    <p class="center">
      <del>30 NOV 2024</del><br />
      14 DEC 2024<br />
      11AM - 1PM<br />
      ₹1600 per person + ₹20 Convenience Fee<br />
    </p>
    <div class="even-columns-unlimited center-column-pair">
      <!-- data-color="a5a5a5" -->
      <div class="razorpay-embed-btn column-1"
                 data-url="https://pages.razorpay.com/pl_PLGLisooGQ7kPN/view"
                 data-text="Book for Informance on 30 NOV (SOLD OUT)"
                 data-color="#a5a5a5"
                 data-size="large"></div>
      <div class="razorpay-embed-btn column-2"
                 data-url="https://pages.razorpay.com/pl_PLGPLwCbwRpKUs/view"
                 data-text="Book for Informance on 14 DEC"
                 data-color="#C91D25"
                 data-size="large"></div>
      <script>
        (function () {
          var d = document;
          var x = !d.getElementById('razorpay-embed-btn-js')
          if (x) {
            var s = d.createElement('script');
            s.defer = !0;
            s.id = 'razorpay-embed-btn-js';
            s.src = 'https://cdn.razorpay.com/static/embed_btn/bundle.js';
            d
              .body
              .appendChild(s);
          } else {
            var rzp = window['__rzp__'];
            rzp && rzp.init && rzp.init()
          }
        })();
      </script>
    </div>
  </div>
</div>