---
layout: layouts/page.njk
eleventyNavigation:
  key: page
  order: 1
tags: page
date: Last Modified
slider: true
youtube: true
parentMenuItem: "Community"
title: "Kula: Artistes Residence"
description: "Nrityagram is a one-of-a-kind collective of artistes, where dance is a way of life."
OGImage: "https://res.cloudinary.com/nrityagram/image/upload/v1718615615/kula-masthead-desk_n2n0yg.png"
---
<div id="banner-container">
  <div class="banner-image">
    {% pictures 
      {"desk":"https://res.cloudinary.com/nrityagram/image/upload/v1718615615/kula-masthead-desk_n2n0yg.png", 
      "tab":"https://res.cloudinary.com/nrityagram/image/upload/v1718615614/kula-masthead-tablet_lwxrcp.png", 
      "mob":"https://res.cloudinary.com/nrityagram/image/upload/v1718615613/kula-masthead-mobile_hpf4vk.png"}, 
      "Kula: The Artiste Residence", 
      {"mob": ["425"], "tab": ["768"], "desk":["1600"]}, {"desk":"65em", "tab":"50em", "mob":"35em"}, 
      "eager", "high" %}
  </div>
  <div class="banner-image-credit"
    data-image-credit-desk="Sanjay Ramachandran" 
    data-image-credit-tab="Sanjay Ramachandran" 
    data-image-credit-mob="Sanjay Ramachandran"
    ></div>
  <div class="banner-title">
        Kula: Artistes<br />Residence
  </div>
</div>

<div class="container">
  <div class="wrapper flow">
    <h1 class="center">Supporting Artistes</h1>
  </div>
  <div class="owl-carousel ultra-wide owl-theme">
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1583861344/supportartists_1_h3y1ig.jpg",
      "Kula Artist Residences in Nrityagram",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Sanjay Ramachandran</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1583861344/supportartists_2_gek2vu.jpg",
      "Kula Artist Residences in Nrityagram",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Sanjay Ramachandran</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1583861344/supportartists_3_fsov6b.jpg",
      "Kula Artist Residences in Nrityagram",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Sanjay Ramachandran</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1583861344/supportartists_4_cqu6os.jpg",
      "Kula Artist Residences in Nrityagram",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Sanjay Ramachandran</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1583861344/supportartists_5_sjjg9y.jpg",
      "Kula Artist Residences in Nrityagram",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Sanjay Ramachandran</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1583861344/supportartists_6_ziatsh.jpg",
      "Kula Artist Residences in Nrityagram",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Sanjay Ramachandran</div>
    </div>
  </div>
  <div class="wrapper flow flow-flushtop">
    <h2 class="center">Kula</h2>
    <h4 class="center">Artistes Residence</h4>
    <p>
      For three decades, Nrityagram’s natural surroundings, wholesome 
lifestyle and inspired practice, have generated and nourished artistic dialogue and innovation.
    </p>
    <p>
			Stimulated by the unique ambience, artistes from various disciplines have expressed a desire to live and create work at Nrityagram. So, in order to support collaboration and 
allow access to the holistic energising space that we have created, we built Kula, a home for artistes. Kula (from Gurukula meaning 
Community / Clan / Tribe) is a space for artistes to meet, converse, and create – an interdisciplinary crucible for the arts. 
		</p>
    <p>
			Kula has grown organically to be a haven that nurtures the cross-pollination of artistic work and has become a centre for both innovation and experimentation, 
for artistes from diverse backgrounds. Given the paucity of such spaces, 
Kula is sought after by artistes who seek to create, unhindered by distractions of diurnal concerns, in a space nurtured by Nrityagram’s 
single-minded dedication to the arts.
		</p>
    <p>
			Since November 2010, Kula has hosted several hundred dancers, writers, theatre practitioners and musicians, as both independent artistes and groups. Located in the heart of a living artistic community dedicated to Excellence, residencies at Kula deliver a wonderful support system that allows artistes to thrive and be inspired.
		</p>
    <div>
      <h3>Facilities</h3>
      <ul class="basic">
        <li>8 twin-bedroom units with attached bathrooms</li>
        <li>Common living room and kitchenette</li>
        <li>Wi-fi</li>
        <li>Dedicated rehearsal space</li>
        <li>Vegetarian meals made from locally grown organic produce</li>
      </ul>
    </div>
    <p>
			Write to us for more details: <a href="mailto:info@nrityagram.org" class="bodylink">info@nrityagram.org</a>
    </p>
  </div>
</div>