---
layout: layouts/page.njk
eleventyNavigation:
  key: page
  order: 1
tags: page
date: Last Modified
parentMenuItem: "People"
title: "Lynne Fernandez"
OGImage: "https://res.cloudinary.com/nrityagram/image/upload/v1708107254/lynne_masthead_blue_kcnspl.webp"
---
<div id="banner-container">
	<div class="banner-image">
		{% pictures 
      {"desk":"https://res.cloudinary.com/nrityagram/image/upload/v1708108174/lynne_masthead_blue_tif9ri.png", 
      "tab":"https://res.cloudinary.com/nrityagram/image/upload/v1589036580/ipad/Lynne-Fernandez_dwjljz.jpg", 
      "mob":"https://res.cloudinary.com/nrityagram/image/upload/v1576167448/mobile/Lynne-Fernandez_pkfpsz.jpg"}, 
      "Lynne Fernandez", 
      {"mob": ["425"], "tab": ["768"], "desk":["1600"]}, {"desk":"65em", "tab":"50em", "mob":"35em"}, 
      "eager", "high" %}
	</div>
	<div class="banner-image-credit"
    data-image-credit-desk="Rukshana Nanayakkara & Dasha Larina" 
    data-image-credit-tab="Dasha Larina" 
    data-image-credit-mob="Dasha Larina"
    ></div>
	<div class="banner-title">
        Lynne<br />Fernandez
  </div>
</div>
<div class="container">
	<div class="wrapper ultra-wide flow">
		<div class="uneven-columns pullquote-column wide-grid-gap">
			<div class="narrow-column right-align-column">
				<div class="fade-in stickybit pullquote">
          			Light<br />is fundamental<br />to life itself
				</div>
			</div>
			<div class="wide-column flow-flushtop flow-inbetween">
				<p>
					Had Lynne Fernandez lived in the 15th Century, she would have been deemed a Renaissance woman - her insatiable
					curiosity of the world and its deepest mysteries led her to explore sciences and the arts, and the blurry
					lines that criss-crossed them.
				</p>
				<p>
					Long before mental health became a topic for drawing room conversation, she trained to be a psychologist, and
					worked with severely disturbed young adults for several years. Her work in psychology and counselling led her
					to split open the artificial binary of body and mind, and brought her to art and theatre.
				</p>
				<p>
					She worked as an actor and technician with several notable theatre directors including her Guru Barry John,
					Joy Michael, Ranjit Kapoor and
					<a href="/board/#lillete" class="bodylink">Lillete Dubey</a>. Her work in theatre has been presented at the
					Edinburgh Festival Fringe, the West End and off-Broadway, in addition to Malaysia, Singapore, Sri Lanka and
					across India. That is when she became captivated by light.
				</p>
				<p>
					<em class="infotext"
						>“I spent many hours experimenting with a flashlight, trying to figure out how beams work and what can be done
						with shadows. And once I lit my first performance, I knew this was it. I had found my true calling,”</em
					>
					she said, recollecting how wielding light became her lifelong pursuit. The mysteries of light dappled across
					both science and magic.
					<em class="infotext"
						>“Light is fundamental to life itself - can we see without light? It’s a mystery - is it a wave or a
						particle? It’s magic!”</em
					>
				</p>
				<p>
					A serendipitous meeting in 1991 with a crazy dreamer <a href="/protima" class="bodylink">Protima Gauri</a>,
					swept her into the magical world of Nrityagram. Protima invited her to visit and that was the start of an
					enduring love for the place, its people and the dance itself.
				</p>
				<p>
					After collaborating with its then newly founded <a href="/ensemble" class="bodylink">Ensemble</a>, she was
					appointed Managing Trustee of the Odissi Dance Centre Trust and Executive Director of the Nrityagram
					<a href="/gurukula" class="bodylink">School</a> and <a href="/ensemble" class="bodylink">Ensemble</a> in 1997,
					and her responsibilities included administration, fund-raising and project development.
				</p>
				<p>
					As the administrator of Nrityagram, Lynne brought her fearless curiosity to every facet of arts administration
					and her work continues to set new benchmarks. She helmed the emergence of the Nrityagram
					<a href="/ensemble" class="bodylink">Ensemble</a> onto the international arena, something which no other
					Indian classical dance company had achieved at that time. Her projects at the dance village include
					<a href="/community/#supportingartists" class="bodylink">Kula</a>, a residence where arts practitioners can
					live and create new work, a
					<a href="/future/#arts-centre" class="bodylink">Performing Arts Centre</a> comprising a theatre, exhibition
					space and rehearsal studios, and more recently, Food Foresting and Digital Media.
				</p>
				<p>
					She continues to pursue her love for light, and as Lighting Director of Nrityagram, Lynne has lit the
					<a href="/ensemble" class="bodylink">Ensemble</a> on stages across India (from NCPA, Mumbai to Konarak,
					Orissa, Music Academy, Chennai to the Purana Qila, Delhi) and the globe, including The Joyce Theatre, New
					York, Sydney Opera House, Royal Festival Hall, London, The Esplanade, Singapore, and others.
				</p>
				<p>
					To paraphrase it, lighting is to a performance what Arts Administration is to the art itself. And that’s what
					Lynne is to Nrityagram - integral at the same time unobtrusive.
				</p>
				<br />
				<p>
					<em class="infotext">
						“The masterly technical coordination and lighting by Lynne Fernandez turned the stage into a black velvet jewel box, with the dancers as precious stones illuminated by single beams.”
					</em>
					<br />
					<span class="infotext">DanceView Times</span>
				</p>
			</div>
			<div class="spacer-column"></div>
		</div>
	</div>
	<div class="wrapper ultra-wide flow">
		<div class="even-columns-unlimited">
			<div class="image-plus card size-md" onclick="location.href='/protima';">
				{% image "https://res.cloudinary.com/nrityagram/image/upload/v1719985631/Protima-Gauri-tile_zlpskm.jpg",
				"Protima Gauri Card",
				["560", "768"] %}
				<div class="credit" data-image-credit="Lynne Fernandez" ></div>
				<div class="card-title">Protima Gauri</div>
			</div>

			<div class="image-plus card size-md" onclick="location.href='/surupa';">
				{% image "https://res.cloudinary.com/nrityagram/image/upload/v1719985631/Surupa-Sen-tile_ymiidt.jpg",
					"Surupa Sen Card",
					["560", "768"] %}
				<div class="credit" data-image-credit="Tanuj Ahuja" ></div>
				<div class="card-title">Surupa Sen</div>
			</div>

			<div class="image-plus card size-md" onclick="location.href='/pavithra';">
				{% image "https://res.cloudinary.com/nrityagram/image/upload/v1719985631/Pavithra-Reddy-tile_f1y7zq.jpg",
					"Pavithra Reddy Card",
					["560", "768"] %}
				<div class="credit" data-image-credit="Dasha Larina" ></div>
				<div class="card-title">Pavithra Reddy</div>
			</div>
		</div>
	</div>
</div>