---
layout: layouts/page.njk
eleventyNavigation:
  key: page
  order: 1
tags: page
date: Last Modified
parentMenuItem: "Support"
title: "Sponsorship"
description: "Support us in our constant endeavour to create safe spaces for the arts. Nrityagram is a one-of-a-kind community of artistes, where dance is a way of life."
OGImage: "https://res.cloudinary.com/nrityagram/image/upload/v1580659364/sponsorship-banner_lmtquh.jpg"
---
<div id="banner-container">
  <div class="banner-image">
    {% pictures 
      {"desk":"https://res.cloudinary.com/nrityagram/image/upload/v1580659364/sponsorship-banner_lmtquh.jpg", 
      "tab":"https://res.cloudinary.com/nrityagram/image/upload/v1589077310/ipad/sponsorship_s7wfg1.jpg", 
      "mob":"https://res.cloudinary.com/nrityagram/image/upload/v1581325769/mobile/sponsorship_ajz4zq.jpg"}, 
      "Make a Donation", 
      {"mob": ["425"], "tab": ["768"], "desk":["1600"]}, {"desk":"65em", "tab":"50em", "mob":"35em"}, 
      "eager", "high" %}
  </div>
  <div class="banner-image-credit"
    data-image-credit-desk="Shalini Jain" 
    data-image-credit-tab="Shalini Jain" 
    data-image-credit-mob="Shalini Jain"
    ></div>
  <div class="banner-title">
        Sponsorship
  </div>
</div>
<div class="container">
  <div class="wrapper flow">
    <p>
			At Nrityagram we have a year-long calendar of events, housed at our verdant campus, as well as in different venues
			in the city.
		</p>
    <p>
			These events are spaces of confluence for artistes, connoisseurs, and dedicated devotees of the Arts to meet, converse,
			and together celebrate our diverse cultural traditions. Our events draw large audiences from India and abroad.
		</p>
    <p>Support us in our constant endeavour to create a vibrant space for the Arts.</p>
    <p>
			If you would like to sponsor an event, or work with us to conceptualise a new idea, please write to us.
		</p>
    <br />
    <div class="button red-plastic center" onclick="location.href='mailto:support@nrityagram.org'">
      <div class="glare"></div>
        Email Us
    </div>
  </div>
  <div class="wrapper ultra-wide">
    <div class="even-columns">
      <div class="left-column">
        <div class="image-plus card" onclick="location.href='/support';">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1570033128/support-us-banner_ejya2i.jpg",
          "Support Us Card",
          ["560", "768"] %}
          <div class="credit" data-image-credit="Uma Dhanwatey" ></div>
          <div class="card-title">Support Us</div>
        </div>
      </div>
      <div class="right-column">
        <div class="image-plus card" onclick="location.href='/donate';">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1589101369/Donate_u4jbno.jpg",
          "Make a Donation Card",
          ["560", "768"] %}
          <div class="credit" data-image-credit="M Srinivas Murthy" ></div>
          <div class="card-title">Donate</div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper ultra-wide flow">
    <div class="even-columns">
      <div class="left-column">
        <div class="image-plus card" onclick="location.href='/corpusfund';">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1591009076/support-the-corpus-fund_gho51g.jpg",
          "Support the Corpus Fund Card",
          ["560", "768"] %}
          <div class="credit" data-image-credit="Shalini Jain" ></div>
          <div class="card-title">Support the<br />Corpus Fund</div>
        </div>
      </div>
      <div class="right-column">
        <div class="image-plus card" onclick="location.href='/otherwaystogive';">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1570033127/infrastructure-development_egkkk1.jpg",
          "Other Ways to Give Card",
          ["560", "768"] %}
          <div class="credit" data-image-credit="Sreedhar Vaidya" ></div>
          <div class="card-title">Other Ways<br />to Give</div>
        </div>
      </div>
    </div>
  </div>
</div>