---
layout: layouts/page.njk
eleventyNavigation:
  key: page
  order: 1
tags: page
date: Last Modified
parentMenuItem: "Subscribe"
title: "Subscribe to Newsletter"
nobanner: true
description: "Subscribe to our newsletter to receive news about upcoming performances, new video releases, future events, and updates about our community."
---
<div class="container">
  <div class="wrapper ultra-wide flow">

    <div class="even-columns">
      <div class="left-column">
        <div class="image-plus card">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1718526371/01_Sankirtanam_02_PC_Stephen_Pisano_vkl37a.png",
          "Subscribe to newsletter",
          ["560", "768", "1046"] %}
          <div class="credit" data-image-credit="Ravi Shankar" ></div>
          <div class="card-title">Subscribe to<br />our Newsletter</div>
        </div>
      </div>
      <div class="right-column">
        <!-- BEGIN Brevo Subscription Form -->

        <iframe width="950" height="800" class="brevo-form" src="https://ad245a8d.sibforms.com/serve/MUIFAJwOZIkrddVRWT3ESCpi-yvY5x8ilWTADBP7TWfBZN1ROm-X9LPqgKhkqPmS1SC-BG1WzXpjcc4rhAQIWWsG3hGsTsMRKuYjRiI6qbCka7w4-M3LGnfJpJ_BpQ6WaUr9HnTqMH_mzBGAeLHJ7FvEJN9BA5A84T_bScEfRnIjPwn3s7vHI-3dJGoqfmT_4YfY_4Cn8oWwdeMH" frameborder="0" scrolling="auto" allowfullscreen style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"></iframe>

        <!-- END Brevo Subscription Form code -->
      </div>
    </div>

  </div>
</div>