---
layout: layouts/page.njk
eleventyNavigation:
  key: page
  order: 1
tags: page
date: Last Modified
title: "Terms & Conditions"
OGImage: "https://res.cloudinary.com/nrityagram/image/upload/w_600/v1589172195/terms_conditions_infydf.jpg"
---
<div id="banner-container">
  <div class="banner-image">
    {% pictures {
      "desk" : "https://res.cloudinary.com/nrityagram/image/upload/v1589172195/terms_conditions_infydf.jpg",
      "tab" : "https://res.cloudinary.com/nrityagram/image/upload/v1589172246/ipad/terms_conditions_hjghyp.jpg",
      "mob" : "https://res.cloudinary.com/nrityagram/image/upload/v1589172221/mobile/terms_conditions_wojevz.jpg"
    },
    "Terms & Conditions", {
      "mob": ["425"],
      "tab": ["768"],
      "desk": ["1600"]
    }, {
      "desk": "65em",
      "tab": "50em",
      "mob": "35em"
    },
    "eager",
    "high" %}
  </div>
  <div class="banner-image-credit"
    data-image-credit-desk="Pieter Vanderbeeken" 
    data-image-credit-tab="Pieter Vanderbeeken" 
    data-image-credit-mob="Pieter Vanderbeeken"
    ></div>
  <div class="banner-title">
      Terms &<br />Conditions
  </div>
</div>
<div class="container">
  <div class="wrapper flow">
    <h1 class="center">Terms and Conditions / Disclaimer</h1>
    <p>
			By using our Website and its services, you are accepting the practices described in the Terms and Conditions. We
			reserve the right to modify or amend the terms and conditions from time to time without notice. Your continued use
			of our Website and any affiliate websites following the posting of changes to these terms and conditions will mean
			you accept those changes.
		</p>
  </div>
</div>
<div class="container accent-bg">
  <div class="wrapper flow">
    <h1 class="center">Use of Content</h1>
    <p>
			Access to and use of text, photographs, and other files on this Website are subject to the following terms and
			conditions.
		</p>
    <h2 class="center">Copyright</h2>
    <p>
			All content on this Website including graphics, text, icons, interfaces, audio clips, videos, logos and images is
			the property of Nrityagram.
		</p>
    <p>
			Permission is given to use the resources of this Website only for the purposes of making enquiries, making a
			donation, joining Vardān - our Annual Giving programme or in connection with Nrityagram and any of its programmes
			/ facilities.
		</p>
    <p>
			Any other use, including the reproduction, modification, distribution, transmission, republication, display or
			performance, of the content on this Website can only be made with the express written permission of Nrityagram.
			All other trademarks, brands and copyrights other than those belonging to Nrityagram belong to their respective
			owners and are their property. You may not modify any of the materials. Except for personal, informational or
			non-commercial purposes, you may not copy, distribute, transmit, display, perform, reproduce, publish, license,
			create derivative works from, transfer or sell any information or work contained on the Website. Except as
			authorized under the copyright laws, you are responsible for obtaining permission before reusing any copyrighted
			material that is available on the Website.
		</p>
    <p>
			Nrityagram expressly prohibits the copying of any protected materials on this Web site, except for the purposes of
			fair use as described below.
		</p>
    <h2 class="center">Fair Use is Permitted</h2>
    <p>
			Fair use of copyrighted material includes the use of protected materials for non-commercial educational purposes,
			such as teaching, scholarship, research, criticism, commentary, and news reporting. Unless otherwise noted, users
			who wish to download or print text and image files from this Website for such uses are welcome to do so without
			express permission from Nrityagram. Users must cite the author and source of this material as they would material
			from any printed work; the citation should include the URL
			<a href="https://www.nrityagram.org" class="bodylink">www.nrityagram.org</a>
    </p>
    <p>
			By downloading, printing, or otherwise using text and image files from this Website, users agree that they will
			limit their use of such files to fair use, and will not violate Nrityagram’s or any other party’s proprietary
			rights.
		</p>
    <h2 class="center">Commercial Use is Restricted</h2>
    <p>
			Unauthorized publication or exploitation of Nrityagram’s files is specifically prohibited. Anyone wishing to use
			any of these files or images for commercial use, publication, or any purpose other than fair use as described
			above, must request and receive prior permission.
		</p>
  </div>
</div>
<div class="container">
  <div class="wrapper flow">
    <h1 class="center">Information</h1>
    <p>
			While Nrityagram uses reasonable efforts to include accurate and up to date information in the Website, Nrityagram
			makes no warranties or representations with respect to the content of the Website, which is provided “as is”. We
			accept no responsibility or liability whatsoever arising from or in any way connected with the use of this Website
			or its content. In particular, Nrityagram will not be liable for the accuracy, completeness, adequacy, timeliness,
			or comprehensiveness of the information contained on the Website.
		</p>
    <p>
			The information may contain technical inaccuracies or typographical errors. Nrityagram reserves the right to make
			changes, corrections and/or improvements to the information, and to the products and programmes described in such
			information, at any time without notice.
		</p>
  </div>
</div>
<div class="container accent-bg">
  <div class="wrapper flow">
    <h1 class="center">Limitations of Liability</h1>
    <p>
			Nrityagram assumes no responsibility, and shall not be liable for, any damages to, or viruses that may infect,
			your computer equipment or other property on account of your access to, use of, or browsing in the Website or your
			downloading of any materials, data, text, images, video, or audio from the Website. Nrityagram reserves the right
			to interrupt or discontinue any or all of the functionality of its Website. Nrityagram who is controlling this
			Website accepts no responsibility or liability whatsoever for any interruption or discontinuance of any or all
			functionality of its Website, whether the result of actions or omissions of an entity of Nrityagram or a third
			party.
		</p>
  </div>
</div>
<div class="container">
  <div class="wrapper flow">
    <h1 class="center">Links Disclaimer</h1>
    <p>
			In order to provide visitors with certain information, this website may provide links to local, state and central
			government agencies, and websites of other organizations. A link does not constitute an endorsement of the
			content, viewpoint, accuracy, opinions, policies, products, services, or accessibility of that website. Once you
			link to another website from this website, you are subject to the terms and conditions of that website, including,
			but not limited to, its privacy policy.
		</p>
  </div>
</div>
<div class="container accent-bg">
  <div class="wrapper flow">
    <h1 class="center">Information Disclaimer</h1>
    <p>
			Information provided on this website is intended to allow the public immediate access to public information. While
			all attempts are made to provide accurate, current, and reliable information, Nrityagram recognizes the
			possibility of human and / or mechanical error. Therefore, Nrityagram and its members, and their respective
			employees, officers and agents, make no representations as to the accuracy, completeness, currency, or suitability
			of the information provided by this website, and deny any expressed or implied warranty as to the same.
		</p>
  </div>
</div>
<div class="container">
  <div class="wrapper flow">
    <h1 class="center">Force Majeure</h1>
    <p>
			Neither Nrityagram nor you shall be responsible for damages or for delays or failures in performance resulting
			from acts or occurrences beyond their reasonable control, including, without limitation: fire, lightning,
			explosion, power surge or failure, water, acts of God, war, revolution, civil commotion or acts of civil or
			military authorities or public enemies; any law, order, regulation, ordinance or requirement of any government or
			legal body or any representative of any such government or legal body; labor unrest, including, without
			limitation, strikes, slowdowns, picketing or boycotts; or inability to secure raw materials, transportation
			facilities or fuel, energy shortages, or acts or omissions of other common carriers.
		</p>
  </div>
</div>
<div class="container accent-bg">
  <div class="wrapper flow">
    <h1 class="center">Release</h1>
    <p>
			In the event that you have a dispute with one or more other users of the Website, you release Nrityagram / Odissi
			Dance Centre (and our officers, trustees, directors, employees, successors and assigns) from claims, demands and
			damages (actual and consequential) of every kind and nature, known and unknown, suspected and unsuspected,
			disclosed and undisclosed, arising out of or in any way connected with such disputes.
		</p>
  </div>
</div>
<div class="container">
  <div class="wrapper flow">
    <h1 class="center">Jurisdiction</h1>
    <p>
			To the extent permissible by local law or regulation, these Terms and Conditions shall be governed by and
			construed in accordance with the laws of India.
		</p>
  </div>
</div>
<div class="container accent-bg">
  <div class="wrapper flow">
    <h1 class="center">Assistance</h1>
    <p>
			If you do not understand any of the foregoing Terms and Conditions or if you have any questions or comments, you
			can contact us at <a href="mailto:webmaster@nrityagram.org" class="bodylink">webmaster@nrityagram.org</a> (please
			include the words “Terms & conditions” in the subject line)
		</p>
  </div>
</div>
<div class="container">
  <div class="wrapper flow">
    <h1 class="center">Vardān Donor Programme</h1>
    <h2 class="center">Terms & Conditions</h2>
    <ul class="basic">
      <li>
				The Terms and Conditions set out the contractual relationship between Nrityagram and Donors who register with
				our Vardān Donor Programme.
			</li>
      <li>
				The Vardān Donor Programme is open to any individual above 18 years, at the time of joining the programme.
			</li>
      <li>
				Nrityagram shall issue a certificate acknowledging the receipt of donation in the name of the donor as mentioned
				in the Vardān Donor Programme form at the time of registration.
			</li>
      <li>
				For the purpose of identity, a Donor’s mobile number shall be used as primary, and email address as secondary.
			</li>
      <li>
				The membership to the Vardān Donor Programme is for a period of 12 months starting from the date a donation is
				made into Nrityagram’s account.
			</li>
      <li>
				Membership to the Vardān Donor Programme will automatically expire at the end of 12 months, unless renewed by
				you on or before its expiry date.
			</li>
      <li>Membership cannot be assigned or transferred to anyone.</li>
      <li>Benefits are government by the terms and conditions set herein.</li>
      <li>
				Vardān Donors are entitled to receive the benefits listed under programme details on Nrityagram’s website (<a
					href="http://www.nrityagram.org"
					class="bodylink"
					>www.nrityagram.org</a
				>) under Vardān, as applicable to the category of membership selected.
			</li>
      <li>
				A donor can cancel benefits due to them, as a member of our Vardān Donor Programme by sending an email to
				<a href="mailto:support@nrityagram.org" target="_blank" class="bodylink">support@nrityagram.org</a>.
			</li>
      <li>
				Availing benefits offered by the Vardān Donor Programme will be regarded as acceptance by such Donors, of
				current Terms and Conditions, which may be amended from time to time by Nrityagram at its sole discretion.
			</li>
      <li>
				Vardān Donors are expected to update their address, mobile number, email ID in order to continue receiving
				benefits and communication from Nrityagram.
			</li>
      <li>
				Benefits are offered on a best effort basis. Nrityagram cannot be held responsible for non-performance of any of
				the promised benefits.
			</li>
      <li>
				If benefits, facilities or arrangements are provided or made available to a Donor by Nrityagram or any of its
				programme partners, such donor will be personally responsible for any and all additional costs / shipping
				charges, taxes, surcharges, fees, charges, claims or liabilities of whatever nature arising from the provision
				or availability or usage of such benefits, facilities or arrangements.
			</li>
      <li>Benefits offered as part of the Vardān Donor Programme cannot be exchanged for cash.</li>
      <li>Nrityagram reserves the right to alter, withdraw or extend benefits without assigning any reason.</li>
      <li>
				Nrityagram and its programme partners shall not be liable for any indirect or consequential loss, damage or
				expense of any kind whatsoever, arising from their membership of the Vardān Donor Programme.
			</li>
      <li>
				Nrityagram will endeavour to ensure the availability of benefits to Vardān Donors on a best case basis. It does
				not guarantee the same in any manner and will not be liable for any loss arising from the failure by Nrityagram
				or its Programme partners to provide the said benefits.
			</li>
      <li>
				Nrityagram will regularly review and update information about the Vardān Donor Programme on its website. Despite
				its best efforts, it is possible that some of the information may become outdated. Nrityagram therefore will not
				accept any responsibility for or guarantee that the information provided is up-to-date, correct and complete.
				Subject to the aforesaid, all Vardān Donor Programme Terms and Conditions are applicable to Vardān Donor at all
				times.
			</li>
      <li>
				Any e-communication from Nrityagram received by a Vardān Donor is intended only for the person or entity to
				which it is addressed and may contain confidential and / or privileged information. If you have received a
				message in error, please notify Nrityagram at
				<a href="mailto:support@nrityagram.org" class="bodylink">support@nrityagram.org</a>.
			</li>
      <li>
				All e-communication is not guaranteed to be complete or error free. No liability is assumed for any errors and /
				or omissions in the contents of a message. Reasonable precautions have been taken to ensure that the message is
				virus-free. However, Nrityagram does not guarantee the same in any manner or accept responsibility for any loss
				or damage arising from the use of messages or attachments.
			</li>
      <li>
				The details provided by a Vardān Donor, such as name, address, telephone number, date of birth, etc. and data
				concerning contact with Nrityagram (including without limitation, enquiries regarding the Vardān Donor
				Programme) will be the property of Nrityagram. All such data will be maintained and updated for the purpose of
				providing relevant information and services to the Vardān Donor.
			</li>
      <li>
				Before any data relating to a Vardān Donor is disclosed, they may be asked security questions, which may require
				them to confirm their identity by providing information held by Nrityagram.
			</li>
      <li>
				In an effort to provide valuable offers to a Vardān Donor, Nrityagram develops mailing lists for use by
				themselves and their Programme Partners. These lists are based on information provided by the Donor at the time
				of enrolment. These lists are developed under conditions designed to safeguard the privacy of Donor’s
				information. Vardān Donors will be contacted via their email address / mobile number / landline phone numbers
				registered with the Vardān Donor Programme based on their consent given at the time of enrolment or updated
				later on <a href="http://www.nrityagram.org" class="bodylink">www.nrityagram.org</a>. If a Donor does not wish
				to receive these offers, they may ask to have their name removed from the said mailing lists by emailing us at
				<a href="mailto:support@nrityagram.org" class="bodylink">support@nrityagram.org</a>.
			</li>
      <li>
				In case a Donor visits any third-party website(s) including Programme Partner website(s), pursuant to mails
				received under this provision or any third-party links provided on the Nrityagram website and submits their
				information to any of those sites, the usage of such information will be governed by the other websites usage
				terms, including privacy policies. Nrityagram will not be responsible for the same in any manner whatsoever.
			</li>
      <li>
				Consent to receive such offers will be deemed as given, until such time that a Vardān Donor withdraws consent to
				receive mailers and offers from Nrityagram and its various Programme Partners by opting out of the relevant
				preference.
			</li>
      <li>
				Any and all information about a Donor may be disclosed as required by law, including disclosures to the police,
				immigration and customs authorities.
			</li>
      <li>
				A Donor’s personal data may be disclosed to Nrityagram’s suppliers, service providers and other partner
				companies in order to provide relevant benefits to the donor. Data collected will be used for direct marketing
				purposes only by Nrityagram and only if a Donor has given prior consent to Nrityagram to receive such marketing
				materials. If you decide you no longer wish to allow the use of your personal data for such marketing purposes,
				send an email to
				<a href="mailto:support@nrityagram.org" class="bodylink">support@nrityagram.org</a>
      </li>
      <li>
				To the extent permissible by local law or regulation, these Terms and Conditions shall be governed by and
				construed in accordance with the laws of India.
			</li>
    </ul>
    <p>
      If you have any questions or comments about our Vardān Donor Programme, contact us at  <a href="mailto:support@nrityagram.org" class="bodylink">support@nrityagram.org</a>
    </p>
  </div>
</div>