---
layout: layouts/page.njk
eleventyNavigation:
  key: page
  order: 1
tags: page
date: Last Modified
slider: true
youtube: true
parentMenuItem: "Community"
title: "Village Outreach"
description: "Our Village Outreach brings classical dance training to rural kids in an effort to popularize the classical arts of India. We believe everyone can dance. That dance has the power to engage people and motivate them towards excellence. Nrityagram is a one-of-a-kind collective of artistes, where dance is a way of life."
OGImage: "https://res.cloudinary.com/nrityagram/image/upload/v1569846362/village_outreach_pi9mro.jpg"
---
<div id="banner-container">
  <div class="banner-image">
    {% pictures 
      {"desk":"https://res.cloudinary.com/nrityagram/image/upload/v1569846362/village_outreach_pi9mro.jpg", 
      "tab":"https://res.cloudinary.com/nrityagram/image/upload/v1589045683/ipad/village-outreach_t8wrhe.jpg", 
      "mob":"https://res.cloudinary.com/nrityagram/image/upload/v1576167367/mobile/village-outreach_eualc3.jpg"}, 
      "Peepul tree in Nrityagram", 
      {"mob": ["425"], "tab": ["768"], "desk":["1600"]}, {"desk":"65em", "tab":"50em", "mob":"35em"}, 
      "eager", "high" %}
  </div>
  <div class="banner-image-credit"
    data-image-credit-desk="M Srinivas Murthy" 
    data-image-credit-tab="M Srinivas Murthy" 
    data-image-credit-mob="M Srinivas Murthy"
    ></div>
  <div class="banner-title">
        Village<br />Outreach
  </div>
</div>
<div class="container">
  <div class="wrapper flow">
    <h1 class="center">Village Outreach</h1>
  </div>
  <div class="owl-carousel ultra-wide owl-theme">
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1647085632/VO_01_wjxg3k.jpg",
      "Children's Dance Class",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Shalini Jain</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1649051749/village-outreach-2_ewbjnq.jpg",
      "Village Outreach Programmes",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Shalini Jain</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1647085632/VO_03_dmnid0.jpg",
      "Village Outreach Programmes",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Shalini Jain</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1647085632/VO_04_iryv6r.jpg",
      "Village Outreach Programmes",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Ravi Shankar</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1647085632/VO_05_vo4sqp.jpg",
      "Village Outreach Programmes",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Shalini Jain</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1647085632/VO_06_fa0vmw.jpg",
      "Village Outreach Programmes",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : M Srinivas Murthy</div>
    </div>
  </div>
  <div class="wrapper flow flow-flushtop">
    <p>
			Our Village Outreach was started in 1990 by founder <a href="/protima" class="bodylink">Protima Gauri</a>. Her
			focus was to bring classical dance training to rural kids in an effort to popularise the classical arts of India.
		</p>
    <p>
			In 1998, the Village Outreach became a part of our Project Nrityagyān (Dance Education) with a broadened vision to
			also promote personal growth by developing a strong sense of discipline, high basics of excellence and self
			esteem. Thus providing them tools to a successful future.
		</p>
    <p>
			Using a teaching method brought to us by Tracy Straus of the National Dance Institute, New York, our classes are
			full of energy, passion, commitment, honesty and respect on both sides - teacher and students. This helps us to
			almost instantly win each child’s trust because they immediately feel safe in class. Children receive honest
			feedback knowing that each of them is special, that there are small achievements every day and that they will
			succeed. The children stay focused with amazingly high energy and concentration for three hours, regardless of
			their age. And that’s how they enthusiastically accept and wholeheartedly put their efforts into new challenges.
		</p>
    <p>The groups are organised as 4 to 12 years, above 12, fresh learners and advanced learners.</p>
    <p>
      <a href="/pavithra" class="bodylink">Pavithra Reddy</a>, who initially joined this programme and was selected for
			further training in 1993, is a stellar example of the success of our Village Outreach.
		</p>
  </div>
</div>
<div class="container accent-bg">
  <div class="wrapper ultra-wide flow">
    <div class="even-columns">
      <div class="left-column">
        <div class="image-plus card" onclick="location.href='/community';">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/a_hflip/v1646055237/space-masthead-desk_ajtshm.jpg",
          "Community Card",
          ["560", "768"] %}
          <div class="credit" data-image-credit="Surupa Sen" ></div>
          <div class="card-title">Community</div>
        </div>
      </div>
      <div class="right-column">
        <div class="image-plus card" onclick="location.href='/popularising-the-arts';">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1718613522/ajji-masthead-desk_uzyz4t.png",
          "Popularising the Arts Card",
          ["560", "768"] %}
          <div class="credit" data-image-credit="Pavithra Reddy" ></div>
          <div class="card-title">Popularising<br />the Arts</div>
        </div>
      </div>
    </div>
    <div class="even-columns">
      <div class="left-column">
        <div class="image-plus card" onclick="location.href='/kula-artistes-residence';">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1719899818/Kula-masthead-desk_ktpdi9.png",
          "Kula: Artistes’ Residence Card",
          ["560", "768"] %}
          <div class="credit" data-image-credit="Unknown" ></div>
          <div class="card-title">
            Kula
            <div class="sub-title">Artistes’ Residence</div>
          </div>
        </div>
      </div>
      <div class="right-column">
        <div class="image-plus card" onclick="location.href='/building-a-dance-community';">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1718616963/dance-commons-masthead-desk_qs6rlh.png",
          "Building a Dance Community Card",
          ["560", "768"] %}
          <div class="credit" data-image-credit="Ravi Shankar" ></div>
          <div class="card-title">
            Dance Commons
            <div class="sub-title">Building a Dance Community</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>