---
layout: layouts/page.njk
eleventyNavigation:
  key: page
  order: 1
tags: page
date: Last Modified
title: "Anoushka Rahman"
description: "Nrityagram is delighted to present the solo debut performance of Anoushka Rahman, a talented Odissi dancer and member of The Nrityagram Dance Ensemble."
OGImage: "https://res.cloudinary.com/nrityagram/image/upload/w_600/v1729870383/Anoushka_Rahman_masthead_Karthik_Venkatraman-desk_n7bdep.png"
---
<div id="banner-container">
  <div class="banner-image">
    {% pictures {
      "desk" : "https://res.cloudinary.com/nrityagram/image/upload/v1729870383/Anoushka_Rahman_masthead_Karthik_Venkatraman-desk_n7bdep.png",
      "tab" : "https://res.cloudinary.com/nrityagram/image/upload/v1729870384/Anoushka_Rahman_masthead_Karthik_Venkatraman-tablet_jlnkpy.png",
      "mob" : "https://res.cloudinary.com/nrityagram/image/upload/v1729870383/Anoushka_Rahman_masthead_Karthik_Venkatraman-mobile_iyixww.png"
    },
    "About Us", {
      "mob": ["425"],
      "tab": ["768"],
      "desk": ["1600"]
    }, {
      "desk": "65em",
      "tab": "50em",
      "mob": "35em"
    },
    "eager",
    "high" %}
  </div>
  <div class="banner-image-credit"
    data-image-credit-desk="Karthik Venkataraman" 
    data-image-credit-tab="Karthik Venkataraman" 
    data-image-credit-mob="Karthik Venkataraman"
    ></div>
  <div class="banner-title">
        Anoushka<br />Rahman
  </div>
</div>
<div class="container">
  <div class="wrapper flow">
    <p class="redtext">
      “We have waited a long time to find a dancer who epitomises everything our Founder Protima Gauri wanted a Nrityagram dancer to be. And we have finally found the perfect dancer - a rare combination of talent, perseverance, intellect and above all, a fine human being. That dancer is Anoushka Rahman.”<br />
      Surupa Sen, Artistic Director
    </p>
    <p>
      Nrityagram is delighted to present the solo debut performance of Anoushka Rahman, a talented Odissi dancer and member of <a href="/ensemble" class="bodylink">The Nrityagram Dance Ensemble</a>. 
    </p>
    <p>
      Anoushka started her Odissi journey with Smt. Dona Ganguly in Kolkata and first visited Nrityagram for a <a href="/danceunlimited/#residential" class="bodylink">Summer Workshop</a> in 2018. She then continued her advanced training with <a href="/pavithra" class="bodylink">Pavithra Reddy</a> and <a href="/surupa" class="bodylink">Surupa Sen</a>.
    </p>
    <p>
      Recognized for her talent and dedication, she was awarded the <a href="/fellowships" class="bodylink">Virendra Kumar Laroia Fellowship</a>, has been featured in Nrityagram’s latest production <a href="/repertoire/#ahutirelived" class="bodylink">Āhuti Relived</a>, and has performed with The Nrityagram Dance Ensemble across India, the US, Canada, and Sri Lanka.
    </p>
    <p>
      Anoushka holds a Sangeet Bhaskar in Odissi dance and a Postgraduate degree in Mathematics, reflecting her remarkable combination of artistic and academic accomplishments.
    </p>
    <p>
      We invite you to be a part of this special event as Anoushka takes her first step on stage, as a soloist.
    </p>
    <p>
          9th November, 2024<br /> 
          7PM IST<br /> 
          JNCASR Auditorium,<br />
          Jakkur<br />
          Bengaluru 560064<br />
    </p>
    <p>
      <b>Location Pins</b><br />
      <ul class="basic">
        <li>
          <b>Drop Off from Gate 4</b> [<a href="https://maps.app.goo.gl/9m1nRCmR9MPu2rKC6?g_st=iw" target="_blank" class="bodylink">Map Link</a>]
        </li>
        <li>
          <b>Park and Enter from Gate 3</b> [<a href="https://maps.app.goo.gl/EgG4wLnpk5iGhaK67?g_st=iw" target="_blank" class="bodylink">Map Link</a>]
        </li>
      </ul>
    </p>
    <p>
      Hope to see you on 9th November!!
    </p>
  </div>
</div>