---
layout: layouts/page.njk
eleventyNavigation:
  key: page
  order: 1
tags: page
date: Last Modified
slider: true
youtube: true
parentMenuItem: "Community"
title: "Community"
description: "Our Village Outreach brings classical dance training to rural kids in an effort to popularize the classical arts of India. Nrityagram's decades-long efforts to popularise the arts and create safe spaces for it. Nrityagyān is a programme of Dance Awareness set up as part of our policy of popularising the classical arts by Nrityagram. We believe everyone can dance. That dance has the power to engage people and motivate them towards excellence. Nrityagram is a one-of-a-kind community of artistes, where dance is a way of life."
OGImage: "https://res.cloudinary.com/nrityagram/image/upload/a_hflip/v1646055237/space-masthead-desk_ajtshm.jpg"
---
<div id="banner-container">
  <div class="banner-image">
    {% pictures 
      {"desk":"https://res.cloudinary.com/nrityagram/image/upload/a_hflip/v1646055237/space-masthead-desk_ajtshm.jpg", 
      "tab":"https://res.cloudinary.com/nrityagram/image/upload/a_hflip/v1646055253/ipad/space-masthead-tablet_adcwua.jpg", 
      "mob":"https://res.cloudinary.com/nrityagram/image/upload/a_hflip/v1646055274/mobile/space-masthead-mobile_fkjcfs.jpg"}, 
      "Peepul tree in Nrityagram", 
      {"mob": ["425"], "tab": ["768"], "desk":["1600"]}, {"desk":"65em", "tab":"50em", "mob":"35em"}, 
      "eager", "high" %}
  </div>
  <div class="banner-image-credit"
    data-image-credit-desk="Surupa Sen" 
    data-image-credit-tab="Surupa Sen" 
    data-image-credit-mob="Surupa Sen"
    ></div>
  <div class="banner-title">
        Community
  </div>
</div>
<div class="container">
  <div class="wrapper ultra-wide flow">
    <div class="uneven-columns pullquote-column wide-grid-gap">
      <div class="narrow-column right-align-column">
        <div class="fade-in stickybit pullquote">
          “In creating,<br>
            sharing,<br>
            and experiencing<br>
            our collective humanity<br>
            through our art,<br>
            we end up<br>
            holding hands<br>
            with each other.”
            <div class="pullquote-credit">Lynne Fernandez</div>
        </div>
      </div>
      <div class="wide-column flow-flushtop flow-inbetween">
        <p>
					The Nrityagram community knits together the trees of our dance village,
					<br />
					the teachers whose careful eye instructs not only the alignment of the limbs but of body and spirit,
					<br />
					the students who spend hours perfecting the art,
          <br />
					the tiny insects who are masters of organic architecture,
					<br />
					our shy friend the Paradise Flycatcher,          
          <br />
					our families and friends who are our lifeblood,
					<br />
					the mango blossoms whose scented greetings bless us every summer,
					<br />
					our food forest whose bounty we gratefully share,
					<br />
					our patrons and audiences who support and cheer us across world stages, real and virtual,
					<br />
					and artistic souls around the globe.
				</p>

        <p>
					Our community draws on the wisdom of ancient teachers whose fierce intellect and creativity gave us the art
					that we now practice and nurture.
				</p>

        <p>
					Our community is a sanctuary for creative spirits, a crucible for excellence, and a talisman of hope in these
					uncertain times.
				</p>

        <p>Our community is our past, present and ever evolving future.</p>

        <p>Our community transcends the boundaries of time and space.</p>
        <p>Our community is within you, my friend, whoever you are, tree, bird, flower, or human.</p>
      </div>
      <div class="spacer-column"></div>
    </div>
  </div>
</div>
<div id="villageoutreach" class="container accent-bg">
  <div class="wrapper flow">
    <h1 class="center">Village Outreach</h1>
  </div>
  <div class="owl-carousel ultra-wide owl-theme">
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1647085632/VO_01_wjxg3k.jpg",
      "Children's Dance Class",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Shalini Jain</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1649051749/village-outreach-2_ewbjnq.jpg",
      "Village Outreach Programmes",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Shalini Jain</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1647085632/VO_03_dmnid0.jpg",
      "Village Outreach Programmes",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Shalini Jain</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1647085632/VO_04_iryv6r.jpg",
      "Village Outreach Programmes",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Ravi Shankar</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1647085632/VO_05_vo4sqp.jpg",
      "Village Outreach Programmes",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Shalini Jain</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1647085632/VO_06_fa0vmw.jpg",
      "Village Outreach Programmes",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : M Srinivas Murthy</div>
    </div>
  </div>
  <div class="wrapper flow flow-flushtop">
    <p>
			Our Village Outreach was started in 1990 by founder <a href="/protima" class="bodylink">Protima Gauri</a>. Her
			focus was to bring classical dance training to rural kids in an effort to popularise the classical arts of India.
		</p>
    <p>
			In 1998, the Village Outreach became a part of our Project Nrityagyān (Dance Education) with a broadened vision to
			also promote personal growth by developing a strong sense of discipline, high basics of excellence and self
			esteem. Thus providing them tools to a successful future.
		</p>
    <p>
			Using a teaching method brought to us by Tracy Straus of the National Dance Institute, New York, our classes are
			full of energy, passion, commitment, honesty and respect on both sides - teacher and students. This helps us to
			almost instantly win each child's trust because they immediately feel safe in class. Children receive honest
			feedback knowing that each of them is special, that there are small achievements every day and that they will
			succeed. The children stay focused with amazingly high energy and concentration for three hours, regardless of
			their age. And that’s how they enthusiastically accept and wholeheartedly put their efforts into new challenges.
		</p>
    <p>The groups are organised as 4 to 12 years, above 12, fresh learners and advanced learners.</p>
    <p>
      <a href="/pavithra" class="bodylink">Pavithra Reddy</a>, who initially joined this programme and was selected for
			further training in 1993, is a stellar example of the success of our Village Outreach.
		</p>
  </div>
</div>
<div id="popularisingarts" class="container">
  <div class="wrapper flow">
    <h1 class="center">Popularising the Arts</h1>
  </div>
  <div class="owl-carousel ultra-wide owl-theme">
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1583851012/poparts_1_wmtns1.jpg",
      "Vasantahabba",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Mahesh Bhat</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1583851012/poparts_2_b1towi.jpg",
      "Vasantahabba",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Avinash Pasricha</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1583850987/poparts_3_pgzgjl.jpg",
      "Vasantahabba",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Mahesh Bhat</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1583851012/poparts_4_jtl8vu.jpg",
      "Vasantahabba",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Sonia Manchanda</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1583850987/poparts_5_rufybo.jpg",
      "Vasantahabba",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Nan Melville</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1583851012/poparts_6_jmq9sn.jpg",
      "Vasantahabba",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Courtesy Nrityagram</div>
    </div>
  </div>
  <div class="wrapper flow-inbetween">
    <span>
      <h2 class="center">Vasantahabba</h2>
      <h4 class="center">The Spring Festival</h4>
    </span>
    <p>
			Vasantahabba, Nrityagram’s annual spring festival, was envisioned to take India’s classical heritage back to its
			roots by bringing the greatest performers to rural Karnataka.
		</p>
    <p>
			Vasantahabba was an all-night festival that hosted great masters of Indian dance and music. People arrived at noon
			for an event that started at 6pm. They came with family; they came with friends. They came from all over India;
			they even came from abroad. City dwellers came; so did the villagers. They knew everything about Indian culture;
			they knew nothing about Indian culture. Whoever they were, they did not leave before dawn. It truly was the
			Woodstock of India.
		</p>
    <p>
			During the course of 15 Vasantahabba celebrations, over 200 performers have presented to more than 400,000 people
			live and thousands more around the world via live-streaming and telecast.
			<span class="open-modal" id="openModal-vh-performers">
        <a class="bodylink redtext">Vasantahabba Performers through the years.</a>
      </span>
      <dialog id="vh-performers" class="modal">
        <div class="wrapper flow flow-flushtop flow-flushbottom">
          <div class="modal-header">
            <h4>Vasantahabba Performers through the years</h4>
            <div class="close-button" id="closeModal-vh-performers" aria-label="close">&#215;</div>
          </div>
          <div class="image-plus sharp">
            {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656145776/Vasantahabba_Leaflet_Cover_zwsf0w.jpg",
            "Vasanthabba Leaflet Cover",
            ["560", "768"] %}
          </div>
          <div class="modal-content flow-inbetween">
            <h2>Dance</h2>
            <ul class="basic">
              <li>Aditi Magaldas (Kathak)</li>
              <li>Alarmel Valli (Bharatnatyam)</li>
              <li>Astad Deboo (Contemporary Dance)</li>
              <li>Bharati Shivaji (Mohiniattam)</li>
              <li>Bijayini Satpathy (Odissi)</li>
              <li>Daksha Sheth (Contemporary Dance)</li>
              <li>Guru Jayaram & Vanashree Rao (Kuchipudi)</li>
              <li>Guru Kelucharan Mahapatra (Odissi)</li>
              <li>Guru Kelucharan Mahapatra & Pt. Birju Maharaj (Odissi & Kathak Jugalbandi)</li>
              <li>Hemang Mehta (Hindustani Vocal)</li>
              <li>Kadamb (Kathak)</li>
              <li>Kathak Kendra, Delhi (Kathak)</li>
              <li>Indira Kadambi (Bharatnatyam)</li>
              <li>Leela Samson (Bharatnatyam)</li>
              <li>Leela Samson & Spanda (Bharatnatyam)</li>
              <li>Madhu Natraj & STEM Dance Theatre (Contemporary Dance)</li>
              <li>Malavika Sarukkai (Bharatnatyam)</li>
              <li>Mandakini Trivedi (Mohiniattam)</li>
              <li>Manju Bhargavi (Kuchipudi)</li>
              <li>Nirupama & Rajendra (Kathak)</li>
              <li>Nrityagram Dance Ensemble (Odissi)</li>
              <li>Nrityagram Village Outreach Children (Odissi, Mohiniattam, Kathak, Bharatnatyam)</li>
              <li>Nrityakalamandiram, Bangalore (Bharatnatyam)</li>
              <li>Odissi Research Centre, Bhubaneswar (Odissi)</li>
              <li>Padmini Ravi (Bharatnatyam)</li>
              <li>Priyadarsini Govind (Bharatnatyam)</li>
              <li>Pratibha Prahlad (Bharatnatyam)</li>
              <li>Protima Gauri (Odissi)</li>
              <li>Raja Radha Reddy (Kuchipudi)</li>
              <li>Ranjabati Sircar & Dancers Guild (Creative Dance)</li>
              <li>Rudrakshya, Bhubaneswar (Odissi)</li>
              <li>Sujata Mahapatra (Odissi)</li>
              <li>Surupa Sen (Odissi)</li>
              <li>Usha Datar (Kuchipudi)</li>
            </ul>
            <h2>Music</h2>
            <ul class="basic">
              <li>Aruna Sairam (Carnatic Vocal)</li>
              <li>Begum Parveen Sultana (Hindustani Vocal)</li>
              <li>Bombay Jayashri (Carnatic Vocal)</li>
              <li>Dr. Chitti Babu (Carnatic Veena)</li>
              <li>Dr. L. Subramaniam (Carnatic Violin)</li>
              <li>Dr. Suma Sudhindra with an Ensemble of 25 Veenas</li>
              <li>Ganesh Kumaresh (Carnatic Violin)</li>
              <li>Gundecha Brothers (Dhrupad)</li>
              <li>Kalaimamani Kadri Gopalnath (Carnatic Saxophone)</li>
              <li>Malini Rajurkar (Hindustani Vocal)</li>
              <li>Master U. Srinivas (Carnatic Mandolin)</li>
              <li>Mysore Dr. Doreswamy Iyengar (Carnatic Veena)</li>
              <li>Naseer & Nazeer Warsi (Qawwali)</li>
              <li>Pt. Bhimsen Joshi (Hindustani Vocal)</li>
              <li>Pt. Hariprasad Chaurasia (Hindustani Flute)</li>
              <li>Pt. Jasraj (Hindustani Vocal)</li>
              <li>Pt. Shivkumar Sharma & Ustad Zakir Hussain (Santoor & Tabla Vadan)</li>
              <li>Pt. Vishwamohan Bhatt (Mohan Veena)</li>
              <li>Rajan Sajan Misra (Hindustani Vocal)</li>
              <li>Raju Ananthaswamy & Party (Tribute to Kuvempu)</li>
              <li>Rashid Khan (Hindustani Vocal)</li>
              <li>Ronu Majumdar (Hindustani Flute)</li>
              <li>Shashank Subramanyam (Carnatic Flute)</li>
              <li>Shubha Mudgal (Hindustani Vocal)</li>
              <li>Shubhendra Rao (Hindustani Sitar)</li>
              <li>Shubendra Rao & Saskia Rao-de Haas (Hindustani Sitar & Cello)</li>
              <li>Ustad Amjad Ali Khan (Hindustani Sarod)</li>
              <li>Ustad Zakir Hussain (Tabla)</li>
              <li>Veena Sahasrebuddhe (Hindustani Vocal)</li>
            </ul>
            <h2>Taalvadya Kacheri</h2>
            <ul class="basic">
              <li>
                Guru Kelucharan Mahapatra (Pakhawaj), Pt. Birju Maharaj (Dhol), Ustad Zakir Hussain (Tabla), H. P. Ramachar
                (Khanjira), Vidwan Vikku Vinayakram (Ghatam), K. Venkatram (Konagolu), Shivu (Mridangam), Rajshekhar (Morsing)
              </li>
              <li>Kalaimamani Kadri Gopalnath & Party</li>
              <li>
                Selvaganesh (Khanjira), Vidwan Vikku Vinayakram (Ghatam), Dilawar Khan (Nagada), Fazal Qureshi (Tabla), Dr. N.
                Muralirathnam (Thavil), Vellore Ramabhadran (Mridangam)
              </li>
              <li>
                Stree Shakti: Anuradha Pal (Tabla), Tanjore V Padma (Mridangam), Sukanya Ramgopal (Ghatam), Latha Ramachar
                (Khanjira), V. Nalina Mohan (Violin), Pushpa Kashinath (Veena)
              </li>
              <li>
                Vid. Umayalpuram K. Sivaraman (Mridangam), Ustad Zakir Hussain (Tabla), Vidwan H. P. Ramachar (Kanjira), Vidwan
                E. M. Subramaniam (Ghatam)
              </li>
            </ul>
            <h2>Contemporary / World Music</h2>
            <ul class="basic">
              <li>Amit Heri Group</li>
              <li>Brahmma - Ganesh Kumaresh</li>
              <li>
                D. Wood (Guitar), Storms (Bass Guitar), Sri Ram Iyer (Violin), Bhooshan Munj (Tabla), Bobby Duggal (Percussion)
              </li>
              <li>Indian Ocean (Progressive Indian Music)</li>
              <li>Louis Banks & Party</li>
              <li>Nadaka (Guitar), Ganesh Kumaresh (Violin), Shivamani (Percussion), Vidwan Vikku Vinayakram (Ghatam)</li>
              <li>Raghu Dixit & Antaragni</li>
              <li>Taufiq Qureshi & Friends</li>
              <li>Talvin Singh</li>
            </ul>
            <h2>Other Performances</h2>
            <ul class="basic">
              <li>
                Belliappa & Party (Dollu Kunita)
                <br />
                Opening Act at Vasantahabba for 10 years
              </li>
              <li>Bhangra: Buta Singh & Party</li>
              <li>Dodda Gombe</li>
              <li>Kalaripayattu: CVN Kalari Sangam, Trivandrum</li>
              <li>Kamasale</li>
              <li>Karadi Majalu</li>
              <li>Nadaswaram: Dollu Venkatesh & Party</li>
              <li>Puja Kunita</li>
              <li>Somana Kunita</li>
              <li>Veeragase</li>
              <li>Yakshagana: Keremane Shambhu Hegde & Sri Idagunji<br />Mahaganapathi Yakshagana Mandali</li>
              <li>Yakshagana: Makkala Mela, Saligrama, Dakshina Kannada</li>
            </ul>
          </div>
        </div>
      </dialog>
      <script type="text/javascript">
        const modal = document.querySelector('#vh-performers');
        const openModal = document.querySelector('#openModal-vh-performers');
        const closeModal = document.querySelector('#closeModal-vh-performers');

        openModal.addEventListener('click', () => {
          modal.showModal();
        });

        closeModal.addEventListener('click', () => {
          modal.close();
        });
      </script>
    </p>
    <p>
			Nrityagram has also proudly showcased over 5000 children from the village outreach programme. For many of the
			children, performing at Vasantahabba, on the same stage as the great maestros was an incredibly powerful
			experience.
		</p>
    <p>Vasantahabba was discontinued in 2005 and we hope to launch it in a new avatar some day.</p>
    <br>
  </div>
  <div class="owl-carousel ultra-wide owl-theme">
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1580626036/ajji_1_e8gtyh.jpg",
      "Ajji Kathegalu - tales my grandmother told me",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Pavithra Reddy</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1580626035/ajji_2_y4csic.jpg",
      "Ajji Kathegalu - tales my grandmother told me",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Pavithra Reddy</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1580626036/ajji_3_ovavmx.jpg",
      "Ajji Kathegalu - tales my grandmother told me",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Pavithra Reddy</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1580626035/ajji_4_x8z57z.jpg",
      "Ajji Kathegalu - tales my grandmother told me",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Pavithra Reddy</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1655111620/ajji-5-pavi_wtnftn.jpg",
      "Ajji Kathegalu - tales my grandmother told me",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Pavithra Reddy</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1655112341/ajji-6_my1ajk.jpg",
      "Ajji Kathegalu - tales my grandmother told me",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Pavithra Reddy</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1655112341/ajji-7_t2weof.jpg",
      "Ajji Kathegalu - tales my grandmother told me",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Pavithra Reddy</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656312213/ajji-abhishek1_vjiatt.jpg",
      "Ajji Kathegalu - tales my grandmother told me",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Abhishek Tiwari</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656312213/ajji-abhishek2_mwhig3.jpg",
      "Ajji Kathegalu - tales my grandmother told me",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Abhishek Tiwari</div>
    </div>
  </div>
  <div class="wrapper flow flow-flushtop">
    <span>
      <h2 class="center">Ajji Kathegaḷu</h2>
      <h4 class="center">Tales my grandmother told me</h4>
    </span>
    <p>
			“Once upon a time...” These are magic words, for they make a promise of a scintillating tale to come. We all become children when we hear these words, sitting around an elder with evening lamps casting flickering shadows that mirror all the fleeting emotions we experience – fear, worry, joy, and of course the fun of listening to stories.
		</p>
    <p>
      <em>Ajji Kathegalu</em>, is Nrityagram opening a portal for us to enter our childhood again, an invitation to listen to tales from here and there, and laugh and once again experience the wondrous possibilities stories spark within us.
		</p>
    <p>1st Sunday of the month, 12pm at Nrityagram.</p>
    <p>All are welcome.</p>
  </div>
</div>
<div id="supportingartists" class="container accent-bg">
  <div class="wrapper flow">
    <h1 class="center">Supporting Artistes</h1>
  </div>
  <div class="owl-carousel ultra-wide owl-theme">
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1583861344/supportartists_1_h3y1ig.jpg",
      "Kula Artist Residences in Nrityagram",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Sanjay Ramachandran</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1583861344/supportartists_2_gek2vu.jpg",
      "Kula Artist Residences in Nrityagram",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Sanjay Ramachandran</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1583861344/supportartists_3_fsov6b.jpg",
      "Kula Artist Residences in Nrityagram",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Sanjay Ramachandran</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1583861344/supportartists_4_cqu6os.jpg",
      "Kula Artist Residences in Nrityagram",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Sanjay Ramachandran</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1583861344/supportartists_5_sjjg9y.jpg",
      "Kula Artist Residences in Nrityagram",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Sanjay Ramachandran</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1583861344/supportartists_6_ziatsh.jpg",
      "Kula Artist Residences in Nrityagram",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Sanjay Ramachandran</div>
    </div>
  </div>
  <div class="wrapper flow flow-flushtop">
    <h2 class="center">Kula</h2>
    <h4 class="center">Artistes Residence</h4>
    <p>
      For three decades, Nrityagram’s natural surroundings, wholesome 
lifestyle and inspired practice, have generated and nourished artistic dialogue and innovation.
    </p>
    <p>
			Stimulated by the unique ambience, artistes from various disciplines have expressed a desire to live and create work at Nrityagram. So, in order to support collaboration and 
allow access to the holistic energising space that we have created, we built Kula, a home for artistes. Kula (from Gurukula meaning 
Community / Clan / Tribe) is a space for artistes to meet, converse, and create – an interdisciplinary crucible for the arts. 
		</p>
    <p>
			Kula has grown organically to be a haven that nurtures the cross-pollination of artistic work and has become a centre for both innovation and experimentation, 
for artistes from diverse backgrounds. Given the paucity of such spaces, 
Kula is sought after by artistes who seek to create, unhindered by distractions of diurnal concerns, in a space nurtured by Nrityagram’s 
single-minded dedication to the arts.
		</p>
    <p>
			Since November 2010, Kula has hosted several hundred dancers, writers, theatre practitioners and musicians, as both independent artistes and groups. Located in the heart of a living artistic community dedicated to Excellence, residencies at Kula deliver a wonderful support system that allows artistes to thrive and be inspired.
		</p>
    <div>
      <h3>Facilities</h3>
      <ul class="basic">
        <li>8 twin-bedroom units with attached bathrooms</li>
        <li>Common living room and kitchenette</li>
        <li>Wi-fi</li>
        <li>Dedicated rehearsal space</li>
        <li>Vegetarian meals made from locally grown organic produce</li>
      </ul>
    </div>
    <p>
			Write to us for more details: <a href="mailto:info@nrityagram.org" class="bodylink">info@nrityagram.org</a>
    </p>
  </div>
</div>
<div id="danceaware" class="container">
  <div class="wrapper flow">
    <h1 class="center">Dance Awareness</h1>
  </div>

  <div class="owl-carousel ultra-wide owl-theme">
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1580622153/danceaware_1_acdtmk.jpg",
      "Spreading dance awareness through workshops and lecture-demonstrations",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Courtesy Nrityagram</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1580622152/danceaware_2_wipowo.jpg",
      "Spreading dance awareness through workshops and lecture-demonstrations",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Courtesy Nrityagram</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1580622152/danceaware_3_negugh.jpg",
      "Spreading dance awareness through workshops and lecture-demonstrations",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Courtesy Nrityagram</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1580622152/danceaware_4_bjkuzp.jpg",
      "Spreading dance awareness through workshops and lecture-demonstrations",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Courtesy Nrityagram</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1580622152/danceaware_5_vyntb0.jpg",
      "Spreading dance awareness through workshops and lecture-demonstrations",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Courtesy Nrityagram</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1580797484/danceaware_6_qrhogy.jpg",
      "Spreading dance awareness through workshops and lecture-demonstrations",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Courtesy Nrityagram</div>
    </div>
  </div>

  <div class="wrapper flow flow-flushtop">
    <p>
			Dance is not just about movement, it is about uniting thought, breath, emotion, and body in a whole. In a world
			where artificial binaries of body and mind, emotion and reason, and thought and deed exist, dance provides the
			vocabulary and path to reconceive the relationship we have with ourselves, our communities, and the earth at
			large.
		</p>
    <p>
			Nrityagyān, our initiative to spread awareness about dance was started in the mid-nineties, and strives for as
			many people as possible to access the healing possibilities that dance offers.
		</p>
    <div>
      <P>Through Nrityagyān we:</P>
      <ul class="basic">
        <li>
				Conduct sensitisation and knowledge building programmes for people so that the audience base for the classical
				arts is expanded.
			</li>
        <li>
				Open the world of classical dance to the young through lecture-demonstrations in schools, universities, and
				community associations.
			</li>
        <li>Research the use of classical dance in education, therapy and rehabilitation</li>
      </ul>
    </div>
    <p>
			Over the last three decades, over 500,000 children and adults have benefitted from our Project Nrityagyān through
			a range of activities that include workshops and lecture-demonstrations.
		</p>
    <p>
			In the next phase of development, we plan to set-up a Resource Centre for scholars to document and research Indian
			classical dance, and to publish the work done at Nrityagram over the last three decades.
		</p>
  </div>
</div>
<!-- <div id="quietspace" class="container accent-bg">
  <div class="wrapper flow">
    <h1 class="center">Quiet Space</h1>
    <div class="image-plus top-flow">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1647774613/quiet-space_esntpw.jpg",
        "Quiet Space",
        ["560", "768", "1046"] %}
      <div class="credit" data-image-credit="Lynne Fernandez" ></div>
    </div>
    <p>
        In these troubled times, our spirit is exhausted and we seek solace. We want to rest under the shade of a quiet moment. To find comfort and strength in community and shared experiences.
		</p>
    <p>
			So, we created <a href="https://spatial.chat/s/nrityagram" class="bodylink" target="_blank">Quiet Space</a> where twice a day, we can gather together and listen to music - multi-faith
			devotional music, songs of hope, music to soothe our souls, perhaps even birdsong from Nrityagram - anything
			that will bring us peace and courage. A Circle of Solace for all of us.
		</p>
    <p>
      <em>These are the timings, though the music plays through the day:</em>
    </p>
    <table class="basic">
      <tr>
        <td>
          <b>India</b>
        </td>
        <td>8am - 11am</td>
        <td>5pm - 8pm</td>
      </tr>
      <tr>
        <td>
          <b>Perth</b>
        </td>
        <td>10.30am - 1.30pm</td>
        <td>7.30pm - 10.30pm</td>
      </tr>
      <tr>
        <td>
          <b>London</b>
        </td>
        <td>3.30am - 6.30am</td>
        <td>12.30pm - 3.30pm</td>
      </tr>
      <tr>
        <td>
          <b>EDT</b>
        </td>
        <td>10.30pm - 1.30am</td>
        <td>7.30am - 10.30am</td>
      </tr>
    </table>
    <p>
			We invite you to join
			<a href="https://spatial.chat/s/nrityagram" class="bodylink" target="_blank">Quiet Space</a> as often as you
			can. Come in at your convenience and leave when your heart tells you to.
		</p>
    <p>It is our small attempt to stitch together a quilt, and take shelter awhile.</p>
    <p>Come Home to Nrityagram!</p>
    <h3 class="fade-in center">Here’s how you can join Quiet Space</h3>
    <div class="uneven-columns narrow-wide-40-60 fade-in">
      <div class="narrow-column">
        <ol class="basic">
          <li>
            Click on <a href="https://spatial.chat/s/nrityagram" class="bodylink" target="_blank">https://spatial.chat/s/nrityagram</a>
          </li>
          <li>
            Enter your Name & something about yourself
          </li>
        </ol>
      </div>
      <div class="wide-column">
        <div class="image-plus">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1633191709/01-f_lztnbh.jpg",
          "Spatial Chat login screen",
          ["560", "768"] %}
        </div>
      </div>
    </div>
    <div class="uneven-columns narrow-wide-40-60 fade-in">
      <div class="narrow-column">
        <ol class="basic" start="3">
          <li>
            Click Continue
          </li>
        </ol>
      </div>
      <div class="wide-column">
        <div class="image-plus">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1633191709/02-f_yrvgch.jpg",
          "Spatial Chat login screen",
          ["560", "768"] %}
        </div>
      </div>
    </div>
    <div class="uneven-columns narrow-wide-40-60 fade-in">
      <div class="narrow-column">
        <ol class="basic" start="4">
          <li>
            Allow Access to Camera (if you wish) and Click Join Space
          </li>
        </ol>
      </div>
      <div class="wide-column">
        <div class="image-plus">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1633191709/03-f_klzndu.jpg",
          "Spatial Chat login screen",
          ["560", "768"] %}
        </div>
      </div>
    </div>
    <div class="uneven-columns narrow-wide-40-60 fade-in">
      <div class="narrow-column">
        <ol class="basic" start="5">
          <li>
            And you’re in - Welcome to Quiet Space!!
          </li>
        </ol>
      </div>
      <div class="wide-column">
        <div class="image-plus">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656344094/Quiet_Space_I_q067uc.png",
          "Spatial Chat login screen",
          ["560", "768"] %}
        </div>
      </div>
    </div>
  </div>
</div> -->
<div id="dancecommons" class="container  accent-bg">
  <div class="wrapper flow">
    <h1 class="center">Dance Commons</h1>
  </div>
  <div class="owl-carousel ultra-wide owl-theme">
    <!-- Day 1 - 1 -->
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1716984300/day1-1_whvinc.png",
      "Day 1 of the Dance Commons event at Nrityagram",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Ravi Shankar</div>
    </div>
    <!-- Day 1 - 2 -->
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1716984230/day1-2_vzghqj.png",
      "Day 1 of the Dance Commons event at Nrityagram",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Ravi Shankar</div>
    </div>
    <!-- Day 1 - 5 -->
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1716984495/day1-5_m8sljj.png",
      "Day 1 of the Dance Commons event at Nrityagram",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Ravi Shankar</div>
    </div>
    <!-- Day 1 - 6 -->
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1716984259/day1-6_dlsihy.png",
      "Day 1 of the Dance Commons event at Nrityagram",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Ravi Shankar</div>
    </div>
    <!-- Day 1 - 7 -->
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1716984516/day1-7_gv39k6.png",
      "Day 1 of the Dance Commons event at Nrityagram",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Ravi Shankar</div>
    </div>
    <!-- Day 1 - 8 -->
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1716984515/day1-8_nxsr0r.png",
      "Day 1 of the Dance Commons event at Nrityagram",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Ravi Shankar</div>
    </div>
    <!-- Day 1 - 9 -->
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1716984169/day1-9_f97rwj.png",
      "Day 1 of the Dance Commons event at Nrityagram",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Ravi Shankar</div>
    </div>
    <!-- Day 2 - 1 -->
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1716984222/day2-1_yye2pl.png",
      "Day 2 of the Dance Commons event at Nrityagram",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Surupa Sen</div>
    </div>
    <!-- Day 2 - 2 -->
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1716984531/day2-2_pnswwr.png",
      "Day 2 of the Dance Commons event at Nrityagram",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Surupa Sen</div>
    </div>
    <!-- Day 2 - 3 -->
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1716984495/day2-3_fo5ktf.png",
      "Day 2 of the Dance Commons event at Nrityagram",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Surupa Sen</div>
    </div>
    <!-- Day 2 - 4 -->
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1716984364/day2-4_xevep8.png",
      "Day 2 of the Dance Commons event at Nrityagram",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Surupa Sen</div>
    </div>
    <!-- Day 2 - 5 -->
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1716984019/day2-5_mgrcvv.png",
      "Day 2 of the Dance Commons event at Nrityagram",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Surupa Sen</div>
    </div>
    <!-- Day 2 - 6 -->
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1716984411/day2-6_exgyu4.png",
      "Day 2 of the Dance Commons event at Nrityagram",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Surupa Sen</div>
    </div>
    <!-- Day 2 - 7 -->
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1716984234/day2-7_pya6jd.png",
      "Day 2 of the Dance Commons event at Nrityagram",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Surupa Sen</div>
    </div>
  </div>
  <div class="wrapper ultra-wide flow flow-flushtop">
    <div class="uneven-columns pullquote-column wide-grid-gap">
      <div class="narrow-column right-align-column">
        <div class="fade-in stickybit pullquote">
          “Do you believe,<br>
            as I do,<br>
            that someone<br>
            in our hamlet<br>
            is keeping<br>
            the fire alive?”
            <div class="pullquote-credit">Thich Nhat Hanh</div>
        </div>
      </div>
      <div class="wide-column flow-flushtop flow-inbetween">
        <p>
          What do dancers dream of when no one is watching? What are their deepest desires, fears, and hopes for tomorrow? What do they aspire for? Can there be a community of Indian classical dancers that speaks to their aspirations and dreams, and works as a collective for the needs and aims of the dancers? In today's context, young Indian classical dancers face different kinds of pressures from having to perform on stages as well as on social media, lack of adequate financial support, anxieties over ever-increasing competition, and vying for scarce resources. The artistic journeys of young Indian classical dancers are often framed as that of an individual; lonely, anxious, and having to fend for themselves. In such a context, is the idea of a ‘community’ relevant for young dancers? If yes, what is their imagination of such a ‘community’? And crucially, are young dancers prepared to become more than solo artists on an individual journey, and find meaning and kinship in a collective?
        </p>
        <p>
          These were some of the questions raised by <a href="/surupa" class="bodylink">Surupa Sen</a>, Artistic Director of Nrityagram. Given Surupa's own lived experience of having been part of a community of dancers over three decades, and having experienced firsthand how the community has shaped her art, she wanted to understand what was in the minds of young dancers. After multiple conversations with different people, including students, patrons, and her peers, she initiated the idea of conducting a dialogue with young dancers. The premise was simple – let us ask young dancers what they think; do they see value in the idea of a community? And thus, the Dance Commons was born, a space for young dancers to come together and converse, share their stories, and imagine together what their collective futures could look like.
        </p>
        <p>
          Toward this goal, a two-day dialogue was planned at Nrityagram and on 19th and 20th August 2023, the first Dance Commons brought together young dancers from all over India to reflect on questions about their art, passion, dreams, and the future, and to ideate and shape what a community for Indian classical dance could be. It was a space of fertile discomfort, from which a collective dream took shape.
        </p>
        <p>
          Read the <a href="https://cdn.sanity.io/files/a81875ul/production/8cc3e80a06294f06fdac506b19bd8b66c0e49f78.pdf" class="bodylink" target="_blank">Report</a> on the First Dialogue.
        </p>
        <p>
          Watch the Film.
        </p>
      </div>
    </div>
  </div>
</div>
</div>