---
layout: layouts/page.njk
eleventyNavigation:
key: page
order: 1
tags: page
date: Last Modified
parentMenuItem: "School"
title: "Fellowships"
OGImage: "https://res.cloudinary.com/nrityagram/image/upload/v1726595064/fellowship-masthead-desk_tmauli.png"
---
<div id="banner-container">
	<div class="banner-image">
		{% pictures 
      {"desk":"https://res.cloudinary.com/nrityagram/image/upload/v1726595064/fellowship-masthead-desk_tmauli.png", 
      "tab":"https://res.cloudinary.com/nrityagram/image/upload/v1726595065/fellowship-masthead-tablet_ksjg6f.png", 
      "mob":"https://res.cloudinary.com/nrityagram/image/upload/v1726595064/fellowship-masthead-mobile_zwnvid.png"}, 
      "Surupa kneeling, bathed in red light, palms joined and raised upward as if receiving a boon", 
      {"mob": ["425"], "tab": ["768"], "desk":["1600"]}, {"desk":"65em", "tab":"50em", "mob":"35em"}, 
      "eager", "high" %}
	</div>
	<div class="banner-image-credit"
		 data-image-credit-desk="Suzanne Lee"
		 data-image-credit-tab="Suzanne Lee"
		 data-image-credit-mob="Suzanne Lee"></div>
	<div class="banner-title">
		Fellowships
	</div>
</div>
<div class="container">
	<div class="wrapper flow">
		<p>
			Art needs guardian angels. Nrityagram Angels sustain the heart and soul of our community, and for three decades,
			the support of our Angels, known and anonymous, has made it possible for our artistic vision to
			come alive.
		</p>
	</div>
</div>
<div class="container accent-bg">
	<div class="wrapper ultra-wide flow">
		<div class="uneven-columns pullquote-column wide-grid-gap">
			<div class="narrow-column flow-titletext-top-pad right-align-column">
				<div class="fade-in image-plus shrink-mob">
					{% image "https://res.cloudinary.com/nrityagram/image/upload/v1728192129/VK_Laroia_fellowship-mobile_rbafv8.png",
					"VK Laroia",
					["560", "768", "1046"] %}
				</div>
				<div class="fade-in pullquote desk-only">
					“There is no better gift we could think of giving him than a Fellowship in his name, for a deserving candidate in an art form he so admired.”
					<div class="pullquote-credit">Laroia Family</div>
				</div>
			</div>
			<div class="wide-column flow-flushtop flow-inbetween">
				<h1>Virendra Kumar Laroia Fellowship</h1>
				<p>
					We are delighted that the family of Shri VK Laroia, has decided to establish the
					Virendra Kumar Laroia Fellowship at Nrityagram, to carry forward his legacy of patronage for the
					arts and artists.
				</p>
				<p>
					An engineer with a great love and passion for the arts, especially Indian classical music and dance,
					Shri VK Laroia could be found at most music and dance recitals presented in Delhi and was constantly
					and actively engaged in the promotion and patronage of Indian performing arts. Incidentally, Shri VK
					Laroia's father, Dr. Banarsi Das Laroia was the first Vice-Chancellor of Bangalore University;
					Bangalore, the beloved home of Nrityagram.
				</p>
				<p>
					While establishing the Fellowship, the family of Shri VK Laroia said, “9th November 2020 would have
					been his 89th birthday, and there is no better gift we could think of giving him than a Fellowship
					in his name, for a deserving candidate in an art form he so admired.”
				</p>
				<p>
					The Virendra Kumar Laroia Fellowship will ensure that a gifted young dancer is completely supported
					in their journey and that Nrityagram continues to inspire future generations of dancers.
				</p>
				<p>
					We are tremendously grateful for this contribution, and we look forward to working with the Laroia
					family to make the best use of this opportunity, by providing it to deserving dancers year after
					year.
				</p>
				<p>
					The first recipient of the Virendra Kumar Laroia Fellowship is Anoushka Rahman.
				</p>
			</div>
		</div>
	</div>
</div>