---
layout: layouts/page.njk
eleventyNavigation:
    key: page
    order: 1
tags: page
date: Last Modified
accordion: true
parentMenuItem: "Support"
title: "Friends of Nrityagram"
description: "Friends of Nrityagram are vital members of our extended family. Your support will help us maintain the institution and further expand it. India’s first modern Gurukul, Nrityagram is a one-of-a-kind community where dance is a way of life."
OGImage: "https://res.cloudinary.com/nrityagram/image/upload/w_200/v1570033516/friends-of-nrityagram-banner_fg7kzg.jpg"
---
<div id="banner-container">
    <div class="banner-image">
        {% pictures 
      {"desk":"https://res.cloudinary.com/nrityagram/image/upload/v1570033516/friends-of-nrityagram-banner_fg7kzg.jpg", 
      "tab":"https://res.cloudinary.com/nrityagram/image/upload/v1589077339/ipad/friends-of-nrityagram_ohfsfo.jpg", 
      "mob":"https://res.cloudinary.com/nrityagram/image/upload/v1576172128/mobile/friends-of-nrityagram_amc3kn.jpg"}, 
      "Friends of Nrityagram", 
      {"mob": ["425"], "tab": ["768"], "desk":["1600"]}, {"desk":"65em", "tab":"50em", "mob":"35em"}, 
      "eager", "high" %}
    </div>
    <div class="banner-image-credit"
    data-image-credit-desk="Sreedhar Vaidya" 
    data-image-credit-tab="Sreedhar Vaidya" 
    data-image-credit-mob="Sreedhar Vaidya"
    ></div>
    <div class="banner-title">
        Friends of<br />Nrityagram
  </div>
</div>
<div class="container">
    <div class="wrapper ultra-wide flow">
        <p>
            Friends of Nrityagram are vital members of our extended family. Your support will help us create uplifting experiences for the community, maintain artistic excellence, expand our unique outreach programs and ensure that Nrityagram continues to inspire future generations of dancers.
        </p>
        <h1>
            <span class="centerflex">Areas of Support</span>
        </h1>
        <div class="even-columns">
            <div class="left-column accordion">
                <details open data-details-key="area1">
                    <summary class="redtext">Village Children Arts Program</summary>
                    <p>
                        We believe dance has the power to engage people and motivate them towards excellence. With your Annual donation, we can continue our 30-year old community outreach to bring free dance training to hundreds of village children, which will support their overall success in life.
                    </p>
                </details>
                <details data-details-key="area2">
                    <summary class="redtext">Re-stage, Restore and Rebuild Early Works</summary>
                    <p>
                        We regularly re-stage works from <a href="/surupa" class="bodylink">Surupa Sen</a>’s repertoire in addition to heritage pieces from Guru Kelucharan Mahapatra’s legacy. Your Annual donation will allow us to rejuvenate and nourish these works of art.
                    </p>
                </details>
                <details data-details-key="area3">
                    <summary class="redtext">Nrityagyān: Dance Awareness</summary>
                    <p>
                        We conduct free lecture-demonstrations in schools, universities, and local villages to build knowledge about the classical arts. Over three decades, more than 500,000 children and adults have benefitted from our Project Nrityagyān endeavours. Your Annual donation will enable us to continue this valuable work.
                    </p>
                </details>
                <details data-details-key="area4">
                    <summary class="redtext">Subsidised Creative Space for Artists</summary>
                    <p>
                        Nrityagram aims to be a place that nurtures artistic growth and exchange. We provide an artistic haven for creative professionals ranging from dancers to writers to theatre practitioners, and offer subsidies of 50% - 100% on Lodge and Board. Your Annual donation will make it possible to help a community that typically lacks support.
                    </p>
                </details>
            </div>
            <div class="right-column">
                <div class="stacked-column">
                    <div class="image-plus flow-flushtop stacked-img show" id="area1">
                        {% image "https://res.cloudinary.com/nrityagram/image/upload/v1570033519/friendsofng_1_yvj2sr.jpg",
                        "Rehearsals and classes at Nrityagram",
                        ["560", "768"] %}
                        <div class="credit" data-image-credit="Surupa Sen" ></div>
                    </div>
                    <div class="image-plus flow-flushtop stacked-img" id="area2">
                        {% image "https://res.cloudinary.com/nrityagram/image/upload/v1570033516/friendsofng_2_cco1jk.jpg",
                        "Rehearsals and classes at Nrityagram",
                        ["560", "768"] %}
                        <div class="credit" data-image-credit="Protima Gauri" ></div>
                    </div>
                    <div class="image-plus flow-flushtop stacked-img" id="area3">
                        {% image "https://res.cloudinary.com/nrityagram/image/upload/v1580797774/friends_of_ng_3_t4jnto.jpg",
                        "Rehearsals and classes at Nrityagram",
                        ["560", "768"] %}
                        <div class="credit" data-image-credit="Lynne Fernandez" ></div>
                    </div>
                    <div class="image-plus flow-flushtop stacked-img" id="area4">
                        {% image "https://res.cloudinary.com/nrityagram/image/upload/v1591011122/4_syzq7f.jpg",
                        "Rehearsals and classes at Nrityagram",
                        ["560", "768"] %}
                        <div class="credit" data-image-credit="Per Bloch Courtesy Sangam House" ></div>
                    </div>
                </div>
            </div>
        </div>
        <h1>
            <span class="centerflex">Second Accordion Here</span>
        </h1>
    </div>
</div>