---
layout: layouts/page.njk
eleventyNavigation:
key: home
order: 1
tags: page
vanillaSlider: true
slider: true
youtube: true
marquee: true
scrollToTop: true
date: Last Modified
OGImage: 'https://res.cloudinary.com/nrityagram/image/upload/v1701794529/ng_logo_blk_bg_sg0emm.png'
---
<div id="banner-container">
  <div id="vanilla-slideshow">
    {# Slide 1 #}
    <div class="vanilla-slide">
      {% pictures 
        {"desk":"https://res.cloudinary.com/nrityagram/image/upload/v1717248211/slide1-surupa_grasslands-desk_d0f6qh.png", 
        "tab":"https://res.cloudinary.com/nrityagram/image/upload/v1717248210/slide1-surupa_grasslands-tablet_kh64z9.png", 
        "mob":"https://res.cloudinary.com/nrityagram/image/upload/v1717248209/slide1-surupa_grasslands-mobile_dgeknb.png"}, 
        "Slide 1", 
        {"mob": ["425"], "tab": ["768"], "desk":["1600"]}, 
        {"desk":"65em", "tab":"50em", "mob":"35em"}, 
        "eager", "high" %}

      <div class="banner-image-credit homepage"
           data-image-credit-desk="Karthik Venkatraman"
           data-image-credit-tab="Karthik Venkatraman"
           data-image-credit-mob="Karthik Venkataraman"></div>

      <div class="banner-tagline-cta-combo">
        <div class="banner-tagline">
          <span class="banner-tagline--text">
            “These are among the world’s greatest dancers!”
          </span>
          <span class="banner-tagline--credit">
            The New York Times
          </span>
        </div>
        <!-- CTA Box for Mobile Here -->
        <div class="cta-mobile"
             onclick="location.href='/informance';">
          <div class="cta-line-lrg">
            <span class="whitetext">Dance Informance</span>
          </div>
          <div class="cta-line-sml">14 Dec 2024 • Book Now!</div>
          <div class="cta-arrow"><img src="/img/cta-arrow-circle-right.svg" alt=""></div>
        </div>
      </div>

    </div>
    {# Slide 2 #}
    <div class="vanilla-slide">
      {% pictures 
        {"desk":"https://res.cloudinary.com/nrityagram/image/upload/v1716884460/ahuti-duet-desk_ip55w1.webp", 
        "tab":"https://res.cloudinary.com/nrityagram/image/upload/v1716895613/ahuti-duet-tablet_ndkjbh.webp", 
        "mob":"https://res.cloudinary.com/nrityagram/image/upload/v1716895613/ahuti-duet-mobile_ltdblg.webp"}, 
        "Slide 2", 
        {"mob": ["425"], "tab": ["768"], "desk":["1600"]}, 
        {"desk":"65em", "tab":"50em", "mob":"35em"}, 
        "eager", "high" %}

      <div class="banner-image-credit homepage"
           data-image-credit-desk="Karthik Venkatraman"
           data-image-credit-tab="Karthik Venkatraman"
           data-image-credit-mob="Karthik Venkataraman"></div>

      <div class="banner-tagline-cta-combo">
        <div class="banner-tagline">
          <span class="banner-tagline--text">
          “These are among the world’s greatest dancers!”
        </span>
          <span class="banner-tagline--credit">
          The New York Times
        </span>
        </div>
        <!-- CTA Box for Mobile Here -->
        <div class="cta-mobile"
             onclick="location.href='/informance';">
          <div class="cta-line-lrg">
            <span class="whitetext">Dance Informance</span>
          </div>
          <div class="cta-line-sml">14 Dec 2024 • Book Now!</div>
          <div class="cta-arrow"><img src="/img/cta-arrow-circle-right.svg" alt=""></div>
        </div>
      </div>

    </div>
    {# Slide 3 #}
    <div class="vanilla-slide">
      {% pictures {
        "desk" : "https://res.cloudinary.com/nrityagram/image/upload/v1718211757/findyourway-masthead-desk_eqmvd0.png",
        "tab" : "https://res.cloudinary.com/nrityagram/image/upload/v1718211760/findyourway-masthead-tablet_ad9voo.png",
        "mob" : "https://res.cloudinary.com/nrityagram/image/upload/v1718211705/findyourway-masthead-mobile_kbkkot.png"
      },
      "Slide 3", {
        "mob": ["425"],
        "tab": ["768"],
        "desk": ["1600"]
      }, {
        "desk": "65em",
        "tab": "50em",
        "mob": "35em"
      },
      "eager",
      "high" %}
      <div class="banner-image-credit homepage"
           data-image-credit-desk="Ravi Shankar"
           data-image-credit-tab="Ravi Shankar"
           data-image-credit-mob="Ravi Shankar"></div>

      <div class="banner-tagline-cta-combo">
        <div class="banner-tagline">
          <span class="banner-tagline--text">
          “These are among the world’s greatest dancers!”
        </span>
          <span class="banner-tagline--credit">
          The New York Times
        </span>
        </div>
        <!-- CTA Box for Mobile Here -->
        <div class="cta-mobile"
             onclick="location.href='/informance';">
          <div class="cta-line-lrg">
            <span class="whitetext">Dance Informance</span>
          </div>
          <div class="cta-line-sml">14 Dec 2024 • Book Now!</div>
          <div class="cta-arrow"><img src="/img/cta-arrow-circle-right.svg" alt=""></div>
        </div>
      </div>

    </div>
    {# Slide 4 #}
    <div class="vanilla-slide">
      {% pictures {
        "desk" : "https://res.cloudinary.com/nrityagram/image/upload/v1716883439/ahuti-desk-3_x5xc9n.webp",
        "tab" : "https://res.cloudinary.com/nrityagram/image/upload/v1717073196/pavi-leaping-tablet_jm7dvi.png",
        "mob" : "https://res.cloudinary.com/nrityagram/image/upload/v1717073191/pavi-leaping-mobile_qxzweb.png"
      },
      "Slide 4", {
        "mob": ["425"],
        "tab": ["768"],
        "desk": ["1600"]
      }, {
        "desk": "65em",
        "tab": "50em",
        "mob": "35em"
      },
      "eager",
      "high" %}
      <div class="banner-image-credit homepage"
           data-image-credit-desk="Karthik Venkatraman"
           data-image-credit-tab="Courtesy Colorado Fine Arts Association"
           data-image-credit-mob="Courtesy Colorado Fine Arts Association"></div>

      <div class="banner-tagline-cta-combo">
        <div class="banner-tagline">
          <span class="banner-tagline--text">
          “These are among the world’s greatest dancers!”
        </span>
          <span class="banner-tagline--credit">
          The New York Times
        </span>
        </div>
        <!-- CTA Box for Mobile Here -->
        <div class="cta-mobile"
             onclick="location.href='/informance';">
          <div class="cta-line-lrg">
            <span class="whitetext">Dance Informance</span>
          </div>
          <div class="cta-line-sml">14 Dec 2024 • Book Now!</div>
          <div class="cta-arrow"><img src="/img/cta-arrow-circle-right.svg" alt=""></div>
        </div>
      </div>

    </div>
    {# Slide 5 #}
    <div class="vanilla-slide">
      {% pictures {
        "desk" : "https://res.cloudinary.com/nrityagram/image/upload/v1643006338/5_1school_mpstmi.jpg",
        "tab" : "https://res.cloudinary.com/nrityagram/image/upload/v1717246839/slide5_yoga-center-tablet_uscpus.png",
        "mob" : "https://res.cloudinary.com/nrityagram/image/upload/v1717246839/slide5_yoga-center-mobile_ys7vei.png"
      },
      "Slide 5", {
        "mob": ["425"],
        "tab": ["768"],
        "desk": ["1600"]
      }, {
        "desk": "65em",
        "tab": "50em",
        "mob": "35em"
      },
      "eager",
      "high" %}
      <div class="banner-image-credit homepage"
           data-image-credit-desk="Sushma Veerappa"
           data-image-credit-tab="Sushma Veerappa"
           data-image-credit-mob="Sushma Veerappa"></div>

      <div class="banner-tagline-cta-combo">
        <div class="banner-tagline">
          <span class="banner-tagline--text">
          “A selfless concentration and a depth that reflected their intensive training in dance, music, literature,
          language and philosophy.”
        </span>
          <span class="banner-tagline--credit">
          The New York Times
        </span>
        </div>
        <!-- CTA Box for Mobile Here -->
        <div class="cta-mobile"
             onclick="location.href='/informance';">
          <div class="cta-line-lrg">
            <span class="whitetext">Dance Informance</span>
          </div>
          <div class="cta-line-sml">14 Dec 2024 • Book Now!</div>
          <div class="cta-arrow"><img src="/img/cta-arrow-circle-right.svg" alt=""></div>
        </div>
      </div>

    </div>
    {# Slide 6 #}
    <div class="vanilla-slide">
      {% pictures {
        "desk" : "https://res.cloudinary.com/nrityagram/image/upload/v1643261439/6_school2_hbi3fg.jpg",
        "tab" : "https://res.cloudinary.com/nrityagram/image/upload/v1717074787/children_nrityautsarga_Ravi_Shankar_tablet_djzh8p.png",
        "mob" : "https://res.cloudinary.com/nrityagram/image/upload/v1717074786/children_nrityautsarga_Ravi_Shankar_mobile_zv34yp.png"
      },
      "Slide 6", {
        "mob": ["425"],
        "tab": ["768"],
        "desk": ["1600"]
      }, {
        "desk": "65em",
        "tab": "50em",
        "mob": "35em"
      },
      "eager",
      "high" %}
      <div class="banner-image-credit homepage"
           data-image-credit-desk="M Srinivas Murthy"
           data-image-credit-tab="Ravi Shankar"
           data-image-credit-mob="Ravi Shankar"></div>

      <div class="banner-tagline-cta-combo">
        <div class="banner-tagline">
          <span class="banner-tagline--text">
            “A selfless concentration and a depth that reflected their intensive training in dance, music, literature,
          language and philosophy.”
          </span>
          <span class="banner-tagline--credit">
            The New York Times
          </span>
        </div>
        <!-- CTA Box for Mobile Here -->
        <div class="cta-mobile"
             onclick="location.href='/informance';">
          <div class="cta-line-lrg">
            <span class="whitetext">Dance Informance</span>
          </div>
          <div class="cta-line-sml">14 Dec 2024 • Book Now!</div>
          <div class="cta-arrow"><img src="/img/cta-arrow-circle-right.svg" alt=""></div>
        </div>
      </div>

    </div>
    {# Slide 7 #}
    <div class="vanilla-slide">
      {% pictures {
        "desk" : "https://res.cloudinary.com/nrityagram/image/upload/v1569697663/poparts_banner_lii2v2.jpg",
        "tab" : "https://res.cloudinary.com/nrityagram/image/upload/v1717247565/slide7-amphitheatre-tablet_iqxspi.png",
        "mob" : "https://res.cloudinary.com/nrityagram/image/upload/v1717247564/slide7-amphitheatre-mobile_jy0jer.png"
      },
      "Slide 7", {
        "mob": ["425"],
        "tab": ["768"],
        "desk": ["1600"]
      }, {
        "desk": "65em",
        "tab": "50em",
        "mob": "35em"
      },
      "eager",
      "high" %}
      <div class="banner-image-credit homepage"
           data-image-credit-desk="Shalini Jain"
           data-image-credit-tab="Shalini Jain"
           data-image-credit-mob="Shalini Jain"></div>

      <div class="banner-tagline-cta-combo">
        <div class="banner-tagline">
          <span class="banner-tagline--text">
          “A selfless concentration and a depth that reflected their intensive training in dance, music, literature,
          language and philosophy.”
        </span>
          <span class="banner-tagline--credit">
          The New York Times
        </span>
        </div>
        <!-- CTA Box for Mobile Here -->
        <div class="cta-mobile"
             onclick="location.href='/informance';">
          <div class="cta-line-lrg">
            <span class="whitetext">Dance Informance</span>
          </div>
          <div class="cta-line-sml">14 Dec 2024 • Book Now!</div>
          <div class="cta-arrow"><img src="/img/cta-arrow-circle-right.svg" alt=""></div>
        </div>
      </div>

    </div>
    {# Slide 8 #}
    <div class="vanilla-slide">
      {% pictures {
        "desk" : "https://res.cloudinary.com/nrityagram/image/upload/v1643006854/8_1space_ljuuyn.jpg",
        "tab" : "https://res.cloudinary.com/nrityagram/image/upload/v1643006887/ipad/8_1space_aztlfg.jpg",
        "mob" : "https://res.cloudinary.com/nrityagram/image/upload/v1716894465/gaurima-yoga-center-mobile_qnhsfw.webp"
      },
      "Slide 8", {
        "mob": ["425"],
        "tab": ["768"],
        "desk": ["1600"]
      }, {
        "desk": "65em",
        "tab": "50em",
        "mob": "35em"
      },
      "eager",
      "high" %}
      <div class="banner-image-credit homepage"
           data-image-credit-desk="Courtesy Nrityagram"
           data-image-credit-tab="Courtesy Nrityagram"
           data-image-credit-mob="Courtesy Nrityagram"></div>

      <div class="banner-tagline-cta-combo">
        <div class="banner-tagline">
          <span class="banner-tagline--text">
          “How does one start when one arrives in the middle of wilderness, armed with dreams!”
        </span>
          <span class="banner-tagline--credit">
          Protima Gauri
        </span>
        </div>
        <!-- CTA Box for Mobile Here -->
        <div class="cta-mobile"
             onclick="location.href='/informance';">
          <div class="cta-line-lrg">
            <span class="whitetext">Dance Informance</span>
          </div>
          <div class="cta-line-sml">14 Dec 2024 • Book Now!</div>
          <div class="cta-arrow"><img src="/img/cta-arrow-circle-right.svg" alt=""></div>
        </div>
      </div>

    </div>
    {# Slide 9 #}
    <div class="vanilla-slide">
      {% pictures {
        "desk" : "https://res.cloudinary.com/nrityagram/image/upload/v1643006854/10_3space_e7wz3l.jpg",
        "tab" : "https://res.cloudinary.com/nrityagram/image/upload/v1643006888/ipad/10_3space_jvqvtp.jpg",
        "mob" : "https://res.cloudinary.com/nrityagram/image/upload/v1643006909/mobile/10_3space_y7jeaz.jpg"
      },
      "Slide 9", {
        "mob": ["425"],
        "tab": ["768"],
        "desk": ["1600"]
      }, {
        "desk": "65em",
        "tab": "50em",
        "mob": "35em"
      },
      "eager",
      "high" %}
      <div class="banner-image-credit homepage"
           data-image-credit-desk="Courtesy Fall for Dance North"
           data-image-credit-tab="Courtesy Fall for Dance North"
           data-image-credit-mob="Courtesy Fall for Dance North"></div>

      <div class="banner-tagline-cta-combo">
        <div class="banner-tagline">
          <span class="banner-tagline--text">
          “How does one start when one arrives in the middle of wilderness, armed with dreams!”
        </span>
          <span class="banner-tagline--credit">
          Protima Gauri
        </span>
        </div>
        <!-- CTA Box for Mobile Here -->
        <div class="cta-mobile"
             onclick="location.href='/informance';">
          <div class="cta-line-lrg">
            <span class="whitetext">Dance Informance</span>
          </div>
          <div class="cta-line-sml">14 Dec 2024 • Book Now!</div>
          <div class="cta-arrow"><img src="/img/cta-arrow-circle-right.svg" alt=""></div>
        </div>
      </div>

    </div>
    {# Slide 10 #}
    <div class="vanilla-slide">
      {% pictures {
        "desk" : "https://res.cloudinary.com/nrityagram/image/upload/v1595320104/space_desk_pf6xpx.jpg",
        "tab" : "https://res.cloudinary.com/nrityagram/image/upload/v1589047081/ipad/space_yvvwsu.jpg",
        "mob" : "https://res.cloudinary.com/nrityagram/image/upload/v1576171495/mobile/space_eyaqcj.jpg"
      },
      "Slide 10", {
        "mob": ["425"],
        "tab": ["768"],
        "desk": ["1600"]
      }, {
        "desk": "65em",
        "tab": "50em",
        "mob": "35em"
      },
      "eager",
      "high" %}
      <div class="banner-image-credit homepage"
           data-image-credit-desk="Lynne Fernandez"
           data-image-credit-tab="Lynne Fernandez"
           data-image-credit-mob="Lynne Fernandez"></div>

      <div class="banner-tagline-cta-combo">
        <div class="banner-tagline">
          <span class="banner-tagline--text">
          “How does one start when one arrives in the middle of wilderness, armed with dreams!”
        </span>
          <span class="banner-tagline--credit">
          Protima Gauri
        </span>
        </div>
        <!-- CTA Box for Mobile Here -->
        <div class="cta-mobile"
             onclick="location.href='/informance';">
          <div class="cta-line-lrg">
            <span class="whitetext">Dance Informance</span>
          </div>
          <div class="cta-line-sml">14 Dec 2024 • Book Now!</div>
          <div class="cta-arrow"><img src="/img/cta-arrow-circle-right.svg" alt=""></div>
        </div>
      </div>

    </div>

    {# end of #vanilla-slideshow #}
  </div>

  <!-- slideshow arrows -->
  <div id="vanilla-slideshow-previous">
    <img src="{{ '/img/chevron-left-solid-circle.svg' | url }}"
         alt="slider arrow" />
  </div>
  <div id="vanilla-slideshow-next">
    <img src="{{ '/img/chevron-right-solid-circle.svg' | url }}"
         alt="slider arrow" />
  </div>

  <div class="red-circle-scroll-arrow"
       id="scroll-below-fold">
    <div class="circle">
      <svg class="scroll-arrow-svg"
           version="1.1"
           xmlns="http://www.w3.org/2000/svg"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           x="0px"
           y="0px"
           viewBox="0 0 612 612"
           style="enable-background:new 0 0 612 612;"
           xml:space="preserve">
        <defs>
          <clipPath id="cut-off-arrow">
            <circle cx="306"
                    cy="306"
                    r="287" />
          </clipPath>
        </defs>
        <path class="st-arrow"
              d="M317.5,487.6c0.3-0.3,0.4-0.7,0.7-1.1l112.6-112.6c6.3-6.3,6.3-16.5,0-22.7c-6.3-6.3-16.5-6.3-22.7,0
					l-86,86V136.1c0-8.9-7.3-16.2-16.2-16.2c-8.9,0-16.2,7.3-16.2,16.2v301.1l-86-86c-6.3-6.3-16.5-6.3-22.7,0
					c-6.3,6.3-6.3,16.5,0,22.7l112.7,112.7c0.3,0.3,0.4,0.7,0.7,1c0.5,0.5,1.2,0.5,1.7,0.9c1.7,1.4,3.6,2.3,5.6,2.9
					c0.8,0.2,1.5,0.4,2.3,0.4C308.8,492.6,313.8,491.3,317.5,487.6z" />
      </svg>
    </div>
  </div>

  <!-- CTA Box for Desktop Here -->
  <div class="cta-desk"
       onclick="location.href='/informance';">
    {% image "https://res.cloudinary.com/nrityagram/image/upload/v1731612367/DSC03087_color-corrected-abhi-cta_qbykem.jpg",
    "Dance Informance CTA picture",
    ["200"] %}
    <div class="cta-textbox">
      <div class="cta-line-lrg">Dance Informance</div>
      <div class="cta-line-sml">14 Dec 2024</div>
      <div class="cta-line-sml">Don't miss out. Book now!</div>
    </div>
  </div>

  <!-- close vanilla-slideshow-container -->
</div>
<div id="below-fold"
     style="height: 1px;">
  <img src="/img/arrow-up-circle.svg"
       alt="up arrow icon"
       class="pixel-size">
</div>
<div class="container">
  <div class="wrapper flow">
    <p>
      Nrityagram is a community of artistes dedicated to the practice and nurture of Odissi, a 2000-year-old classical
      dance of India.
    </p>
    <p>
      The Dance Village is home to a school inspired by the Gurukula, an ancient teaching paradigm, and an
      internationally renowned Dance Ensemble.
    </p>
    <p class="redtext">
      Our mission is to nurture dance professionals through the gurukula system, perform on a global stage and forge a
      community through outreach.
    </p>
    <div class="even-columns-unlimited flow-nontitletext">

      <div class="slideup-card fade-in"
           style="background-image: url('https://res.cloudinary.com/nrityagram/image/upload/v1653890990/ensemble-card-v8-2_xwydxb.jpg');">
        <div class="slideup-card__screen"></div>
        <div class="slideup-card__content">
          <div class="slideup-card__content__title">
            Ensemble
          </div>
          <div class="slideup-card__content__wrapper">
            <div class="slideup-card__content__copy">
              Practice,<br />research, innovate,<br />create original work,<br />and perform worldwide
            </div>
            <div class="button stretch red-plastic"
                 onclick="location.href='/ensemble';">
              <div class="glare"></div>
              Learn More
            </div>
          </div>
        </div>
      </div>

      <div class="slideup-card fade-in"
           style="background-image: url('https://res.cloudinary.com/nrityagram/image/upload/v1647158192/Aishani_Sq_sql50y.jpg');">

        <div class="slideup-card__screen"></div>
        <div class="slideup-card__content">
          <div class="slideup-card__content__title">
            School
          </div>
          <div class="slideup-card__content__wrapper">
            <div class="slideup-card__content__copy">
              Blend traditional knowledge<br />with contemporary<br />understanding<br />and application
            </div>
            <div class="button stretch red-plastic"
                 onclick="location.href='/gurukula';">
              <div class="glare"></div>
              Learn More
            </div>
          </div>
        </div>

      </div>

      <div class="slideup-card fade-in"
           style="background-image: url('https://res.cloudinary.com/nrityagram/image/upload/v1647155178/DSCN0166-re-edited-community_oyxalm.jpg');">

        <div class="slideup-card__screen"></div>
        <div class="slideup-card__content">
          <div class="slideup-card__content__title">
            Community
          </div>
          <div class="slideup-card__content__wrapper">
            <div class="slideup-card__content__copy">
              Forge a community<br>around the world,<br>through performance<br>and outreach
            </div>
            <div class="button stretch red-plastic"
                 onclick="location.href='/community';">
              <div class="glare"></div>
              Learn More
            </div>
          </div>
        </div>

      </div>

      {# <div class="slideup-card fade-in" style = "background-image: url('https://res.cloudinary.com/nrityagram/image/upload/v1647167855/Rasa_Flipcard_Vivid_lower2_birsdw.jpg');">

        <div class="slideup-card__screen"></div>
        <div class="slideup-card__content">
          <div class="slideup-card__content__title">
              Rasa
          </div>
          <div class="slideup-card__content__wrapper">
            <div class="slideup-card__content__copy">
                Meld art and<br />technology to<br />create immersive<br />experiences through<br />our Virtual Avatar<br />Nrityagram Rasa
            </div>
            <div class="button stretch red-plastic inactive">
              <div class="glare"></div>
                Coming Soon
            </div>
          </div>
        </div>

      </div> #}

    </div>
  </div>
</div>
<div class="container accent-bg">
  <div class="wrapper flow flow-titletext-mob">
    <div class="uneven-columns wide-narrow reverse-mob wide-grid-gap">
      <div class="mosaic-square-grid wide-column bottom-align-column right-align-column">
        <div class="grid-item top-left zoom-in"
             onclick="location.href='/protima';">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1696916566/Protima-Gauri_mosaic_yok362.png", "Protima Gauri", ["auto", "425"] %}
          <div class="info">
            <span class="info-label">Protima Gauri</span>
          </div>
          <!-- <div class="info-icon">
            <img src="{{ '/img/info-icon.svg' | url }}" alt="Info icon" width="6px" height="6px">
          </div> -->
        </div>
        <div class="grid-item top-right zoom-in"
             onclick="location.href='/surupa';">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1696916565/Surupa-Sen_mosaic_varwhp.png", "Surupa Sen", ["auto", "425"] %}
          <div class="info">
            <span class="info-label">Surupa Sen</span>
          </div>
        </div>
        <div class="grid-item bottom-right zoom-in"
             onclick="location.href='/lynne';">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1696915393/Lynne-Fernandez_mosaic_uzc6s9.png", "Lynne Fernandez", ["auto", "425"] %}
          <div class="info">
            <span class="info-label">Lynne Fernandez</span>
          </div>
        </div>
        <div class="grid-item bottom-left zoom-in"
             onclick="location.href='/pavithra';">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1696915391/Pavithra-Reddy_mosaic_ism43l.png", "Pavithra Reddy", ["auto", "425"] %}
          <div class="info">
            <span class="info-label">Pavithra Reddy</span>
          </div>
        </div>

        {# close mosaic grid #}
      </div>
      <div class="narrow-column bottom-align-column flow-inbetween">
        <h1 class="medium-wt">
          People of
          <br>
          Nrityagram
        </h1>
        <p class="center-on-mob">
          <em>
            "I believe in miracles!<br />And though<br />there are moments<br />when dark clouds<br />pass
            overhead,<br />I am convinced<br />that everything<br />Nrityagram needs,<br />will come to it.”
          </em>
          <br>
          <b>Protima Gauri</b>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="wrapper flow">
    <h1 class="medium-wt">Performances</h1>
    <p>
      The Nrityagram Dance Ensemble has performed at some of the most notable theatres in 25 countries across 5
      continents
    </p>

    <div class="marquee">
      <div class="marquee-content">
        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656256693/adf-logo_ygogal.png", "American Dance Festival logo", ["250"] %}
          <div class="marquee-item-caption">
            American Dance Festival<br />Durham NC USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656232551/annenberg-logo_k0foa1.png", "Annenberg Center for Performing Arts logo", ["250"] %}
          <div class="marquee-item-caption">
            Annenberg Center for Performing Arts<br />Philadelphia PA USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1652196074/Baryshnikov_Arts_Center_logo_uxweli.jpg",
          "Baryshnikov Arts Center logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Baryshnikov Arts Center<br />New York NY USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1652179816/Bhoomija-logo_t54qoe.jpg", "Bhoomija logo", ["250"] %}
          <div class="marquee-item-caption">
            Bhoomija<br />Bangalore INDIA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1652197752/Broadway_Center_for_the_Arts_logo_d2fgsg.png",
          "Broadway Center for the Arts logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Broadway Center for the Arts<br />Tacoma WA USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1652185589/Cairo_Opera_House_logo_ffkwtb.png",
          "Cairo Opera House logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Cairo Opera House<br />Cairo EGYPT
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656257333/cali-theatre-logo_sdnuhg.png",
          "California Theater logo",
          ["250"] %}
          <div class="marquee-item-caption">
            California Theater<br />San Jose CA USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1652194421/summerstage-logo_zvstmv.jpg",
          "Central Park SummerStage logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Central Park SummerStage<br />New York NY USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1652179816/Chinmaya-Nada-Bindu-logo_vkaxf2.jpg",
          "Chinmaya Nada Bindu logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Chinmaya Nada Bindu<br />Pune INDIA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1628320980/chowdaiah-logo_cqfgjt.png",
          "chowdaiah memorial hall logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Chowdaiah Memorial Hall<br />Bangalore INDIA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1652198335/Cleveland_Museum_of_Art_logo_u8umuq.png",
          "Cleveland Museum of Art logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Cleveland Museum of Art<br />Cleveland OH USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656228867/colony-theatre_gornpl.png",
          "Colony Theatre logo",
          ["250"] %}
          <div class="marquee-item-caption">
            The Colony Theater<br />Miami FL USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656308872/confluence-logo_o2l2xw.jpg",
          "Confluence Festival of India in Australia logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Confluence Festival of India<br />AUSTRALIA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1628320981/fringe-logo_nqkgfr.png",
          "Edinburgh Festival Fringe logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Edinburgh Festival Fringe<br />Edinburgh UK
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656302115/eif-logo_stpzqx.jpg",
          "Edinburgh International Festival logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Edinburgh International Festival<br />Edinburgh, UK
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1652179794/ellora-festival-logo_b4zr6i.jpg",
          "Ellora Festival logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Ellora Festival<br />Aurangabad INDIA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1628320981/esplanade-singapore-logo_jxjijm.jpg",
          "Esplanade Theatre Singapore logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Esplanade Theatre<br />SINGAPORE
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656144451/ny-city-center-logo_a9ctte.png",
          "Fall for Dance logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Fall for Dance<br />New York NY USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656256424/fall-for-dance_ercgkg.jpg",
          "Fall for Dance North logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Fall for Dance North<br />Toronto ON CANADA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656304485/iledefrance-logo_qoyrua.png",
          "Festival d’Île de France logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Festival d’Île de France<br />Paris, FRANCE
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656252811/florida-theatre_mti3p5.png",
          "The Florida Theatre logo",
          ["250"] %}
          <div class="marquee-item-caption">
            The Florida Theatre<br />Jacksonville FL USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1652184436/Bibliotheca_Alexandrina-logo_hwoslx.png",
          "Great Hall, Bibliotheca logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Great Hall, Bibliotheca<br />Alexandrina EGYPT
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656234650/hult-logo_mdoipm.png",
          "Hult Center for the Performing Arts logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Hult Center for the Performing Arts<br />Eugene OR USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1652185335/India_by_the_Bay_logo_gkekuy.png",
          "India by the Bay logo",
          ["250"] %}
          <div class="marquee-item-caption">
            India by the Bay<br />HONG KONG
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656307035/india-by-bosphorus-logo_auehjy.png",
          "India by the Bosphorus logo",
          ["250"] %}
          <div class="marquee-item-caption">
            India by the Bosphorus<br />TURKEY
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656306366/india-by-nile-logo_qawogm.png",
          "India by the Nile logo",
          ["250"] %}
          <div class="marquee-item-caption">
            India by the Nile<br />EGYPT
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1652179816/india-habitat-centre-logo_qby8ht.png",
          "India Habitat Centre logo",
          ["250"] %}
          <div class="marquee-item-caption">
            India Habitat Centre<br />New Delhi INDIA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1652179815/IIC-logo_g59q8s.png",
          "India International Center logo",
          ["250"] %}
          <div class="marquee-item-caption">
            India International Centre<br />New Delhi INDIA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1652179815/Isha-Foundation-logo_ztu7iv.png",
          "Isha Yoga Center logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Isha Yoga Center<br />Coimbatore INDIA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656249740/jacobs-logo_cvzcxr.png",
          "Jacob’s Pillow Dance Festival logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Jacob’s Pillow Dance Festival<br />Becket MA USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1652179816/jagriti-logo_gwgnf1.png",
          "Jagriti Theatre logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Jagriti Theatre<br />Bangalore INDIA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1652197254/john-michael-kohler-arts-logo_jzsj2o.png",
          "John Michael Kohler Arts Center logo",
          ["250"] %}
          <div class="marquee-item-caption">
            John Michael Kohler Arts Center<br />Sheboygan WI USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1628320981/joyce-logo_uxi78l.jpg",
          "Joyce Theater logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Joyce Theater<br />New York NY USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656233405/Kahilu-logo_bnwmge.png",
          "Kahilu Theater logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Kahilu Theater<br />Kamuela HI USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1652179816/Kalaghoda-Festival-logo_b4wefl.png",
          "Kalaghoda Festival logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Kalaghoda Festival<br />Mumbai INDIA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1652179795/kalashtra-logo_qsqrwq.jpg",
          "Kalakshetra logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Kalakshetra<br />Chennai INDIA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1652179815/Kamani-Auditorium-logo_unfz01.jpg",
          "Kamani Auditorium logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Kamani Auditorium<br />New Delhi INDIA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1652189752/Kaye_Playhouse_logo_cdt5fr.png",
          "Kaye Playhouse, Hunter College logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Kaye Playhouse, Hunter College<br />New York NY USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1628320981/kennedy-center-logo_vuthcf.png",
          "Kennedy Center for the Performing Arts logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Kennedy Center for the Performing Arts<br />Washington DC USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656301439/tropen-logo_jfdq9q.png",
          "KIT Tropentheater logo",
          ["250"] %}
          <div class="marquee-item-caption">
            KIT Tropentheater<br />Amsterdam, THE NETHERLANDS
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656333144/Korzo-logo_qw7dop.jpg",
          "Korzo Main Stage logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Korzo Main Stage<br />Den Haag, THE NETHERLANDS
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656250163/lensic-logo_frbebf.jpg",
          "Lensic Performing Arts Center logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Lensic Performing Arts Center<br />Santa Fe NM USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1628320980/lincoln-center-logo_mv5wvw.png",
          "Lincoln Center NYC logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Lincoln Center's White Light Festival<br />New York NY USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1652182343/Lionel-Wendt-Theatre-logo_uz7wje.png",
          "Lionel Wendt Theatre logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Lionel Wendt Theatre<br />Colombo SRI LANKA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1652179787/Madras-Music-Academy-logo_asukmi.jpg",
          "Madras Music Academy logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Madras Music Academy<br />Chennai INDIA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656255474/markham-logo_cy6qyg.png",
          "Markham Theatre logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Markham Theatre<br />Markham ON CANADA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656233746/maui-logo_g8dcyg.png",
          "Maui Arts & Cultural Center logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Maui Arts & Cultural Center<br />Kahului HI USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656254277/meany-logo_zpnthi.png",
          "Meany Center for the Performing Arts logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Meany Center for the Performing Arts<br />Seattle WA USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656245227/MillerTheatre-logo_nn77pe.png",
          "Miller Outdoor Theater logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Miller Outdoor Theater<br />Houston TX USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656252336/Strathmore-logo_efrl8n.jpg",
          "The Music Center at Strathmore logo",
          ["250"] %}
          <div class="marquee-item-caption">
            The Music Center at Strathmore<br />Bethesda MD USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1628320981/ncpa-mumbai-logo_yp1jny.jpg",
          "NCPA Mumbai logo",
          ["250"] %}
          <div class="marquee-item-caption">
            National Centre for Performing Arts<br />Mumbai INDIA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656229341/newworldsymphony_logo_t1zlas.jpg",
          "New World Symphony logo",
          ["250"] %}
          <div class="marquee-item-caption">
            New World Symphony<br />Miami FL USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656232832/newman-co-logo_dngayw.png",
          "Newman Center for the Performing Arts logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Newman Center for the Performing Arts<br />Denver CO USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656247488/one-world-theatre_iuh6nu.png",
          "One World Theater logo",
          ["250"] %}
          <div class="marquee-item-caption">
            One World Theater<br />Austin TX USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1652179816/osho-logo_pklhz5.png",
          "Osho Ashram logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Osho Ashram<br />Pune INDIA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656234392/palace-logo_zigxff.png",
          "Palace of Fine Arts logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Palace of Fine Arts<br />San Francisco CA USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656231594/pdc-logo_ogtn1t.png",
          "Pittsburgh Dance Council logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Pittsburgh Dance Council<br />Pittsburgh PA USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1628320981/playhouse-logo_t1qhak.jpg",
          "The Playhouse Company Durban logo",
          ["250"] %}
          <div class="marquee-item-caption">
            The Playhouse Company Durban<br />Durban SOUTH AFRICA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1652186937/qpac-logo_fbe7gt.png",
          "QPAC logo",
          ["250"] %}
          <div class="marquee-item-caption">
            QPAC<br />Brisbane AUSTRALIA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1652193312/QueenTheatre-logo_fadked.png",
          "Queens Theater in the Park logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Queens Theater in the Park<br />New York NY USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1652179816/ranga-shankara_iy6lkn.png",
          "Ranga Shankara logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Ranga Shankara<br />Bangalore INDIA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656331879/ringling-logo_gbcjj5.jpg",
          "Historic Asolo Theater, Ringling Museum of Art logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Historic Asolo Theater, Ringling Museum of Art<br />Sarasota FL USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656254704/rose-logo_hmgh09.png",
          "Rose Theatre logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Rose Theatre<br />Brampton ON CANADA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656251464/savannah-logo_uralds.png",
          "Savannah Music Festival logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Savannah Music Festival<br />Savannah GA USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656255841/scottsdale-logo_hjl27s.png",
          "Scottsdale Center for the Performing Arts logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Scottsdale Center for the Performing Arts<br />Phoenix AZ USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1652179794/Serendipity-Arts-Festival-logo_k8gddj.png",
          "Serendipity Arts Festival logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Serendipity Arts Festival<br />Panaji INDIA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656309302/shared-history-logo_sdldq9.jpg",
          "Shared History Festival logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Shared History Festival<br />SOUTH AFRICA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1652195324/nyu-skirball_dnu7sv.png",
          "Skirball Center for the Performing Arts logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Skirball Center for the Performing Arts<br />New York NY USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656304037/sodra-swe-logo_gkkchq.png",
          "Soda Teatern logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Soda Teatern<br />Stockholm, SWEDEN
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1628320981/southbank_centre_logo_xnskxa.png",
          "Southbank Centre London logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Southbank Centre<br />London UK
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656249230/Spoleto-logo_pjstah.jpg",
          "Spoleto Festival logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Spoleto Festival<br />Charleston SC USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1652179816/Krishna-Gana-Sabha-logo_ziilja.png",
          "Sri Krishna Gana Sabha logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Sri Krishna Gana Sabha<br />Chennai INDIA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1652187911/Stamford_Center_for_the_Arts_logo_sundco.png",
          "Stamford Center for the Arts logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Stamford Center for the Arts<br />Stamford CT USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1652189055/Stanford_University_logo_l86ruk.png",
          "Stanford University logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Stanford University<br />Palo Alto CA USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1652186194/State_Theatre_Centre_of_WA_logo_x4umdm.png",
          "State Theatre of Western Australia logo",
          ["250"] %}
          <div class="marquee-item-caption">
            State Theatre of Western Australia<br />Perth AUSTRALIA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1628320981/sydney-opera-house_trflry.jpg",
          "Sydney Opera House logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Sydney Opera House<br />Sydney AUSTRALIA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1652192790/Symphony-Space-logo_tqu92l.png",
          "Symphony Space logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Symphony Space<br />New York NY USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656234969/tampa-logo_fzg30l.jpg",
          "Tampa Bay Performing Arts Center logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Tampa Bay Performing Arts Center<br />Tampa FL USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656332610/teatro-logo_zgqiiu.png",
          "Teatro Nacional D. Maria II logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Teatro Nacional D. Maria II<br />Lisbon PORTUGAL
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1628320981/met-logo_sreyrc.png",
          "MET Museum logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Temple of Dendur, MET Museum<br />New York NY USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656230358/tws-logo_otzdgx.png",
          "Tennessee Williams Fine Arts Center logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Tennessee Williams Fine Arts Center<br />Key West FL USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656231020/titas-logo_fosc2h.png",
          "Texas International Theatrical Arts Society logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Texas International Theatrical Arts Society<br />Dallas TX USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656257137/warner-miller-logo_oypfzk.png",
          "Warren Miller Performing Arts Center logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Warren Miller Performing Arts Center<br />Big Sky MT USA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1652183241/Wits-Theatre-logo_yn9xzl.jpg",
          "WITS Theatre logo",
          ["250"] %}
          <div class="marquee-item-caption">
            WITS Theatre<br />Johannesburg SOUTH AFRICA
          </div>
        </div>

        <div class="marquee-item">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656234021/ybca-logo_tqlg5o.jpg",
          "Yerba Buena Center for the Arts logo",
          ["250"] %}
          <div class="marquee-item-caption">
            Yerba Buena Center for the Arts<br />San Francisco CA USA
          </div>
        </div>

      </div>
    </div>

    <div class="button red-plastic center"
         onclick="location.href='/performancemap';">
      <div class="glare"></div>
      View Global Map of Performances
    </div>
  </div>
</div>
<div class="container accent-bg">
  <div class="wrapper flow">
    <h1 class="medium-wt">Reviews</h1>
    <div class="owl-carousel owl-theme standard review-slider">
      <div class="item">
        <div class="even-columns reverse-tab no-gap">
          <div class="left-column flow">
            <p>
              <em>
                “The dancers from Nrityagram stormed the bastion of dance in Chennai, wowing the knowledgeable audience
                into a standing ovation!”
              </em>
            </p>
            <p>
              <b>
                The Hindu
              </b>
            </p>
          </div>
          <div class="right-column">
            <div class="image-plus">
              {% image "https://res.cloudinary.com/nrityagram/image/upload/v1642805189/review-slider-pic1_bkvdur.jpg", "Still image from a performance", ["1046", "768", "560"] %}
              <div class="credit"
                   data-image-credit="Courtesy Serendipity Arts Festival"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="even-columns reverse-tab no-gap">
          <div class="left-column flow">
            <p>
              <em>
                “This was dance that never seemed to stop, even in those curvilinear poses. Should we dare compare it to
                George Balanchine's work with the New York City Ballet, where ballerinas seemed to float while seemingly
                encased in a simple fifth position? Like NYCB, Sen's dancers would erupt into movement that surged
                across the stage with remarkable speed and agility!”
              </em>
            </p>
            <p>
              <b>
                Pittsburgh Post-Gazette
              </b>
            </p>
          </div>
          <div class="right-column">
            <div class="image-plus">
              {% image "https://res.cloudinary.com/nrityagram/image/upload/v1642805189/review-slider-pic5_zfohfs.jpg", "Still image from a performance", ["1046", "768", "560"] %}
              <div class="credit"
                   data-image-credit="Carlos Llano"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="even-columns reverse-tab no-gap">
          <div class="left-column flow">
            <p>
              <em>
                “The ensemble mesmerized a sold-out audience with its artistry, energy, technique and beauty.”
              </em>
            </p>
            <p>
              <b>
                Dance Magazine
              </b>
            </p>
          </div>
          <div class="right-column">
            <div class="image-plus">
              {% image "https://res.cloudinary.com/nrityagram/image/upload/v1642805189/review-slider-pic3_xreyty.jpg", "Still image from a performance", ["1046", "768", "560"] %}
              <div class="credit"
                   data-image-credit="Nan Melville"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="even-columns reverse-tab no-gap">
          <div class="left-column flow">
            <p>
              <em>
                “Watching Sen’s choreography is like encountering a chef with a perfect palate or a singer with perfect
                pitch. The sense of proportion and balance is immaculate. A line of dancers will shift, stamp and swirl
                in unison and imperceptibly one of them will glide back from the group to pose and watch. Sen has an
                unerring sense of when to keep dancers in formation and when to vary the picture as if she could
                anticipate the audience’s desires. Her use of space is similar. The patterns aren’t complex; they’re
                simply right.”
              </em>
            </p>
            <p>
              <b>
                Danceview Times
              </b>
            </p>
          </div>
          <div class="right-column">
            <div class="image-plus">
              {% image "https://res.cloudinary.com/nrityagram/image/upload/v1643344723/1_Pratima_review4_tvgxjz.jpg",
              "Still image from a performance",
              ["1046", "768", "560"] %}
              <div class="credit"
                   data-image-credit="Nan Melville"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="even-columns reverse-tab no-gap">
          <div class="left-column flow">
            <p>
              <em>
                “Nrityagram is the best Indian classical company to come to this area in a long time. It’s confident.
                It’s cutting edge. It’s a winner!”
              </em>
            </p>
            <p>
              <b>
                The Washington Post
              </b>
            </p>
          </div>
          <div class="right-column">
            <div class="image-plus">
              {% image "https://res.cloudinary.com/nrityagram/image/upload/v1649026891/review5_cfltor.jpg",
              "Still image from a performance",
              ["1046", "768", "560"] %}
              <div class="credit"
                   data-image-credit="Karthik Venkatraman"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="even-columns reverse-tab no-gap">
          <div class="left-column flow">
            <p>
              <em>
                “Dazzling Āhuti!”
              </em>
            </p>
            <p>
              <b>
                Narthaki
              </b>
            </p>
          </div>
          <div class="right-column">
            <div class="image-plus">
              {% image "https://res.cloudinary.com/nrityagram/image/upload/v1642805190/review-slider-pic6_dyttws.jpg",
              "Still image from a performance",
              ["1046", "768", "560"] %}
              <div class="credit"
                   data-image-credit="Karthik Venkatraman"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="even-columns reverse-tab no-gap">
          <div class="left-column flow">
            <p>
              <em>
                “Surupa Sen seems to be literally tearing open the lexicon of the Odissi movement vocabulary, looking
                deeper at the etymology and histories of its movements and stringing together more powerful phrases of
                the dance. But this ability to hold Odissi in her body is at par with her skill at speaking it through
                her face with her finesse in abhinaya.”
              </em>
            </p>
            <p>
              <b>
                news9live.com
              </b>
            </p>
          </div>
          <div class="right-column">
            <div class="image-plus">
              {% image "https://res.cloudinary.com/nrityagram/image/upload/v1642805191/review-slider-pic7_f1g3a2.jpg",
              "Still image from a performance",
              ["1046", "768", "560"] %}
              <div class="credit"
                   data-image-credit="Karthik Venkataraman"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="button red-plastic center"
         onclick="location.href='/press';">
      <div class="glare"></div>
      Read more Reviews
    </div>
  </div>
</div>

{# <div class="container primary-bg">
  <div class="wrapper ultra-wide flow">
    <div class="lrg-screen-shrink-width flow-inbetween">
      <h1 class="medium-wt">Support Us</h1>
      <p class="large">
        Join our community of supporters to nurture and sustain our work.
      </p>
      <p class="large">
        Fund key initiatives - from training the next generation of Odissi performers and teachers, to the creation of new work, to sharing dance digitally and on stages around the globe.
      </p>
    </div>

    <div class="even-columns-unlimited center-column-pair flow-nontitletext">

      <div class="column-1 slideup-card fade-in" style = "background-image: url('https://res.cloudinary.com/nrityagram/image/upload/v1643806059/join-vardan_card_copy_ndozwv.jpg');">

        <div class="slideup-card__screen"></div>
        <div class="slideup-card__content long-content">
          <div class="slideup-card__content__title">
              Join Vardān
          </div>
          <div class="slideup-card__content__wrapper">
            <div class="slideup-card__content__copy">
                Join<br />our Annual Giving<br />programme <b>Vardān</b><br />and participate<br />through a wide range<br />of pledge levels<br />with wonderful benefits<br />for everyone
            </div>
            <div class="button stretch red-plastic"  onclick="location.href='/vardan';">
              <div class="glare"></div>
                    Learn More
              </div>
          </div>
        </div>
      </div>

      <div class="column-2 slideup-card fade-in" style = "background-image: url('https://res.cloudinary.com/nrityagram/image/upload/v1643628281/donate_pavi-card_abawua.jpg');">

        <div class="slideup-card__screen"></div>
        <div class="slideup-card__content long-content">
          <div class="slideup-card__content__title">
              Donate
          </div>
          <div class="slideup-card__content__wrapper">
            <div class="slideup-card__content__copy">
                Your contribution<br />will enable us<br />to continue<br />to serve you and<br />our community<br />while supporting<br />our dancers<br />teachers and staff
            </div>
            <div class="button stretch red-plastic"  onclick="location.href='/donate';">
              <div class="glare"></div>
                Learn More
              </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div> #}

<div class="container primary-bg">
  <div class="wrapper flow flow-titletext-mob">
    <div class="even-columns-unlimited textbox-card-pair">
      <div class="textbox-column flow-inbetween bottom-align-column">
        <h1 class="medium-wt">Support Us</h1>
        <p>
          Join our community of supporters to nurture and sustain our work.
        </p>
        <p>
          Strengthen key initiatives - from training the next generation of Odissi performers and teachers, to the
          creation of new work, to sharing dance digitally and on stages around the globe.
        </p>
        <p>
          Fund the development and expansion of our artistic, educational and community programmes for children from
          nearby villages and people across the world.
        </p>
        <p>
          As a donor, you contribute to our Success and may also be eligible for a tax deduction.
        </p>
        <p>
          Please make a donation today.
        </p>
        <br />
      </div>
      <div class="card-column slideup-card fade-in"
           style="background-image: url('https://res.cloudinary.com/nrityagram/image/upload/v1643628281/donate_pavi-card_abawua.jpg');">

        <div class="slideup-card__screen"></div>
        <div class="slideup-card__content long-content">
          <div class="slideup-card__content__title">
            Donate
          </div>
          <div class="slideup-card__content__wrapper">
            <div class="slideup-card__content__copy">
              Your contribution<br />will enable us<br />to continue<br />to serve you and<br />our community,<br />while
              supporting<br />our dancers,<br />teachers and staff
            </div>
            <div class="button stretch red-plastic"
                 onclick="location.href='/donate';">
              <div class="glare"></div>
              Make a Donation
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container accent-bg">
  <div class="wrapper flow">
    <h1 class="medium-wt">Nrityagram Social</h1>
    {% set videoTitle = "The Bliss Of Missing Out | Surupa Sen | TED x MAIS" %}
    {% set videoId = "qJO9sDmxNEU" %}
    {% set thumbnailUrl = "background-image: url('https://res.cloudinary.com/nrityagram/image/upload/v1695363050/ted-talk-snapshot_wtihfm.webp');" %}
    {% include 'youtube.njk' %}

    <!-- Start of SM Cards -->
    <!--
    <div class="even-columns-unlimited">
      <div class="image-plus card size-md plain-bg landscape on-hover-fade" onclick="window.open('https://www.youtube.com/user/Nrityagram','_blank');">
        {% image "https://res.cloudinary.com/nrityagram/image/upload/v1729764105/SocialMediaCards/ahuti-relived-slider-image25-26-desk_esl4ng_pm6ly2.png",
				"Youtube Card",
				["560", "768"] %}
        <div class="card-title">Subscribe on YouTube</div>
      </div>
      <div class="image-plus card size-md plain-bg landscape on-hover-fade" onclick="window.open('https://www.instagram.com/nrityagram/','_blank');">
        {% image "https://res.cloudinary.com/nrityagram/image/upload/v1729764106/SocialMediaCards/05_A%CC%84la%CC%84p_04_PC_Courtesy_CFAA_dyey5t_ebax5k.png",
        "Instagram Card",
        ["560", "768"] %}
        <div class="card-title">Follow on Instagram</div>
      </div>
      <div class="image-plus card size-md plain-bg landscape on-hover-fade" onclick="window.open('https://www.facebook.com/nrityagram/','_blank');">
        {% image "https://res.cloudinary.com/nrityagram/image/upload/v1729764105/SocialMediaCards/05_A%CC%84la%CC%84p_06_PC_Courtesy_CFAA_itrowi_pja5ly.png",
        "Facebook Card",
        ["560", "768"] %}
        <div class="card-title">Like on Facebook</div>
      </div>
    </div>
-->
    <!-- End of SM Cards -->
    <!-- Start of Long red Buttons -->
    <!-- 
    <div class="even-columns-unlimited">
      <div class="button red-plastic center"
           data-stacking-order="1"
           onclick="window.open('https://www.youtube.com/user/Nrityagram','_blank');">
        <div class="glare"></div>
        Subscribe on Youtube
      </div>

      <div class="button red-plastic btn-outline center"
           data-stacking-order="2"
           onclick="window.open('https://www.instagram.com/nrityagram/','_blank');">
        <div class="glare"></div>
        Follow on Instagram
      </div>

      <div class="button red-plastic btn-outline center"
           data-stacking-order="3"
           onclick="window.open('https://www.facebook.com/nrityagram/','_blank');">
        <div class="glare"></div>
        Like on Facebook
      </div>
    </div>
    -->
    <!-- End of long red buttons -->
    <!-- Start of Icon Only -->
    <!-- TODO: Need to add more CSS components with diff column arrangement styles -->
    <div class="center" style="display: flex; gap: 0.4em; justify-content: center;">
      <div class="button red-plastic inline-button length-fit-content slim"
           data-stacking-order="1"
           onclick="window.open('https://www.youtube.com/user/Nrityagram','_blank');">
        <div class="glare"></div>
        <img src="/img/youtube-white.svg" class="icon vsml" alt="Youtube Icon">
      </div>

      <div class="button red-plastic inline-button length-fit-content slim"
           data-stacking-order="2"
           onclick="window.open('https://www.instagram.com/nrityagram/','_blank');">
        <div class="glare"></div>
        <img src="/img/insta-white.svg" class="icon vsml" alt="Instagram Icon">
      </div>

      <div class="button red-plastic inline-button length-fit-content slim"
           data-stacking-order="3"
           onclick="window.open('https://www.facebook.com/nrityagram/','_blank');">
        <div class="glare"></div>
        <img src="/img/fb-white.svg" class="icon vsml" alt="Facebook Icon">
      </div>
    </div>
    <!-- End of Icon only -->
  </div>
</div>

<div class="container">
  <div class="wrapper flow">
    <h1 class="medium-wt">Visit Nrityagram</h1>
    <div class="even-columns no-gap hide-right-mob">
      <div class="left-column">
        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d1192.5589560826568!2d77.45979436871723!3d13.163328428545444!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sin!4v1643316702354!5m2!1sen!2sin"
                id="ng-map"
                width="100%"
                height="100%"
                frameborder="0"
                title="Google Map of Nrityagram"
                style="border:0;border-radius: 0px; overflow: hidden; width: 100%; height: 100%; aspect-ratio: 4/3;"
                allowfullscreen=""
                loading="lazy"></iframe>
      </div>
      <div class="right-column">
        <div class="image-plus sharp-left">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1728724534/three-women_fawijr.jpg", "Statue of three women inside Nrityagram", ["auto", "768", "560"] %}
        </div>
      </div>
    </div>
    <div class="button red-plastic center"
         onclick="location.href='/findyourway';">
      <div class="glare"></div>
      More ways to reach Nrityagram
    </div>
  </div>
</div>

<script type="text/javascript">
  const gmap = document.querySelector('#ng-map')

  // For mobile screens make the map full-bleed
  if (window.matchMedia("(max-width: 50em)").matches) {
    gmap.style.marginLeft = "-9.75vw"
    gmap.style.width = "100vw"
    gmap.style.borderRadius = "0"
  }
</script>