---
layout: layouts/page.njk
eleventyNavigation:
key: page
order: 1
tags: page
date: Last Modified
parentMenuItem: "Support"
title: "Make a Donation"
nobanner: true
description: "Any amount you donate will make it possible for us to strengthen our institution. Nrityagram is a
one-of-a-kind collective of artistes, where dance is a way of life."
---
<div class="container">
  <div class="wrapper flow">

    <p class="right">
      <a href="/donate"
         class="bodylink redtext">Return to Donate page</a>
    </p>
    <p>
      <iframe width="100%"
              height="800px"
              src="https://drive.google.com/file/d/1bSNWpG07fb6eIuAztjHFloIXhqa5bMaN/preview"></iframe>
    </p>
  </div>
</div>