---
layout: layouts/page.njk
eleventyNavigation:
  key: page
  order: 1
tags: page
date: Last Modified
slider: true
youtube: true
parentMenuItem: "Community"
title: "Popularising the Arts"
scrollToTop: true
description: "Nrityagram has made decades-long efforts to popularise the arts and create safe spaces for it. Nrityagyān is a programme of Dance Awareness set up as part of our policy of popularising the classical arts by Nrityagram. We believe everyone can dance. That dance has the power to engage people and motivate them towards excellence. Nrityagram is a one-of-a-kind collective of artistes, where dance is a way of life."
OGImage: "https://res.cloudinary.com/nrityagram/image/upload/w_200/v1726534956/pop-the-arts-desk_utpqdt.png"
---
<div id="banner-container">
  <div class="banner-image">
    {% pictures 
      {"desk":"https://res.cloudinary.com/nrityagram/image/upload/v1726534956/pop-the-arts-desk_utpqdt.png", 
      "tab":"https://res.cloudinary.com/nrityagram/image/upload/v1726534996/pop-the-arts-tablet_vekdgv.png", 
      "mob":"https://res.cloudinary.com/nrityagram/image/upload/v1726534955/pop-the-arts-mobile_rkyvns.png"}, 
      "Annual Day at Nrityagram, 1992", 
      {"mob": ["425"], "tab": ["768"], "desk":["1600"]}, {"desk":"65em", "tab":"50em", "mob":"35em"}, 
      "eager", "high" %}
  </div>
  <div class="banner-image-credit"
    data-image-credit-desk="Shalini Jain" 
    data-image-credit-tab="Shalini Jain" 
    data-image-credit-mob="Shalini Jain"
    ></div>
  <div class="banner-title">
        Popularising<br />the Arts
  </div>
</div>

<div id="danceaware" class="container">
  <div class="wrapper flow">
    <h1 class="center">Dance Awareness</h1>
  </div>

  <div class="owl-carousel ultra-wide owl-theme">
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1580622153/danceaware_1_acdtmk.jpg",
      "Spreading dance awareness through workshops and lecture-demonstrations",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Courtesy Nrityagram</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1580622152/danceaware_2_wipowo.jpg",
      "Spreading dance awareness through workshops and lecture-demonstrations",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Courtesy Nrityagram</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1580622152/danceaware_3_negugh.jpg",
      "Spreading dance awareness through workshops and lecture-demonstrations",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Courtesy Nrityagram</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1580622152/danceaware_4_bjkuzp.jpg",
      "Spreading dance awareness through workshops and lecture-demonstrations",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Courtesy Nrityagram</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1580622152/danceaware_5_vyntb0.jpg",
      "Spreading dance awareness through workshops and lecture-demonstrations",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Courtesy Nrityagram</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1580797484/danceaware_6_qrhogy.jpg",
      "Spreading dance awareness through workshops and lecture-demonstrations",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Courtesy Nrityagram</div>
    </div>
  </div>

  <div class="wrapper flow flow-flushtop">
    <p>
			Dance is not just about movement, it is about uniting thought, breath, emotion, and body in a whole. In a world
			where artificial binaries of body and mind, emotion and reason, and thought and deed exist, dance provides the
			vocabulary and path to reconceive the relationship we have with ourselves, our communities, and the earth at
			large.
		</p>
    <p>
			Nrityagyān, our initiative to spread awareness about dance was started in the mid-nineties, and strives for as
			many people as possible to access the healing possibilities that dance offers.
		</p>
    <div>
      <P>Through Nrityagyān we:</P>
      <ul class="basic">
        <li>
				Conduct sensitisation and knowledge building programmes for people so that the audience base for the classical
				arts is expanded.
			</li>
        <li>
				Open the world of classical dance to the young through lecture-demonstrations in schools, universities, and
				community associations.
			</li>
        <li>Research the use of classical dance in education, therapy and rehabilitation</li>
      </ul>
    </div>
    <p>
			Over the last three decades, over 500,000 children and adults have benefitted from our Project Nrityagyān through
			a range of activities that include workshops and lecture-demonstrations.
		</p>
    <p>
			In the next phase of development, we plan to set-up a Resource Centre for scholars to document and research Indian
			classical dance, and to publish the work done at Nrityagram over the last three decades.
		</p>
  </div>
</div>

<div id="informance" class="container accent-bg">
  <div class="wrapper flow">
    <h1 class="center">Informance</h1>
  </div>

  <div class="owl-carousel ultra-wide owl-theme">
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1726512803/informance-slider-desk-1_uvs1mz.png",
      "Spreading dance awareness through workshops and lecture-demonstrations",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Lynne Fernandez</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1727415382/informance-slider-desk-1-2_uwaflv.png",
      "Spreading dance awareness through workshops and lecture-demonstrations",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Courtesy Nrityagram</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1726512803/informance-slider-desk-3_xrfwsx.png",
      "Spreading dance awareness through workshops and lecture-demonstrations",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Courtesy Nrityagram</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1726512803/informance-slider-desk-4_gyzqqk.png",
      "Spreading dance awareness through workshops and lecture-demonstrations",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Courtesy Nrityagram</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1726512803/informance-slider-desk-5_mzg2lz.png",
      "Spreading dance awareness through workshops and lecture-demonstrations",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Courtesy Nrityagram</div>
    </div>
  </div>

  <div class="wrapper flow flow-flushtop">
    <h4 class="center">INFORMAL | INFORMATIVE | PERFORMANCE</h4>
    <p>
      A specially crafted Lec-Dem Performance, the Informance provides the audience a window into the daily life and practice at Nrityagram. The intimate studio setting is an added bonus. Informances are scheduled on some Saturdays and include a guided tour of our campus and a Q&A with our artistes.
    </p>
  </div>

</div>

<div id="ajji" class="container">
  <div class="wrapper flow">
    <span>
      <h1 class="center">Ajji Kathegalu</h1>
      <h4 class="center">Tales my grandmother told me</h4>
    </span>
  </div>
  <div class="owl-carousel ultra-wide owl-theme">
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1580626036/ajji_1_e8gtyh.jpg",
      "Ajji Kathegalu - tales my grandmother told me",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Pavithra Reddy</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1580626035/ajji_2_y4csic.jpg",
      "Ajji Kathegalu - tales my grandmother told me",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Pavithra Reddy</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1580626036/ajji_3_ovavmx.jpg",
      "Ajji Kathegalu - tales my grandmother told me",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Pavithra Reddy</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1580626035/ajji_4_x8z57z.jpg",
      "Ajji Kathegalu - tales my grandmother told me",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Pavithra Reddy</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1655111620/ajji-5-pavi_wtnftn.jpg",
      "Ajji Kathegalu - tales my grandmother told me",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Pavithra Reddy</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1655112341/ajji-6_my1ajk.jpg",
      "Ajji Kathegalu - tales my grandmother told me",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Pavithra Reddy</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1655112341/ajji-7_t2weof.jpg",
      "Ajji Kathegalu - tales my grandmother told me",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Pavithra Reddy</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656312213/ajji-abhishek1_vjiatt.jpg",
      "Ajji Kathegalu - tales my grandmother told me",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Abhishek Tiwari</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656312213/ajji-abhishek2_mwhig3.jpg",
      "Ajji Kathegalu - tales my grandmother told me",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Abhishek Tiwari</div>
    </div>
  </div>
  <div class="wrapper flow flow-flushtop">
    <p>
			“Once upon a time...” These are magic words, for they make a promise of a scintillating tale to come. We all become children when we hear these words, sitting around an elder with evening lamps casting flickering shadows that mirror all the fleeting emotions we experience - fear, worry, joy, and of course the fun of listening to stories.
		</p>
    <p>
      <em>Ajji Kathegalu</em>, is Nrityagram opening a portal for us to enter our childhood again, an invitation to listen to tales from here and there, and laugh and once again experience the wondrous possibilities stories spark within us.
		</p>
    <p>1st Sunday of the month, 12pm at Nrityagram.</p>
    <p>All are welcome.</p>
  </div>
</div>

<div id="vasantahabba" class="container accent-bg">
  <div class="wrapper flow">
    <span>
      <h1 class="center">Vasantahabba</h1>
      <h4 class="center">The Spring Festival</h4>
    </span>
  </div>
  <div class="owl-carousel ultra-wide owl-theme">
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1583851012/poparts_1_wmtns1.jpg",
      "Vasantahabba",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Mahesh Bhat</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1583851012/poparts_2_b1towi.jpg",
      "Vasantahabba",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Avinash Pasricha</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1583850987/poparts_3_pgzgjl.jpg",
      "Vasantahabba",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Mahesh Bhat</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1583851012/poparts_4_jtl8vu.jpg",
      "Vasantahabba",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Sonia Manchanda</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1583850987/poparts_5_rufybo.jpg",
      "Vasantahabba",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Nan Melville</div>
    </div>
    <div class="item rounded">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1583851012/poparts_6_jmq9sn.jpg",
      "Vasantahabba",
      ["auto", "425", "768", "1600"] %}
      <div class="photo-credit">Photo : Courtesy Nrityagram</div>
    </div>
  </div>
  <div class="wrapper flow flow-flushtop">
    <p>
			Vasantahabba, Nrityagram’s annual spring festival, was envisioned to take India’s classical heritage back to its
			roots by bringing the greatest performers to rural Karnataka.
		</p>
    <p>
			Vasantahabba was an all-night festival that hosted great masters of Indian dance and music. People arrived at noon
			for an event that started at 6pm. They came with family; they came with friends. They came from all over India;
			they even came from abroad. City dwellers came; so did the villagers. They knew everything about Indian culture;
			they knew nothing about Indian culture. Whoever they were, they did not leave before dawn. It truly was the
			Woodstock of India.
		</p>
    <p>
			During the course of 15 Vasantahabba celebrations, over 200 performers have presented to more than 400,000 people
			live and thousands more around the world via live-streaming and telecast.
			<span class="open-modal redtext underline" id="openModal-vh-performers">
        Vasantahabba Performers through the years.
      </span>
      <dialog id="vh-performers" class="modal">

        <div class="modal-header">
          <h4>Vasantahabba Performers through the years</h4>
          <div class="close-button" id="closeModal-vh-performers" aria-label="close">&#215;</div>
        </div>
        <div class="modal-body">
          <div class="wrapper flow flow-flushtop flow-flushbottom">
            <div class="image-plus sharp">
              {% image "https://res.cloudinary.com/nrityagram/image/upload/v1656145776/Vasantahabba_Leaflet_Cover_zwsf0w.jpg",
              "Vasanthabba Leaflet Cover",
              ["560", "768"] %}
            </div>
            <div class="modal-content flow-inbetween">
              <h2>Dance</h2>
              <ul class="basic">
                <li>Aditi Magaldas (Kathak)</li>
                <li>Alarmel Valli (Bharatnatyam)</li>
                <li>Astad Deboo (Contemporary Dance)</li>
                <li>Bharati Shivaji (Mohiniattam)</li>
                <li>Bijayini Satpathy (Odissi)</li>
                <li>Daksha Sheth (Contemporary Dance)</li>
                <li>Guru Jayaram & Vanashree Rao (Kuchipudi)</li>
                <li>Guru Kelucharan Mahapatra (Odissi)</li>
                <li>Guru Kelucharan Mahapatra & Pt. Birju Maharaj (Odissi & Kathak Jugalbandi)</li>
                <li>Hemang Mehta (Hindustani Vocal)</li>
                <li>Kadamb (Kathak)</li>
                <li>Kathak Kendra, Delhi (Kathak)</li>
                <li>Indira Kadambi (Bharatnatyam)</li>
                <li>Leela Samson (Bharatnatyam)</li>
                <li>Leela Samson & Spanda (Bharatnatyam)</li>
                <li>Madhu Natraj & STEM Dance Theatre (Contemporary Dance)</li>
                <li>Malavika Sarukkai (Bharatnatyam)</li>
                <li>Mandakini Trivedi (Mohiniattam)</li>
                <li>Manju Bhargavi (Kuchipudi)</li>
                <li>Nirupama & Rajendra (Kathak)</li>
                <li>Nrityagram Dance Ensemble (Odissi)</li>
                <li>Nrityagram Village Outreach Children (Odissi, Mohiniattam, Kathak, Bharatnatyam)</li>
                <li>Nrityakalamandiram, Bangalore (Bharatnatyam)</li>
                <li>Odissi Research Centre, Bhubaneswar (Odissi)</li>
                <li>Padmini Ravi (Bharatnatyam)</li>
                <li>Priyadarsini Govind (Bharatnatyam)</li>
                <li>Pratibha Prahlad (Bharatnatyam)</li>
                <li>Protima Gauri (Odissi)</li>
                <li>Raja Radha Reddy (Kuchipudi)</li>
                <li>Ranjabati Sircar & Dancers Guild (Creative Dance)</li>
                <li>Rudrakshya, Bhubaneswar (Odissi)</li>
                <li>Sujata Mahapatra (Odissi)</li>
                <li>Surupa Sen (Odissi)</li>
                <li>Usha Datar (Kuchipudi)</li>
              </ul>
              <h2>Music</h2>
              <ul class="basic">
                <li>Aruna Sairam (Carnatic Vocal)</li>
                <li>Begum Parveen Sultana (Hindustani Vocal)</li>
                <li>Bombay Jayashri (Carnatic Vocal)</li>
                <li>Dr. Chitti Babu (Carnatic Veena)</li>
                <li>Dr. L. Subramaniam (Carnatic Violin)</li>
                <li>Dr. Suma Sudhindra with an Ensemble of 25 Veenas</li>
                <li>Ganesh Kumaresh (Carnatic Violin)</li>
                <li>Gundecha Brothers (Dhrupad)</li>
                <li>Kalaimamani Kadri Gopalnath (Carnatic Saxophone)</li>
                <li>Malini Rajurkar (Hindustani Vocal)</li>
                <li>Master U. Srinivas (Carnatic Mandolin)</li>
                <li>Mysore Dr. Doreswamy Iyengar (Carnatic Veena)</li>
                <li>Naseer & Nazeer Warsi (Qawwali)</li>
                <li>Pt. Bhimsen Joshi (Hindustani Vocal)</li>
                <li>Pt. Hariprasad Chaurasia (Hindustani Flute)</li>
                <li>Pt. Jasraj (Hindustani Vocal)</li>
                <li>Pt. Shivkumar Sharma & Ustad Zakir Hussain (Santoor & Tabla Vadan)</li>
                <li>Pt. Vishwamohan Bhatt (Mohan Veena)</li>
                <li>Rajan Sajan Misra (Hindustani Vocal)</li>
                <li>Raju Ananthaswamy & Party (Tribute to Kuvempu)</li>
                <li>Rashid Khan (Hindustani Vocal)</li>
                <li>Ronu Majumdar (Hindustani Flute)</li>
                <li>Shashank Subramanyam (Carnatic Flute)</li>
                <li>Shubha Mudgal (Hindustani Vocal)</li>
                <li>Shubhendra Rao (Hindustani Sitar)</li>
                <li>Shubendra Rao & Saskia Rao-de Haas (Hindustani Sitar & Cello)</li>
                <li>Ustad Amjad Ali Khan (Hindustani Sarod)</li>
                <li>Ustad Zakir Hussain (Tabla)</li>
                <li>Veena Sahasrebuddhe (Hindustani Vocal)</li>
              </ul>
              <h2>Taalvadya Kacheri</h2>
              <ul class="basic">
                <li>
                Guru Kelucharan Mahapatra (Pakhawaj), Pt. Birju Maharaj (Dhol), Ustad Zakir Hussain (Tabla), H. P. Ramachar
                (Khanjira), Vidwan Vikku Vinayakram (Ghatam), K. Venkatram (Konagolu), Shivu (Mridangam), Rajshekhar (Morsing)
              </li>
                <li>Kalaimamani Kadri Gopalnath & Party</li>
                <li>
                Selvaganesh (Khanjira), Vidwan Vikku Vinayakram (Ghatam), Dilawar Khan (Nagada), Fazal Qureshi (Tabla), Dr. N.
                Muralirathnam (Thavil), Vellore Ramabhadran (Mridangam)
              </li>
                <li>
                Stree Shakti: Anuradha Pal (Tabla), Tanjore V Padma (Mridangam), Sukanya Ramgopal (Ghatam), Latha Ramachar
                (Khanjira), V. Nalina Mohan (Violin), Pushpa Kashinath (Veena)
              </li>
                <li>
                Vid. Umayalpuram K. Sivaraman (Mridangam), Ustad Zakir Hussain (Tabla), Vidwan H. P. Ramachar (Kanjira), Vidwan
                E. M. Subramaniam (Ghatam)
              </li>
              </ul>
              <h2>Contemporary / World Music</h2>
              <ul class="basic">
                <li>Amit Heri Group</li>
                <li>Brahmma - Ganesh Kumaresh</li>
                <li>
                D. Wood (Guitar), Storms (Bass Guitar), Sri Ram Iyer (Violin), Bhooshan Munj (Tabla), Bobby Duggal (Percussion)
              </li>
                <li>Indian Ocean (Progressive Indian Music)</li>
                <li>Louis Banks & Party</li>
                <li>Nadaka (Guitar), Ganesh Kumaresh (Violin), Shivamani (Percussion), Vidwan Vikku Vinayakram (Ghatam)</li>
                <li>Raghu Dixit & Antaragni</li>
                <li>Taufiq Qureshi & Friends</li>
                <li>Talvin Singh</li>
              </ul>
              <h2>Other Performances</h2>
              <ul class="basic">
                <li>
                Belliappa & Party (Dollu Kunita)
                <br />
                Opening Act at Vasantahabba for 10 years
              </li>
                <li>Bhangra: Buta Singh & Party</li>
                <li>Dodda Gombe</li>
                <li>Kalaripayattu: CVN Kalari Sangam, Trivandrum</li>
                <li>Kamasale</li>
                <li>Karadi Majalu</li>
                <li>Nadaswaram: Dollu Venkatesh & Party</li>
                <li>Puja Kunita</li>
                <li>Somana Kunita</li>
                <li>Veeragase</li>
                <li>Yakshagana: Keremane Shambhu Hegde & Sri Idagunji<br />Mahaganapathi Yakshagana Mandali</li>
                <li>Yakshagana: Makkala Mela, Saligrama, Dakshina Kannada</li>
              </ul>
            </div>
          </div>
        </div>
      </dialog>
      <script type="text/javascript">
        const vhModal = document.querySelector('#vh-performers');
        const openVHModal = document.querySelector('#openModal-vh-performers');
        const closeVHModal = document.querySelector('#closeModal-vh-performers');

        openVHModal.addEventListener('click', () => {
          vhModal.showModal();
        });

        closeVHModal.addEventListener('click', () => {
          vhModal.close();
        });
      </script>
    </p>
    <p>
			Nrityagram has also proudly showcased over 5000 children from the village outreach programme. For many of the
			children, performing at Vasantahabba, on the same stage as the great maestros was an incredibly powerful
			experience.
		</p>
    <p>Vasantahabba was discontinued in 2005 and we hope to launch it in a new avatar some day.</p>
    <br>
  </div>
</div>

<div class="container">
  <div class="wrapper ultra-wide flow">
    <div class="even-columns">
      <div class="left-column">
        <div class="image-plus card" onclick="location.href='/community';">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/a_hflip/v1646055237/space-masthead-desk_ajtshm.jpg",
          "Community Card",
          ["560", "768"] %}
          <div class="credit" data-image-credit="Surupa Sen" ></div>
          <div class="card-title">Community</div>
        </div>
      </div>
      <div class="right-column">
        <div class="image-plus card" onclick="location.href='/village-outreach';">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1569846362/village_outreach_pi9mro.jpg",
          "Village Outreach Card",
          ["560", "768"] %}
          <div class="credit" data-image-credit="M Srinivas Murthy" ></div>
          <div class="card-title">Village Outreach</div>
        </div>
      </div>
    </div>
    <div class="even-columns">
      <div class="left-column">
        <div class="image-plus card" onclick="location.href='/kula-artistes-residence';">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1719899818/Kula-masthead-desk_ktpdi9.png",
          "Kula: Artistes’ Residence Card",
          ["560", "768"] %}
          <div class="credit" data-image-credit="Unknown" ></div>
          <div class="card-title">
            Kula
            <div class="sub-title">Artistes’ Residence</div>
          </div>
        </div>
      </div>
      <div class="right-column">
        <div class="image-plus card" onclick="location.href='/building-a-dance-community';">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1718616963/dance-commons-masthead-desk_qs6rlh.png",
          "Building a Dance Community Card",
          ["560", "768"] %}
          <div class="credit" data-image-credit="Ravi Shankar" ></div>
          <div class="card-title">
            Dance Commons
            <div class="sub-title">Building a Dance Community</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>