---
layout: layouts/page.njk
date: Last Modified
eleventyExcludeFromCollections: true
parentMenuItem: "Subscribe"
title: "Subscribe to our Newsletter"
description: "Subscribe to our Newsletter and stay connected with us. Nrityagram is a one-of-a-kind collective of artistes, where dance is a way of life."
nobanner: true
---
<div class="container">
  <div class="wrapper flow">
    <h2 class="center">Subscribe to our Newsletter</h2>
    <iframe width="540" height="1000" src="https://ad245a8d.sibforms.com/serve/MUIFAGawJcAZVCvNrDT5WZRJwWQh9n4Jpcoib8wAHcYRUZwRB-L0C0-PxhSNTlMsGT-KVLY2Q6L2lM7QZMaNlFJ-Xsm9Ks8KcLGlZ56Plpt0ZXbUJlRNZZn2S8Z44YyZtg_0EltuFiEinsEvhLomROgNh-7xEk1v83U8zlFMQAIMtCr_kYZzBsKrDT4bDa3i-UMPWIiY4rofRika" frameborder="0" scrolling="auto" allowfullscreen style="display: block;margin-left: auto;margin-right: auto; max-width: 100%;overflow-y: visible;"></iframe>
  </div>
</div>